
{% set version = 'version-9' %}

<div class="holdingBlock">
     <strong class="govuk-tag govuk-!-margin-bottom-2">BETA</strong>
     <h2 class="govuk-heading-m govuk-!-margin-bottom-0">Large and Complex Cases v9</h2>
     <p class="govuk-body govuk-!-margin-bottom-10">30th July 2025 - </p>
     <ul class="govuk-list  govuk-list--bullet">
          <li>Register a case</li>
     </ul>
     
     <form method="get" action="/version-9/B-off-system-MVP/01-search" id="" class="govuk-!-margin-bottom-6" style="display: inline-block; clear: left;">  

          <input id="shared_Drive_Indexing" name="shared_Drive_Indexing" type="text" value="false" style="display: none;">
          <input id="shared_Drive_Transferring" name="shared_Drive_Transferring" type="text" value="false" style="display: none;">
          <input id="shared_Drive_Copying" name="shared_Drive_Copying" type="text" value="false" style="display: none;">
          <input id="verion_MVP" name="verion_MVP" type="text" value="true" style="display: none;">
          <button type="submit" class="govuk-button govuk-!-margin-bottom-0" style="" onclick="">BETA - MVP</button>
     </form>

     <h2 class="govuk-heading-m govuk-!-margin-bottom-0">Shared drive variants</h2>
     <ul class="govuk-list  govuk-list--bullet">
          <li>     
               <form method="get" action="/version-9/B-off-system-MVP/03-case-overview" id="" class="">  
                    <input id="shared_Drive_Indexing" name="shared_Drive_Indexing" type="text" value="true" style="display: none;">
                    <input id="shared_Drive_Transferring" name="shared_Drive_Transferring" type="text" value="false" style="display: none;">
                    <input id="shared_Drive_Copying" name="shared_Drive_Copying" type="text" value="false" style="display: none;">
                    <button type="submit" class="non-button" style="" onclick="">Indexing</button>
               </form>
          </li>
          <li>     

               <form method="get" action="/version-9/B-off-system-MVP/03-case-overview" id="" class="">  
                    <input id="shared_Drive_Indexing" name="shared_Drive_Indexing" type="text" value="false" style="display: none;">
                    <input id="shared_Drive_Transferring" name="shared_Drive_Transferring" type="text" value="true" style="display: none;">
                    <input id="shared_Drive_Copying" name="shared_Drive_Copying" type="text" value="false" style="display: none;">
                    <button type="submit" class="non-button" style="" onclick="">Transferring</button>
               </form>
          </li>
          <li>     

               <form method="get" action="/version-9/B-off-system-MVP/03-case-overview" id="" class="">  
                    <input id="shared_Drive_Indexing" name="shared_Drive_Indexing" type="text" value="false" style="display: none;">
                    <input id="shared_Drive_Transferring" name="shared_Drive_Transferring" type="text" value="false" style="display: none;">
                    <input id="shared_Drive_Copying" name="shared_Drive_Copying" type="text" value="true" style="display: none;">
                    <button type="submit" class="non-button" style="" onclick="">Copying</button>
               </form>
          </li>
     </ul>

</div>
