<!-- ///////////////////////////////// TAB 2 - CONTENT - START ///////////////////////////////// -->
<div class="govuk-grid-row">
    <h1 class="govuk-heading-l govuk-!-margin-left-3 govuk-!-margin-top-0">Manage materials on shared drive</h1>
    <!-- <p class="govuk-body govuk-!-margin-left-3"><a class="govuk-link">View egress</a></p> -->
    <p class="govuk-body govuk-!-margin-left-3 govuk-!-margin-top-0 govuk-!-margin-bottom-8">You can add, rename or remove materials and folders to the shared drive. You can also <a class="govuk-link">manage materials and folders on Egress</a>.</p>
</div>
<div class="govuk-grid-row">

    <div class="govuk-grid-column-one-quarter" id="materials_column_1">
        <div class="moj-filter-layout__filter">
            {% include "../materials/materials-filter.html" %}
        </div>
    </div>

    <div class="govuk-grid-column-three-quarters" id="materials_column_2">

        <div class="govuk-grid-row">
            <div class="govuk-grid-column-one-half">
                <!-- <div class="info_wrapper" style="display: flex; align-items: center; gap: 1rem; line-height: 1.5;"> -->
                    <div class="info_wrapper" style="display:flex; align-items:center; gap:1rem;">
                    <button id="toggle_filter_Materials" type="button" class="govuk-button govuk-button--secondary">
                        Show filter
                    </button>
                    {% if data['discarding_material_COMPLETED'] == 'true' %}
                        <p class="materials-status govuk-body govuk-!-margin-bottom-0">
                            Showing <strong>{{materials.length -1}}</strong> materials out of <strong>{{materials.length -1}}</strong>
                        </p>
                    {% else %}
                        <p class="materials-status govuk-body govuk-!-margin-bottom-0">
                        Showing <strong>{{materials.length}}</strong> materials out of <strong>{{materials.length}}</strong>
                        </p>                    
                    {% endif %}
                </div>
            </div>
            <div class="govuk-grid-column-one-half">
                <div class="actions_holder">
                    <div class="moj-button-menu">
                        <button type="button" class="govuk-button govuk-button--secondary" data-module="govuk-button"
                            id="show_Materials_Actions">
                            Actions on selection <svg width="11" height="5" viewBox="0 0 11 5" xmlns="http://www.w3.org/2000/svg">
                                <path d="M5.5 0L11 5L0 5L5.5 0Z" fill="currentColor"></path>
                            </svg>
                        </button>
                        <div class="hidden_buttons" id="materials_Actions">
                            <!-- Rename should only be available for single selections, not multiple -->
                            <button type="button" class="govuk-button govuk-button--disabled reclassify_Document_Multiple_Docs rename-Document" data-module="govuk-button" onclick="return openRenameModal();" data-rename="1">Rename</button>
                            
                            <!-- <button type="button" id="update-and-reclassify"
                                    class="govuk-button govuk-button--disabled reclassify-Document reclassify_Document_Multiple_Docs"
                            data-module="govuk-button" disabled>Reclassify</button> -->

                            <!-- Update should only be available for Statements or Exhibits -->
                            <!-- <button type="button" id="update-statement"
                                    class="govuk-button govuk-button--disabled reclassify_Document_Multiple_Docs"
                                    data-module="govuk-button" onclick="return openUpdateStatement();" disabled>Update statement</button>

                            <button type="button" id="update-exhibit"
                                    class="govuk-button govuk-button--disabled reclassify_Document_Multiple_Docs"
                                    data-module="govuk-button" onclick="return openUpdateExhibit();" disabled>Update exhibit</button>

                            <button type="button"
                                    class="govuk-button govuk-button--disabled redact_Document_Multiple_Docs"
                                    data-module="govuk-button" disabled>Redact</button>
 -->
                            <form method="post" action="B-discard_material">
                                <input id="material_selected" name="material_selected" type="text" value="MCLOVE MG3" style="display: none;">
                                <button class="govuk-button govuk-button--disabled reclassify_Document_Multiple_Docs" data-module="govuk-button" type="submit">Discard</button>
                            </form>

                            <button class="govuk-button mark_as_Read govuk-button--disabled reclassify_Document_Multiple_Docs" data-module="govuk-button" type="button">Mark as read</button>

                            <button type="button"
                                    class="govuk-button govuk-button--disabled reclassify_Document_Multiple_Docs"
                            data-module="govuk-button" disabled>Mark as unused</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <nav class="govuk-breadcrumbs govuk-!-margin-top-0" aria-label="Breadcrumb">
        <ol class="govuk-breadcrumbs__list">
            <li class="govuk-breadcrumbs__list-item">
            <form action="/ur-dec-2025-closed/B-off-system-MVP/case-overview" method="post">
            <td class="govuk-table__cell title_column">
                <input type="hidden" name="folderName" value="{{ material.name }}">
                <input type="hidden" name="level" value="1">

                <button type="submit" name="materialId" value="{{ material.id }}" class="govuk-breadcrumbs__link">
                    Shared drive7
                </button>
                </div>
            </td>
            </form>

            </li>
            <li class="govuk-breadcrumbs__list-item">
                <a class="govuk-breadcrumbs__link" href="#">1. Case management</a>
            </li>
            <!-- <li class="govuk-breadcrumbs__list-item">
            <a class="govuk-breadcrumbs__link" href="#">Travel abroad</a>
            </li> -->
        </ol>
        </nav>

        <table class="govuk-table sortable" id="materials_table">
            <thead class="govuk-table__head">
                <tr class="govuk-table__row">
                    <th scope="col" class="govuk-table__header">
                        <div class="govuk-checkboxes govuk-checkboxes--small MT-15" data-module="govuk-checkboxes">
                            <div class="govuk-checkboxes__item">
                                <input class="govuk-checkboxes__input" id="materials_documents_ALL"
                                    name="materials_document" type="checkbox" value="Select all">
                                <label class="govuk-label govuk-checkboxes__label"
                                    for="materials_documents_ALL"></label>
                            </div>
                        </div>
                    </th>
                    <th scope="col" class="govuk-table__header"><button class="govuk-button"
                            data-module="govuk-button">Material</button></th>
                    <th scope="col" class="govuk-table__header"><button class="govuk-button"
                            data-module="govuk-button">Type</button></th>
                    <th scope="col" class="govuk-table__header"><button class="govuk-button"
                            data-module="govuk-button">Category</button></th>
                    <th scope="col" class="govuk-table__header"><button class="govuk-button"
                            data-module="govuk-button">Date</button></th>
                    <th scope="col" class="govuk-table__header"><button class="govuk-button"
                            data-module="govuk-button">Status</button></th>
                    <th scope="col" class="govuk-table__header"></th>
                </tr>
            </thead>
            <tbody class="govuk-table__body">
                
                {% for material in materials %}
                {% if
                    (not data['filterNew'] or material.new == true or material.new == 'true' or material.status == 'New')
                    and (not data['filterStatusUsed'] or material.status == data['filterStatusUsed'])
                    and (not data['filterStatusUnused'] or material.status == data['filterStatusUnused'])
                    and (not data['filterStatusNone'] or material.status == data['filterStatusNone'])
                    and (not data['filterCategoryReviews'] or material.category == data['filterCategoryReviews'])
                    and (not data['filterCategoryCaseOverview'] or material.category == data['filterCategoryCaseOverview'])
                    and (not data['filterCategoryStatements'] or material.category == data['filterCategoryStatements'])
                    and (not data['filterCategoryExhibits'] or material.category == data['filterCategoryExhibits'])
                    and (not data['filterCategoryForensics'] or material.category == data['filterCategoryForensics'])
                    and (not data['filterCategoryUnusedMaterial'] or material.category == data['filterCategoryUnusedMaterial'])
                    and (not data['filterCategoryDefendant'] or material.category == data['filterCategoryDefendant'])
                    and (not data['filterCategoryCourtPreparation'] or material.category == data['filterCategoryCourtPreparation'])
                %}
                <!-- ||||||||||||||| Materials ||||||||||||||| -->
                {% if data['discarding_material_COMPLETED'] == 'true' and data['material_selected'] == '{{material.name}}' %}

                {% else %}
                {% if material.level == 1 %}
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell">
                        <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
                            <div class="govuk-checkboxes__item">
                                <input class="govuk-checkboxes__input" id="{{material.id}}"
                                    name="materials_document" type="checkbox" value="{{material.name}}">
                                <label class="govuk-label govuk-checkboxes__label" for="materials_document_{{material.id}}"><span
                                        class="visuallyhidden">{{material.name}}</span></label>
                            </div>
                        </div>
                    </td>
                    <td class="govuk-table__cell title_column">
                        {% if material.new == true %} 
                        <strong class="govuk-tag govuk-tag--blue">New</strong>
                        {% endif %}
                        <div class="openMe">
                            {% if material.folder == true %}<span class="icon-new folder"></span>{% endif %}<a class="govuk-button show_material" data-id="{{material.id}}" data-doc="{{material.docLink}}">{{material.name}}</a>
                        </div>
                    </td>
                    <td class="govuk-table__cell">{{material.type}}</td>
                    <td class="govuk-table__cell">{{material.category}}</td>
                    <td class="govuk-table__cell">{{material.date}}</td>
                    <td class="govuk-table__cell">
                    {% if material.status == 'None' %}
                        <strong class="govuk-tag govuk-tag--grey">
                    {% elseif material.status == 'Used' %}
                        <strong class="govuk-tag govuk-tag--blue">
                    {% else %}
                        <strong class="govuk-tag govuk-tag--yellow">
                    {% endif %}
                            {{material.status}}
                        </strong>
                    </td>
                    
                    <td class="govuk-table__cell toggle-panel">
                        {% if material.folder != true %}
                            <button type="button" class="govuk-button show_material_actions show-case"
                            onclick="return openMaterial(event);"
                            data-id="{{material.id}}"
                            data-doc="{{material.previewLink}}">
                            Preview <i class="fa-solid fa-chevron-down"></i>
                            </button>                        
                        {% endif %}
                    </td>
                    
                </tr>
                <tr class="govuk-table__row hidden_row" data-row_id="{{material.id}}">
                    <td colspan="7">
                        <div class="document_holder" id=""><embed src="{{material.previewLink}}"></div>
                    </td>
                </tr>
                {% endif %}
                {% endif %}
                {% endif %}
                {% endfor %}
                <!-- ||||||||||||||| ROW 1 - END ||||||||||||||| -->

            </tbody>
        </table>

        <p class="no_results"><strong>No results</strong> found in materials</p>
    </div>

</div>
<!-- ///////////////////////////////// TAB 2 - CONTENT - END ///////////////////////////////// -->