{% extends "layoutCPS-NEW-INDEX.html" %}
{% block header %}
    {% include "../../includes/banner-OFF-V7.html" %}
{% endblock %}
{% block beforeContent %}
<a class="govuk-back-link" href="javascript:history.back()">Back</a>
{% endblock %}
{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
      <form action="/ur-mar-2026/B-off-system-MVP/create-case/03-suspect-details-add-alias" method="post" novalidate>

      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset" aria-describedby="contact-hint">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
            <!-- <span class="govuk-caption-m">Alias {{data['aliasCount'] + 1}}</span> -->
            <h1 class="govuk-fieldset__heading">
              What alias does <span class="uppercase">{{ data['suspect-person-last-name'] }}</span>, {{ data['suspect-person-first-name'] }} use? 
            </h1>
          </legend>
          <div id="changedName-hint" class="govuk-hint">
              You can add more aliases on the next page if needed.
          </div>


          <div class="govuk-form-group">
            <label class="govuk-label govuk-!-font-weight-bold" for="alias-type-person-first-name">
              First name
            </label>
          <div id="changedName-hint" class="govuk-hint">
              Leave blank if you only have one name
          </div>
            <input class="govuk-input govuk-!-width-one-third" id="alias-first-name" name="alias-first-name" type="text" spellcheck="false" autocomplete="text" value="{{ data['aliasFirstName'][data['editAlias']]}}">
          </div>
          
          <div class="govuk-form-group">
            <label class="govuk-label govuk-!-font-weight-bold" for="alias-last-name">
              Last name
            </label>
            <input class="govuk-input govuk-!-width-one-third" id="alias-last-name" name="alias-last-name" type="text" spellcheck="false" autocomplete="text" value="{{ data['aliasLastName'][data['editAlias']]}}">
          </div>
        </fieldset>

        <input type="hidden" name="id" value="{{ data['aliasId'][data['id']]}}">
        <input type="hidden" name="update" value="{{data['id']}}">

      </div>


      {% include "../../includes/buttons.html" %}

    </form>
  </div>
</div>

{% endblock %}