
{% set version = 'ur-mar-2026-closed' %}


<div class="holdingBlock">
     <strong class="govuk-tag govuk-!-margin-bottom-2">Development</strong>
     <h2 class="govuk-heading-m govuk-!-margin-bottom-0">Large and Complex Cases v13</h2>
     <p class="govuk-body govuk-!-margin-bottom-10">10 February 2026 &ndash; present</p>
     <ul class="govuk-list  govuk-list--bullet">
          <li><a href="/ur-mar-2026-closed/B-off-system-MVP/03-case-overview">Manage materials</a><br><strong class="govuk-tag govuk-tag--yellow govuk-!-margin-bottom-2">In research</strong><strong class="govuk-tag govuk-tag--red govuk-!-margin-bottom-2">Unstable</strong> 
               <!-- <strong class="govuk-tag govuk-tag--blue govuk-!-margin-bottom-2">Work in progress</strong> -->
          <li><a href="/ur-mar-2026-closed/B-off-system-MVP/create-case/01-register-case">Register a case</a></li>
     </ul>
     
     <!-- <h2 class="govuk-heading-m govuk-!-margin-bottom-3">Quick links</h2>
     <ul class="govuk-list  govuk-list--bullet">
          <li><a href="/ur-mar-2026-closed/B-off-system-MVP/create-case/03-add-suspect">Add a suspect</a></li>
     </ul> -->

</div>

