{% extends "layoutCPS-OFF.html" %}
{% block header %}
    {% include "../../includes/banner-OFF-V7.html" %}
{% endblock %}
{% block beforeContent %}
<a class="govuk-back-link" href="javascript:history.back()">Back</a>
{% endblock %}
{% block content %}

<div class="govuk-grid-row" id="create-case-journey">

    <div class="govuk-grid-column-two-thirds">
        <div class="gov-pages">
            {% if errorList and errorList.length %}
            <div class="govuk-error-summary" data-module="govuk-error-summary">
                <div role="alert">
                    <h2 class="govuk-error-summary__title">
                        There is a problem
                    </h2>
                    <div class="govuk-error-summary__body">
                        <ul class="govuk-list govuk-error-summary__list">
                            {% for error in errorList %}
                            <li>
                                <a href="{{ error.href }}">{{ error.text }}</a>
                                {% if error.skipHref and error.skipText %}
                                <div class="govuk-!-margin-top-3">
                                    <a class="govuk-link" style="font-weight: normal;" href="{{ error.skipHref }}">{{ error.skipText }}</a>
                                </div>
                                {% endif %}
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
            {% endif %}

            <form method="post" action="/version-15/B-off-system-MVP/create-case/03-suspect-details-disability">  

                <fieldset class="govuk-fieldset">

                <div class="govuk-form-group{% if errors and errors.disability %} govuk-form-group--error{% endif %}">
                <fieldset class="govuk-fieldset">
                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                    <h1 class="govuk-fieldset__heading">
                        Does <span class="uppercase">{{ data['suspect-person-last-name'] }}</span>, {{ data['suspect-person-first-name'] }} have a disability?
                    </h1>
                    </legend>
                    {% if errors and errors.disability %}
                    <span id="disability-error" class="govuk-error-message">
                        <span class="govuk-visually-hidden">Error:</span> {{ errors.disability }}
                    </span>
                    {% endif %}
                    <div class="govuk-radios" data-module="govuk-radios">
                    <div class="govuk-radios__item">
                        <input class="govuk-radios__input" id="disability-yes" name="disability" type="radio" value="Yes" {% if data['suspectDisability'][data['suspectDetailsCount']] == 'Yes' %}checked{% endif %} {% if errors and errors.disability %}aria-describedby="disability-error"{% endif %}>
                        <label class="govuk-label govuk-radios__label" for="disability-yes">
                        Yes
                        </label>
                    </div>
                    <div class="govuk-radios__item">
                        <input class="govuk-radios__input" id="disability-no" name="disability" type="radio" value="No" {% if data['suspectDisability'][data['suspectDetailsCount']] == 'No' %}checked{% endif %} {% if errors and errors.disability %}aria-describedby="disability-error"{% endif %}>
                        <label class="govuk-label govuk-radios__label" for="disability-no">
                        No
                        </label>
                    </div>

                </fieldset>
                </div>

                {% include "../../includes/buttons.html" %}
            </form>

        </div>
    </div>
    <div class="govuk-grid-column-one-third">

    </div>
</div>

{% endblock %}
