<article>
    <div class="govuk-button-group govuk-!-margin-top-6">
        <button class="govuk-button" data-module="govuk-button" name="submit-button" value="continue">
          Continue
        </button>
        <!-- <button type="button" onclick="location.href='../../../';" class="non-button margin-left" id="">Cancel</button> -->
        <!-- <button class="govuk-button govuk-button--secondary" data-module="govuk-button" name="submit-button" value="cancel"> -->

        <button type="button" class="non-button" id="">Cancel</button>

        Cancel
        </button>
    </div>
</article>