
{% set version = 'ur-may-2026' %}
<div class="holdingBlock">
     <strong class="govuk-tag govuk-tag--yellow govuk-!-margin-bottom-2">Research</strong>
     <h2 class="govuk-heading-m govuk-!-margin-bottom-0">Large and Complex Cases research</h2>
     <p class="govuk-body govuk-!-margin-bottom-5">11 May 2026 &ndash; 15 May 2026</p>
     <p class="govuk-body govuk-!-font-weight-bold">Research with tbd</p>
     <ul class="govuk-list  govuk-list--bullet">
          <li><a href="/ur-may-2026/B-off-system-MVP/03-case-overview">Manage materials</a></li> 
     </ul>
     
</div>

