{% extends "layoutCPS-NEW-INDEX.html" %}
{% block header %}
    {% include "../includes/banner-OFF-V6.html" %}
{% endblock %}
{% block beforeContent %}
<a class="govuk-back-link" href="javascript:history.back()">Back</a>
{% endblock %}
{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <form action="/version-15/B-off-system-MVP/04A-create-or-link-folders" method="post" novalidate>

      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset" aria-describedby="folders-hint">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
            <h1 class="govuk-fieldset__heading">
              How do you want to set up the folders?
            </h1>
          </legend>
          <div id="folders-hint" class="govuk-hint">
            Select all that apply
          </div>
          <div class="govuk-checkboxes" data-module="govuk-checkboxes">
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="create-egress" name="create-egress" type="checkbox" value="Create new Egress folders">
              <label class="govuk-label govuk-checkboxes__label" for="create-egress">
                Create new Egress folders
              </label>
            </div>
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="connect-egress" name="connect-egress" type="checkbox" value="Connect Egress folders">
              <label class="govuk-label govuk-checkboxes__label" for="connect-egress">
                Connect Egress folders
              </label>
            </div>
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="create-shared-drive" name="create-shared-drive" type="checkbox" value="Create new Shared Drive folders">
              <label class="govuk-label govuk-checkboxes__label" for="create-shared-drive">
                Create new Shared Drive folders
              </label>
            </div>
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="connect-shared-drive" name="connect-shared-drive" type="checkbox" value="Connect Shared Drive folders">
              <label class="govuk-label govuk-checkboxes__label" for="connect-shared-drive">
                Connect Shared Drive folders
              </label>
            </div>
          </div>
        </fieldset>
      </div>
      {% include "../includes/buttons.html" %}

    </form>
  </div>
</div>

{% endblock %}