<article>
    <div class="govuk-button-group govuk-!-margin-top-6">
        <button class="govuk-button" data-module="govuk-button" name="submit-button" value="continue">
          Save and continue
        </button>
        <!-- <button type="button" onclick="location.href='../../../';" class="non-button margin-left" id="">Cancel</button> -->
        <!-- <button class="govuk-button govuk-button--secondary" data-module="govuk-button" name="submit-button" value="cancel"> -->

        
        <a class="govuk-link" href="#">Cancel</a>

        Cancel
        </button>
    </div>
</article>