<style>
    #new-tabs.off-cms-overview .version-16-case-tabs .govuk-tabs__list-item {
        padding: 0;
    }

    #new-tabs.off-cms-overview .version-16-case-tabs .govuk-tabs__list-item--selected {
        padding-right: 0 !important;
    }

    #new-tabs.off-cms-overview .version-16-case-tabs .version-16-case-tab-link {
        color: #0b0c0c;
        display: block;
        padding: 10px 15px;
        position: relative;
        text-decoration: underline;
    }

    #new-tabs.off-cms-overview .version-16-case-tabs .govuk-tabs__list-item--selected .version-16-case-tab-link {
        padding-right: 19px;
    }
</style>

<ul class="govuk-tabs__list version-16-case-tabs">
    <li class="govuk-tabs__list-item{% if activePage == 'transfer-materials' %} govuk-tabs__list-item--selected{% endif %}">
        <a class="version-16-case-tab-link" href="/version-16/lcc/materials/transfer-materials">Transfer materials</a>
    </li>
    <li class="govuk-tabs__list-item{% if activePage == 'manage-materials' %} govuk-tabs__list-item--selected{% endif %}">
        <a class="version-16-case-tab-link" href="/version-16/lcc/materials/manage-materials">Manage materials</a>
    </li>
    <li class="govuk-tabs__list-item{% if activePage == 'activity-log' %} govuk-tabs__list-item--selected{% endif %}">
        <a class="version-16-case-tab-link" href="/version-16/lcc/materials/activity-log">Activity log</a>
    </li>
</ul>
