{% extends "layoutCPS-OFF-V11.html" %}
{% block header %}
    {% include "version12/includes/banner-OFF-V6.html" %}
{% endblock %}
{% block beforeContent %}
    {% include "version12/includes/off-system-MVP/modalConfirmation-Transfer_Complete.html" %}
    {% include "version12/includes/off-system-MVP/modalConfirmation-Transfer.html" %}
    {% include "version12/includes/off-system-MVP/modalConfirmation-Delete.html" %}
    {% include "version12/includes/off-system-MVP/modalConfirmation-NewFolder.html" %}
    {% include "version12/includes/off-system-MVP/modalConfirmation-Move.html" %}
    {% include "version12/includes/modals/rename.html" %}
    {% include "version12/includes/modals/feedback.html" %}
    {% include "version12/includes/modals/report-a-problem.html" %}
    {% include "version12/includes/modals/search.html" %}
    {% include "version12/includes/modals/notes-new.html" %}
    {% include "version12/includes/modals/notes.html" %}
    {% include "version12/includes/modals/update-statement.html" %}
    {% include "version12/includes/modals/update-exhibit.html" %}


    {% if data['searchOFF_URN_VALUE'] %}
        <div class="hods-status-message case-file-page large_and_complex">
            <div class="govuk-width-container">
                <div class="govuk-grid-row">
                    <div class="govuk-grid-column-full">
                        <div class="hods-status-message__status">
                            <span class="hods-status-message__extra">
                                <strong>Liam Davies</strong> and <strong>Michael Scott</strong> are also working on this case
                            </span>
                            <span class="hods-status-message__extra">
                                Last active: <strong>Now</strong>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% else %}

    {% endif %}

{% endblock %}
{% block v11Content %}

<div class="govuk-grid-row">

    <div class="govuk-grid-column-full main_Case_Title">

        <div class="title-wrapper"> 
            {% if data['operationName'] %}
                <h1 class="govuk-heading-xl govuk-!-margin-bottom-0 govuk-!-margin-top-4">{{ data['operationName'] }}</h1>
            {% else %}
                <h1 class="govuk-heading-xl govuk-!-margin-bottom-0 govuk-!-margin-top-4">Thundercat</h1>
            {% endif %}
            <span class="govuk-caption-m govuk-!-margin-bottom-4">
                {% if data['URN1'] %}
                    {{ data['URN1'] }}{{ data['URN2'] }}{{ data['URN3'] }}/{{ data['URN4'] }}
                {% else %}  
                    87AA65432/25
                {% endif %}
            </span>
        </div>
    </div>

    <div class="govuk-grid-column-full">
        <div class="govuk-tabs off-cms-overview" id="new-tabs">

            <ul class="govuk-tabs__list">
                <li class="govuk-tabs__list-item" id="tab-1"><a class="tab-link tab-1-content">Transfer materials</a></li>
                <li class="govuk-tabs__list-item govuk-tabs__list-item--selected" id="tab-2"><a class="tab-link tab-2-content">Manage materials</a></li>
                <!-- <li class="govuk-tabs__list-item" id="tab-3"><a class="tab-link tab-3-content">Bundles (1)</a></li> -->
                <li class="govuk-tabs__list-item" id="tab-4"><a class="tab-link tab-4-content">Activity log</a></li>
            </ul>

            <!-- /////////////// TAB CONTENT 1 - START /////////////// -->
            {% if data['shared_drive_NewFolder'] %}
                <div class="panel" id="tab-1-content">
            {% else %}
                <div class="panel" id="tab-1-content" style="display: none;">
            {% endif %}
            {% if data['shared_Drive_Indexing'] == 'true' or data['shared_Drive_Transferring'] == 'true' or data['shared_Drive_Copying'] == 'true' %}
                {% include "version12/includes/off-system-MVP/overview-materials_SD.html" %}
            {% else %}
                {% include "version12/includes/off-system-MVP/overview-materials.html" %}
            {% endif %}
            </div>
            <!-- /////////////// TAB CONTENT 1 - END /////////////// -->

            <!-- /////////////// TAB CONTENT 2 - START /////////////// -->
            {% if data['shared_drive_NewFolder'] %}
                <div class="panel" id="tab-2-content">
            {% else %}
                <div class="panel" id="tab-2-content">
            {% endif %}
            {% if data['shared_Drive_Indexing'] == 'true' or data['shared_Drive_Transferring'] == 'true' or data['shared_Drive_Copying'] == 'true' %}
                {% include "version12/includes/materials/tab-manage-materials.html" %}
            {% else %}
                {% include "version12/includes/materials/tab-manage-materials.html" %}
            {% endif %}
            </div>
            <!-- /////////////// TAB CONTENT 2 - END /////////////// -->

            <!-- /////////////// TAB CONTENT 3 - START /////////////// -->
            <div class="panel" id="tab-3-content" style="display: none;">
                {% include "version12/includes/off-system-MVP/overview-bundles.html" %}
            </div>
            <!-- /////////////// TAB CONTENT 3 - END /////////////// -->

            <!-- /////////////// TAB CONTENT 4 - START /////////////// -->
            <div class="panel" id="tab-4-content" style="display: none;">
                {% include "version12/includes/off-system-MVP/activity-log.html" %}
            </div>
            <!-- /////////////// TAB CONTENT 4 - END /////////////// -->

        </div>

    </div>

</div>

{% endblock %}