{% set version = 'version-1' %}

<div class="holdingBlock">
     <strong class="govuk-tag govuk-!-margin-bottom-2">BETA</strong>
     <h2 class="govuk-heading-m govuk-!-margin-bottom-0">Large and Complex Cases v2</h2>
     <p class="govuk-body govuk-!-margin-bottom-10">25th February 2025 - 11th March 2025</p>
     <ul class="govuk-list govuk-list--bullet">
          <li>Link Egress and Shared Drive</li>
          <li>Transfer files</li>
     </ul>
     <form method="get" action="/version-1/B-off-system-MVP/01-search" id="" class="govuk-!-margin-bottom-2" style="display: inline-block; clear: left;">  
          <input id="verion_MVP" name="verion_MVP" type="text" value="true" style="display: none;">
          <button type="submit" class="govuk-button govuk-!-margin-bottom-0" style="" onclick="">BETA - MVP</button>
     </form>
</div>
