{% set version = 'version-3' %}

<div class="holdingBlock">
     <strong class="govuk-tag govuk-!-margin-bottom-2">BETA</strong>
     <h2 class="govuk-heading-m govuk-!-margin-bottom-0">Large and Complex Cases v4</h2>
     <p class="govuk-body govuk-!-margin-bottom-10">2nd April 2025 - 15th April 2025</p>
     <ul class="govuk-list  govuk-list--bullet">
          <li>Iteration - link Egress and Shared Drive</li>
          <li>Iteration - Transfer files</li>
          <li>Unzip folders</li>
          <li>Long file paths</li>
          <li>Rename, delete and move folders/files</li>
     </ul>
     <form method="get" action="/version-3/B-off-system-MVP/01-search" id="" class="govuk-!-margin-bottom-2" style="display: inline-block; clear: left;">  
          <input id="verion_MVP" name="verion_MVP" type="text" value="true" style="display: none;">
          <button type="submit" class="govuk-button govuk-!-margin-bottom-0" style="" onclick="">BETA - MVP</button>
     </form>
</div>
