{% extends "layoutCPS-NEW-INDEX.html" %}
{% block header %}
    {% include "../includes/banner-OFF-V6.html" %}
{% endblock %}
{% block beforeContent %}
<a class="govuk-back-link" href="javascript:history.back()">Back</a>
{% endblock %}
{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <form action="/version-14/B-off-system-MVP/create-case/case-details-placeholder" method="post" novalidate>

      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset" aria-describedby="signIn-hint">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
            <h1 class="govuk-fieldset__heading">
              Which Shared Drive folder template do you want to use?
            </h1>
          </legend>

          <div class="govuk-radios" data-module="govuk-radios">
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="shared-drive-template-pre-charge" name="shared-drive-template" type="radio" value="Pre-charge" aria-describedby="sharedDrive template ccs" {% if data['sharedDriveTemplate'] == 'Pre-charge' %} checked {% endif %}>
              <label class="govuk-label govuk-radios__label" for="shared-drive-template-pre-charge">
                Pre-charge
              </label>
              <div id="signIn-item-hint" class="govuk-hint govuk-radios__hint">
                For cases before a charging decision
              </div>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="shared-drive-template-charged" name="shared-drive-template" type="radio" value="Charged" aria-describedby="sharedDrive template ccs" {% if data['sharedDriveTemplate'] == 'Charged' %} checked {% endif %}>
              <label class="govuk-label govuk-radios__label" for="shared-drive-template-pre-charge">
                Charged
              </label>
              <div id="signIn-item-hint" class="govuk-hint govuk-radios__hint">
                For cases where charges have been made
              </div>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="shared-drive-template-appeal" name="shared-drive-template" type="radio" value="Appeal" aria-describedby="sharedDrive template cps areas" {% if data['sharedDriveTemplate'] == 'Appeal' %} checked {% endif %}>
              <label class="govuk-label govuk-radios__label" for="shared-drive-template-cps-areas">
                Appeal
              </label>
              <div id="signIn-2-item-hint" class="govuk-hint govuk-radios__hint">
                For appeal cases
              </div>
            </div>
          </div>
        </fieldset>
      </div>

      {% include "../includes/buttons.html" %}

    </form>
  </div>
</div>

{% endblock %}