
{% set version = 'version-14' %}


<div class="holdingBlock">
     <strong class="govuk-tag govuk-!-margin-bottom-2">Development</strong>
     <h2 class="govuk-heading-m govuk-!-margin-bottom-0">Large and Complex Cases </h2>
     <strong class="govuk-tag govuk-tag--purple govuk-!-margin-bottom-2">Beta v1</strong> 
     <p class="govuk-body govuk-!-margin-bottom-10">9 March 2026 &ndash; present</p>
     <ul class="govuk-list  govuk-list--bullet">
          <li><a href="/manage-materials-beta-v1/B-off-system-MVP/03-case-overview">Manage materials</a><strong class="govuk-tag govuk-tag--red govuk-!-margin-bottom-2">Work in progress</strong> 
     </ul>
     
     <!-- <h2 class="govuk-heading-m govuk-!-margin-bottom-3">Quick links</h2>
     <ul class="govuk-list  govuk-list--bullet">
          <li><a href="/version-14/B-off-system-MVP/create-case/03-add-suspect">Add a suspect</a></li>
     </ul> -->

</div>

