{% extends "layoutCPS-NEW-INDEX.html" %}
{% block header %}
    {% include "../includes/banner-OFF-V4.html" %}
{% endblock %}
{% block beforeContent %}
    {% include "../includes/off-system-MVP/modalConfirmation-Transfer_Complete.html" %}
    {% include "../includes/off-system-MVP/modalConfirmation-Transfer.html" %}
{% endblock %}
{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <a href="javascript:history.back()" class="govuk-back-link govuk-!-margin-bottom-0">Back</a>
    </div>
</div>

<div class="govuk-grid-row">

    <div class="govuk-grid-column-full main_Case_Title">

        <div class="title-wrapper"> 
            {% if data['searchOFF_Operation_VALUE'] == 'Dumper Truck' or data['searchOFF_Operation_VALUE'] == 'Dumper truck'  or data['searchOFF_Operation_VALUE'] == 'dumper truck'  or data['searchOFF_Operation_VALUE'] == 'Dumpertruck' %}
                <h1 class="govuk-heading-xl govuk-!-margin-bottom-0 govuk-!-margin-top-4">{{ data['searchOFF_Operation_VALUE'] }}</h1>
                <span class="govuk-caption-m govuk-!-margin-bottom-4">88794548421</span>
            {% elseif data['searchOFF_Defendant_VALUE'] == 'Dumper Truck' or data['searchOFF_Defendant_VALUE'] == 'Dumper truck'  or data['searchOFF_Defendant_VALUE'] == 'dumper truck'  or data['searchOFF_Defendant_VALUE'] == 'Dumpertruck' %}
                <h1 class="govuk-heading-xl govuk-!-margin-bottom-0 govuk-!-margin-top-4">{{ data['searchOFF_Defendant_VALUE'] }}</h1>
                <span class="govuk-caption-m govuk-!-margin-bottom-4">88794548421</span>
            {% elseif data['searchOFF_URN_VALUE'] %}
                <h1 class="govuk-heading-xl govuk-!-margin-bottom-0 govuk-!-margin-top-4">Dumper Truck</h1>
                <span class="govuk-caption-m govuk-!-margin-bottom-4">{{ data['searchOFF_URN_VALUE'] }}</span>
            {% elseif data['searchOFF_Operation_VALUE'] %}
                {% if data['mvp_Case_1'] == 'true' %}
                    {% if data['searchOFF_Operation_VALUE'] == 'Thunder' or data['searchOFF_Operation_VALUE'] == 'thunder' %}
                        <h1 class="govuk-heading-xl govuk-!-margin-bottom-0 govuk-!-margin-top-4">{{ data['searchOFF_Operation_VALUE'] }}struck</h1>
                    {% else %}
                        <h1 class="govuk-heading-xl govuk-!-margin-bottom-0 govuk-!-margin-top-4">{{ data['searchOFF_Operation_VALUE'] }}</h1>
                    {% endif %}
                    <span class="govuk-caption-m govuk-!-margin-bottom-4">45AA2098221</span>
                {% elseif data['mvp_Case_2'] == 'true' %}
                    {% if data['searchOFF_Operation_VALUE'] == 'Thunder' or data['searchOFF_Operation_VALUE'] == 'thunder' %}
                        <h1 class="govuk-heading-xl govuk-!-margin-bottom-0 govuk-!-margin-top-4">{{ data['searchOFF_Operation_VALUE'] }}struck Traffic</h1>
                    {% else %}
                        <h1 class="govuk-heading-xl govuk-!-margin-bottom-0 govuk-!-margin-top-4">{{ data['searchOFF_Operation_VALUE'] }} Traffic</h1>
                    {% endif %}
                    <span class="govuk-caption-m govuk-!-margin-bottom-4">89AV6784522</span>
                {% elseif data['mvp_Case_3'] == 'true' %}
                    {% if data['searchOFF_Operation_VALUE'] == 'Thunder' or data['searchOFF_Operation_VALUE'] == 'thunder' %}
                        <h1 class="govuk-heading-xl govuk-!-margin-bottom-0 govuk-!-margin-top-4">{{ data['searchOFF_Operation_VALUE'] }}struck Office</h1>
                    {% else %}
                        <h1 class="govuk-heading-xl govuk-!-margin-bottom-0 govuk-!-margin-top-4">{{ data['searchOFF_Operation_VALUE'] }} Office</h1>
                    {% endif %}
                    <span class="govuk-caption-m govuk-!-margin-bottom-4">64GB2457624</span>
                {% elseif data['mvp_Case_4'] == 'true' %}
                    {% if data['searchOFF_Operation_VALUE'] == 'Thunder' or data['searchOFF_Operation_VALUE'] == 'thunder' %}
                        <h1 class="govuk-heading-xl govuk-!-margin-bottom-0 govuk-!-margin-top-4">Captain {{ data['searchOFF_Operation_VALUE'] }}struck</h1>
                    {% else %}
                        <h1 class="govuk-heading-xl govuk-!-margin-bottom-0 govuk-!-margin-top-4">Captain {{ data['searchOFF_Operation_VALUE'] }}</h1>
                    {% endif %}
                    <span class="govuk-caption-m govuk-!-margin-bottom-4">68975426824</span>
                {% endif %}
            {% elseif data['searchOFF_Defendant_VALUE'] %}
                {% if data['mvp_Case_1'] == 'true' %}
                    {% if data['searchOFF_Defendant_VALUE'] == 'Thunder' or data['searchOFF_Defendant_VALUE'] == 'thunder' %}
                        <h1 class="govuk-heading-xl govuk-!-margin-bottom-0 govuk-!-margin-top-4">{{ data['searchOFF_Defendant_VALUE'] }}struck</h1>
                    {% else %}
                        <h1 class="govuk-heading-xl govuk-!-margin-bottom-0 govuk-!-margin-top-4">{{ data['searchOFF_Defendant_VALUE'] }}</h1>
                    {% endif %}
                    <span class="govuk-caption-m govuk-!-margin-bottom-4">45AA2098221</span>
                {% elseif data['mvp_Case_2'] == 'true' %}
                    {% if data['searchOFF_Defendant_VALUE'] == 'Thunder' or data['searchOFF_Defendant_VALUE'] == 'thunder' %}
                        <h1 class="govuk-heading-xl govuk-!-margin-bottom-0 govuk-!-margin-top-4">{{ data['searchOFF_Defendant_VALUE'] }}struck Traffic</h1>
                    {% else %}
                        <h1 class="govuk-heading-xl govuk-!-margin-bottom-0 govuk-!-margin-top-4">{{ data['searchOFF_Defendant_VALUE'] }} Traffic</h1>
                    {% endif %}
                    <span class="govuk-caption-m govuk-!-margin-bottom-4">89AV6784522</span>
                {% elseif data['mvp_Case_3'] == 'true' %}
                    {% if data['searchOFF_Defendant_VALUE'] == 'Thunder' or data['searchOFF_Defendant_VALUE'] == 'thunder' %}
                        <h1 class="govuk-heading-xl govuk-!-margin-bottom-0 govuk-!-margin-top-4">{{ data['searchOFF_Defendant_VALUE'] }}struck Office</h1>
                    {% else %}
                        <h1 class="govuk-heading-xl govuk-!-margin-bottom-0 govuk-!-margin-top-4">{{ data['searchOFF_Defendant_VALUE'] }} Office</h1>
                    {% endif %}
                    <span class="govuk-caption-m govuk-!-margin-bottom-4">64GB2457624</span>
                {% elseif data['mvp_Case_4'] == 'true' %}
                    {% if data['searchOFF_Defendant_VALUE'] == 'Thunder' or data['searchOFF_Defendant_VALUE'] == 'thunder' %}
                        <h1 class="govuk-heading-xl govuk-!-margin-bottom-0 govuk-!-margin-top-4">Captain {{ data['searchOFF_Defendant_VALUE'] }}struck</h1>
                    {% else %}
                        <h1 class="govuk-heading-xl govuk-!-margin-bottom-0 govuk-!-margin-top-4">Captain {{ data['searchOFF_Defendant_VALUE'] }}</h1>
                    {% endif %}
                    <span class="govuk-caption-m govuk-!-margin-bottom-4">68975426824</span>
                {% endif %}
            {% else %}
                <h1 class="govuk-heading-xl govuk-!-margin-bottom-0 govuk-!-margin-top-4">Thunderstruck</h1>
                <span class="govuk-caption-m govuk-!-margin-bottom-4">45AA2098221</span>
            {% endif %}
        </div>

    </div>

    <div class="govuk-grid-column-full">

        <div class="govuk-tabs off-cms-overview" id="new-tabs">

            <!-- /////////////// TAB CONTENT 6 - START /////////////// -->
            <div class="panel" id="tab-6-content">
                {% include "../includes/off-system-MVP/overview-materials.html" %}
            </div>
            <!-- /////////////// TAB CONTENT 6 - END /////////////// -->

        </div>

    </div>

<!--     <div class="cta-wrapper cta-materials govuk-!-margin-top-2 sticky" style="">
        <p class="egress_to_shared_drive">
            There <strong class="selected-number">are 11 files</strong> to transfer from <img src="../../../public/images/egress-logo.png" alt="Egress" class="egress-logo small"> to the Shared drive <span class="destination_folder">folder: <strong class="destination_folder_name"></strong></span>
        </p>
        <p class="shared_drive_to_egress">
            There <strong class="selected-number">are 11 files</strong> to transfer from the Shared drive to <img src="../../../public/images/egress-logo.png" alt="Egress" class="egress-logo small"> <span class="destination_folder">folder: <strong class="destination_folder_name"></strong></span>
        </p>
        <a class="govuk-button egress_to_shared_drive" id="transfer_egress_materials" data-module="govuk-button" aria-disabled="false">Transfer materials</a>
        <a class="govuk-button shared_drive_to_egress" id="transfer_shared_drive_materials" data-module="govuk-button" aria-disabled="false">Transfer materials</a>
    </div>
 -->
</div>

{% endblock %}