{% extends "layoutCPS-UR-Dec-2025.html" %}
{% block header %}
    {% include "../../includes/banner-OFF-V7.html" %}
{% endblock %}
{% block beforeContent %}
<a class="govuk-back-link" href="javascript:history.back()">Back</a>
{% endblock %}
{% block content %}

<div class="govuk-grid-row" id="create-case-journey">

    <div class="govuk-grid-column-two-thirds">
        <div class="gov-pages">


            <h1 class="govuk-heading-l govuk-!-margin-bottom-6">What is the Arrest Summons Number (ASN)?</h1>


            <form method="post" action="/ur-dec-2025/B-off-system-MVP/create-case/03-suspect-details-arrest-summons">  

                <fieldset class="govuk-fieldset">

                    <div class="govuk-form-group">
                        <p id="newCase_Area-error" class="govuk-error-message govuk-!-margin-bottom-2"><span class="govuk-visually-hidden">Error:</span> Select an Arrest Summons Number (ASN)</p>
                        <input class="govuk-input govuk-input--width-20" id="arrest-summons" name="arrest-summons" type="text" value="{{ data['arrest-summons'] }}">
                    </div>

                </fieldset>

                {% include "../../includes/buttons.html" %}
            </form>
        </div>
    </div>
    <div class="govuk-grid-column-one-third">

    </div>
</div>

{% endblock %}