{% extends "layoutCPS-OFF.html" %}
{% block header %}
    {% include "../../includes/banner-OFF-V6.html" %}
{% endblock %}
{% block beforeContent %}
    <a class="govuk-back-link" href="javascript:history.back()">Back</a>
{% endblock %}
{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h2 class="govuk-heading-l govuk-!-margin-bottom-0">Choose where to create the Shared Drive folder</h2>

        <div class="govuk-inset-text">
            Select the Shared Drive location where the new folder will be created. You will only see locations that you have permission to use.
        </div>

        <table class="govuk-table" id="pdrive-create-table">
            <thead class="govuk-table__head">
                <tr class="govuk-table__row">
                    <th scope="col" class="govuk-table__header" width="10%"></th>
                    <th scope="col" class="govuk-table__header" width="90%"><button type="button" class="govuk-button" data-module="govuk-button">Folder name</button></th>
                </tr>
            </thead>
            <tbody class="govuk-table__body">
                <tr class="govuk-table__row pdrive_stage_3 pdrive_items">
                    <td class="govuk-table__cell govuk-!-text-align-left">
                        <form method="post" action="/version-16/lcc/materials/05A-create-shared-drive-folder" id="">
                            <input id="shared-drive-template-pre-charge" name="shared-drive-template" type="text" value="Pre-charge" style="display: none;">
                            <button type="submit" class="govuk-button govuk-button--secondary" data-module="govuk-button" style="float: none;">Create</button>
                        </form>
                    </td>
                    <td class="govuk-table__cell"><span class="icon-new folder"></span><a href="#" class="operation_name pdrive_stage_3 pdrive_items">Pre-charge</a></td>
                </tr>

                <tr class="govuk-table__row pdrive_stage_3 pdrive_items">
                    <td class="govuk-table__cell govuk-!-text-align-left">
                        <form method="post" action="/version-16/lcc/materials/05A-create-shared-drive-folder" id="">
                            <input id="shared-drive-template-charged" name="shared-drive-template" type="text" value="Charged" style="display: none;">
                            <button type="submit" class="govuk-button govuk-button--secondary" data-module="govuk-button" style="float: none;">Create</button>
                        </form>
                    </td>
                    <td class="govuk-table__cell"><span class="icon-new folder"></span><a href="#" class="operation_name pdrive_stage_3 pdrive_items">Charged</a></td>
                </tr>

                <tr class="govuk-table__row pdrive_stage_3 pdrive_items">
                    <td class="govuk-table__cell govuk-!-text-align-left">
                        <form method="post" action="/version-16/lcc/materials/05A-create-shared-drive-folder" id="">
                            <input id="shared-drive-template-appeal" name="shared-drive-template" type="text" value="Appeal" style="display: none;">
                            <button type="submit" class="govuk-button govuk-button--secondary" data-module="govuk-button" style="float: none;">Create</button>
                        </form>
                    </td>
                    <td class="govuk-table__cell"><span class="icon-new folder"></span><a href="#" class="operation_name pdrive_stage_3 pdrive_items">Appeal</a></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

{% endblock %}
