<!-- ////////////////////////////////////////////// EGRESS - SECTION 1 - START ////////////////////////////////////////////// -->
<div id="egress_section_1">
    <table class="govuk-table transfer-table sortable" id="top_level_egress">

        <thead class="govuk-table__head">
            <tr class="govuk-table__row">
                <th scope="col" class="govuk-table__header"><button class="govuk-button" data-module="govuk-button">Folder/file name</button></th>
                <!-- <th scope="col" class="govuk-table__header"><button class="govuk-button" data-module="govuk-button">Type</button></th> -->
                <th scope="col" class="govuk-table__header"><button class="govuk-button" data-module="govuk-button">Last modified date</button></th>
                <th scope="col" class="govuk-table__header num"><button class="govuk-button" data-module="govuk-button">Size</button></th>
                <th scope="col" class="govuk-table__header"><button class="govuk-button" data-module="govuk-button"></button></th>
            </tr>
        </thead>

        <tbody class="govuk-table__body">

            <!-- FOLDER 1 - START -->
            <tr class="govuk-table__row materials_row_1">
                <td class="govuk-table__cell">
                    <span class="icon-new folder"></span>
                    <a href="#" class="govuk-link govuk-link--no-visited-state empty_section_2">ABEs for transport</a>
                </td>
                <!-- <td class="govuk-table__cell">File folder</td> -->
                <td class="govuk-table__cell">--</td>
                <td class="govuk-table__cell">--</td>
                <td class="govuk-table__cell"></td>
            </tr>
            <!-- FOLDER 1  - END -->

            <!-- FOLDER 2 - START -->
            <tr class="govuk-table__row">
                <td class="govuk-table__cell">
                    <span class="icon-new folder"></span>
                    <a href="#" class="govuk-link govuk-link--no-visited-state empty_section_2">Counsel only</a>
                </td>
                <!-- <td class="govuk-table__cell">File folder</td> -->
                <td class="govuk-table__cell">--</td>
                <td class="govuk-table__cell">--</td>
                <td class="govuk-table__cell"></td>
            </tr>
            <!-- FOLDER 2 - END -->

            <!-- FOLDER 3 - START -->
            <tr class="govuk-table__row">
                <td class="govuk-table__cell">
                    <span class="icon-new folder"></span>
                    <a href="" class="govuk-link govuk-link--no-visited-state show_section_2">Investigator</a>
                </td>
                <!-- <td class="govuk-table__cell">File folder</td> -->
                <td class="govuk-table__cell">--</td>
                <td class="govuk-table__cell">--</td>
                <td class="govuk-table__cell"></td>
            </tr>
            <!-- FOLDER 3 - END -->

            <!-- FOLDER 4 - START -->
            <tr class="govuk-table__row">
                <td class="govuk-table__cell">
                    <span class="icon-new folder"></span>
                    <a href="#" class="govuk-link govuk-link--no-visited-state empty_section_2">Multimedia</a>
                </td>
                <!-- <td class="govuk-table__cell">File folder</td> -->
                <td class="govuk-table__cell">--</td>
                <td class="govuk-table__cell">--</td>
                <td class="govuk-table__cell"></td>
            </tr>
            <!-- FOLDER 4 - END -->

            <!-- FOLDER 5 - START -->
            <tr class="govuk-table__row">
                <td class="govuk-table__cell">
                    <span class="icon-new folder"></span>
                    <a href="#" class="govuk-link govuk-link--no-visited-state empty_section_2">Served evidence</a>
                </td>
                <!-- <td class="govuk-table__cell">File folder</td> -->
                <td class="govuk-table__cell">--</td>
                <td class="govuk-table__cell">--</td>
                <td class="govuk-table__cell"></td>
            </tr>
            <!-- FOLDER 5 - END -->

            <!-- FOLDER 6 - START -->
            <tr class="govuk-table__row">
                <td class="govuk-table__cell">
                    <span class="icon-new folder"></span>
                    <a href="#" class="govuk-link govuk-link--no-visited-state empty_section_2">Unused - disclosed</a>
                </td>
                <!-- <td class="govuk-table__cell">File folder</td> -->
                <td class="govuk-table__cell">--</td>
                <td class="govuk-table__cell">--</td>
                <td class="govuk-table__cell"></td>
            </tr>
            <!-- FOLDER 6 - END -->    

        </tbody>
    </table>
</div>
<!-- ////////////////////////////////////////////// EGRESS - SECTION 1 - END ////////////////////////////////////////////// -->

<!-- ////////////////////////////////////////////// EGRESS - EMPTY SECTION 2 - START ////////////////////////////////////////////// -->
<div id="empty_section_2">
    <table class="govuk-table transfer-table sortable" id="">

        <thead class="govuk-table__head">
            <tr class="govuk-table__row">
                <th scope="col" class="govuk-table__header"><button class="govuk-button" data-module="govuk-button">Folder/file name</button></th>
                <!-- <th scope="col" class="govuk-table__header"><button class="govuk-button" data-module="govuk-button">Type</button></th> -->
                <th scope="col" class="govuk-table__header"><button class="govuk-button" data-module="govuk-button">Last modified date</button></th>
                <th scope="col" class="govuk-table__header num"><button class="govuk-button" data-module="govuk-button">Size</button></th>
                <th scope="col" class="govuk-table__header"><button class="govuk-button" data-module="govuk-button"></button></th>
            </tr>
        </thead>

        <tbody class="govuk-table__body">
            <tr class="govuk-table__row" id="">
                <td scope="row" class="govuk-table__cell" colspan="5">
                    <p>There are no documents currently in this folder</p>
                </td>
            </tr>
        </tbody>
    </table>
</div>
<!-- ////////////////////////////////////////////// EGRESS - EMPTY SECTION 2 - END ////////////////////////////////////////////// -->

<!-- ////////////////////////////////////////////// EGRESS - SECTION 2 - START ////////////////////////////////////////////// -->
<div id="egress_section_2">

    <table class="govuk-table transfer-table sortable" id="">

        <thead class="govuk-table__head">
            <tr class="govuk-table__row">
                <th scope="col" class="govuk-table__header">
                    <div class="govuk-form-group">
                        <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
                            <div class="govuk-checkboxes__item">
                                <input class="govuk-checkboxes__input" id="select_all_Folder_2" name="transfer_Folder_2" type="checkbox" value="Select all Reviews">
                                <label class="govuk-label govuk-checkboxes__label" for="select_all_Folder_2">Select all</label>
                            </div>
                        </div>
                    </div>
                </th>
                <th scope="col" class="govuk-table__header"><button class="govuk-button" data-module="govuk-button">Folder/file name</button></th>
                <!-- <th scope="col" class="govuk-table__header"><button class="govuk-button" data-module="govuk-button">Type</button></th> -->
                <th scope="col" class="govuk-table__header"><button class="govuk-button" data-module="govuk-button">Last modified date</button></th>
                <th scope="col" class="govuk-table__header num"><button class="govuk-button" data-module="govuk-button">Size</button></th>
                <th scope="col" class="govuk-table__header"><button class="govuk-button" data-module="govuk-button"></button></th>
            </tr>
        </thead>

        <tbody class="govuk-table__body">

            <!-- SUB FOLDER 1 - START -->
            <tr class="govuk-table__row top_level_folder_1">
                <td scope="row" class="govuk-table__cell">
                    <div class="govuk-form-group">
                        <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
                            <div class="govuk-checkboxes__item">
                                <input class="govuk-checkboxes__input" id="transfer_Folder_2A" name="transfer_Folder_2" type="checkbox" value="Reviews">
                                <label class="govuk-label govuk-checkboxes__label" for="transfer_Folder_2A">Reviews</label>
                            </div>
                        </div>
                    </div>
                </td>
                <td class="govuk-table__cell">
                    <span class="icon-new folder"></span>
                    <a href="#" class="govuk-link govuk-link--no-visited-state show_section_3A">Reviews</a>
                </td>
                <!-- <td class="govuk-table__cell">File folder</td> -->
                <td class="govuk-table__cell">--</td>
                <td class="govuk-table__cell">--</td>
                <td class="govuk-table__cell"></td>
            </tr>
            <!-- SUB FOLDER 1 - END -->

            <!-- SUB FOLDER 2 - START -->
            <tr class="govuk-table__row top_level_folder_2">
                <td scope="row" class="govuk-table__cell">
                    <div class="govuk-form-group">
                        <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
                            <div class="govuk-checkboxes__item">
                                <input class="govuk-checkboxes__input" id="transfer_Folder_2B" name="transfer_Folder_2" type="checkbox" value="Case overview">
                                <label class="govuk-label govuk-checkboxes__label" for="transfer_Folder_2B">Case overview</label>
                            </div>
                        </div>
                    </div>
                </td>
                <td class="govuk-table__cell">
                    <span class="icon-new folder"></span>
                    <a href="#" class="govuk-link govuk-link--no-visited-state show_section_3B">Case overview</a>
                </td>
                <!-- <td class="govuk-table__cell">File folder</td> -->
                <td class="govuk-table__cell">--</td>
                <td class="govuk-table__cell">--</td>
                <td class="govuk-table__cell"></td>
            </tr>
            <!-- SUB FOLDER 2 - END -->

            <!-- SUB FOLDER 3 - START -->
            <tr class="govuk-table__row top_level_folder_3">
                <td scope="row" class="govuk-table__cell">
                    <div class="govuk-form-group">
                        <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
                            <div class="govuk-checkboxes__item">
                                <input class="govuk-checkboxes__input" id="transfer_Folder_2C" name="transfer_Folder_2" type="checkbox" value="Statements">
                                <label class="govuk-label govuk-checkboxes__label" for="transfer_Folder_2C">Statements</label>
                            </div>
                        </div>
                    </div>
                </td>
                <td class="govuk-table__cell">
                    <span class="icon-new folder"></span>
                    <a href="#" class="govuk-link govuk-link--no-visited-state show_section_3C">Statements</a>
                </td>
                <!-- <td class="govuk-table__cell">File folder</td> -->
                <td class="govuk-table__cell">--</td>
                <td class="govuk-table__cell">--</td>
                <td class="govuk-table__cell"></td>
            </tr>
            <!-- SUB FOLDER 3 - END -->

            <!-- SUB FOLDER 4 - START -->
            <tr class="govuk-table__row top_level_folder_4">
                <td scope="row" class="govuk-table__cell">
                    <div class="govuk-form-group">
                        <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
                            <div class="govuk-checkboxes__item">
                                <input class="govuk-checkboxes__input" id="transfer_Folder_2D" name="transfer_Folder_2" type="checkbox" value="Digital evidence">
                                <label class="govuk-label govuk-checkboxes__label" for="transfer_Folder_2D">Digital evidence</label>
                            </div>
                        </div>
                    </div>
                </td>
                <td class="govuk-table__cell">
                    <span class="icon-new folder"></span>
                    <a href="#" class="govuk-link govuk-link--no-visited-state show_section_3D">Digital evidence</a>
                </td>
                <!-- <td class="govuk-table__cell">File folder</td> -->
                <td class="govuk-table__cell">--</td>
                <td class="govuk-table__cell">--</td>
                {% if data['long_file_path_COMPLETED'] == 'true' %}
                    <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--green" style="display: inline-block;">Finished</strong></td>
                {% else %}
                    <td class="govuk-table__cell"></td>
                {% endif %}
            </tr>
            <!-- SUB FOLDER 4 - END -->

            <!-- SUB FOLDER 5 - START -->
            <tr class="govuk-table__row top_level_folder_5">
                <td scope="row" class="govuk-table__cell">
                    <div class="govuk-form-group">
                        <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
                            <div class="govuk-checkboxes__item">
                                <input class="govuk-checkboxes__input" id="transfer_Folder_2E" name="transfer_Folder_2" type="checkbox" value="New evidence">
                                <label class="govuk-label govuk-checkboxes__label" for="transfer_Folder_2E">New evidence</label>
                            </div>
                        </div>
                    </div>
                </td>
                <td class="govuk-table__cell">
                    <span class="icon-new folder"></span>
                    <a href="#" class="govuk-link govuk-link--no-visited-state show_section_3D">New evidence</a>
                </td>
                <!-- <td class="govuk-table__cell">File folder</td> -->
                <td class="govuk-table__cell">--</td>
                <td class="govuk-table__cell">--</td>
                {% if data['failed_file_transfer'] == 'Ignore files,false' %}
                    <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--red" style="display: inline-block;">4 failed</strong></td>
                {% elseif data['failed_file_transfer'] == 'Try again,false' %}
                    <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--green" style="display: inline-block;">Finished</strong></td>
                {% else %}
                    <td class="govuk-table__cell"></td>
                {% endif %}
            </tr>
            <!-- SUB FOLDER 5 - END -->

            <!-- SUB FILE 6 - START -->
            <tr class="govuk-table__row top_level_folder_7">
                <td scope="row" class="govuk-table__cell">
                    <div class="govuk-form-group">
                        <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
                            <div class="govuk-checkboxes__item">
                                <input class="govuk-checkboxes__input" id="transfer_Folder_2G" name="transfer_Folder_2" type="checkbox" value="10. Police">
                                <label class="govuk-label govuk-checkboxes__label" for="transfer_Folder_2G">10. Police</label>
                            </div>
                        </div>
                    </div>
                </td>
                <td class="govuk-table__cell">
                    <span class="icon-new folder"></span>
                    <a href="#" class="govuk-link govuk-link--no-visited-state show_section_3D">10. Police</a>
                </td>
                <!-- <td class="govuk-table__cell">PDF</td> -->
                <td class="govuk-table__cell">--</td>
                <td class="govuk-table__cell">--</td>
                <td class="govuk-table__cell">
                    {% if data['duplicate_files_transfer'] %}
                        <strong class="govuk-tag govuk-tag--green" style="display: inline-block;">Finished</strong>
                    {% else %}

                    {% endif %}
                </td>
            </tr>
            <!-- SUB FILE 6 - END -->

            <!-- SUB FILE 7 - START -->
            <tr class="govuk-table__row top_level_folder_8">
                <td scope="row" class="govuk-table__cell">
                    <div class="govuk-form-group">
                        <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
                            <div class="govuk-checkboxes__item">
                                <input class="govuk-checkboxes__input" id="transfer_Folder_2H" name="transfer_Folder_2" type="checkbox" value="11. Media">
                                <label class="govuk-label govuk-checkboxes__label" for="transfer_Folder_2H">11. Media</label>
                            </div>
                        </div>
                    </div>
                </td>
                <td class="govuk-table__cell">
                    <span class="icon-new folder"></span>
                    <a href="#" class="govuk-link govuk-link--no-visited-state show_section_3D">11. Media</a>
                </td>
                <!-- <td class="govuk-table__cell">PDF</td> -->
                <td class="govuk-table__cell">--</td>
                <td class="govuk-table__cell">--</td>
                <td class="govuk-table__cell">
                    {% if data['all_file_errors_COMPLETED'] == 'true' %}
                        <strong class="govuk-tag govuk-tag--green" style="display: inline-block;">Finished</strong>
                    {% else %}

                    {% endif %}
                </td>
            </tr>
            <!-- SUB FILE 7 - END -->

            <!-- SUB FILE 8 - START -->
            <tr class="govuk-table__row top_level_folder_6">
                <td scope="row" class="govuk-table__cell">
                    <div class="govuk-form-group">
                        <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
                            <div class="govuk-checkboxes__item">
                                <input class="govuk-checkboxes__input" id="transfer_Folder_2F" name="transfer_Folder_2" type="checkbox" value="mg11_BLAYNEE.pdf">
                                <label class="govuk-label govuk-checkboxes__label" for="transfer_Folder_2F">mg11_BLAYNEE.pdf</label>
                            </div>
                        </div>
                    </div>
                </td>
                <td class="govuk-table__cell">
                    <span class="icon-new file"></span><span class="file_name">mg11_BLAYNEE.pdf</span>
                </td>
                <!-- <td class="govuk-table__cell">PDF</td> -->
                <td class="govuk-table__cell">22/08/2024</td>
                <td class="govuk-table__cell">50 KB</td>
                {% if data['file_locked_transfer'] == 'Try again' %}
                    <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--green" style="display: inline-block;">Replaced</strong></td>
                {% elseif data['file_locked_transfer'] == 'Duplicate files' %}
                    <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--green" style="display: inline-block;">Transferred</strong></td>
                {% elseif data['file_locked_transfer'] == 'Ignore files' %}
                    <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--red" style="display: inline-block;">Failed</strong></td>
                {% else %}
                    <td class="govuk-table__cell"></td>
                {% endif %}
            </tr>
            <!-- SUB FILE 8 - END -->

            <!-- SUB FILE 8 - START -->
<!--             {% if data['file_locked_transfer'] == 'Duplicate files' %}
                <tr class="govuk-table__row top_level_folder_8">
                    <td scope="row" class="govuk-table__cell">
                        <div class="govuk-form-group">
                            <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
                                <div class="govuk-checkboxes__item">
                                    <input class="govuk-checkboxes__input" id="transfer_Folder_2H" name="transfer_Folder_2" type="checkbox" value="mg11_BLAYNEE_V2.pdf">
                                    <label class="govuk-label govuk-checkboxes__label" for="transfer_Folder_2H">mg11_BLAYNEE_V2.pdf</label>
                                </div>
                            </div>
                        </div>
                    </td>
                    <td class="govuk-table__cell">
                        <span class="icon-new file"></span><span class="file_name">mg11_BLAYNEE_V2.pdf</span>
                    </td>
                    <td class="govuk-table__cell">Today</td>
                    <td class="govuk-table__cell">50 KB</td>
                    <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--green" style="display: inline-block;">Duplicated</strong></td>
                </tr>
            {% else %}

            {% endif %}
 -->            <!-- SUB FILE 8 - END -->


        </tbody>
    </table>

</div>
<!-- ////////////////////////////////////////////// EGRESS - SECTION 2 - END ////////////////////////////////////////////// -->

<!-- ////////////////////////////////////////////// EGRESS - SECTION 3A - START ////////////////////////////////////////////// -->
<div id="egress_section_3A">

    <table class="govuk-table transfer-table sortable" id="">

        <thead class="govuk-table__head">
            <tr class="govuk-table__row">
                <th scope="col" class="govuk-table__header">
                    <div class="govuk-form-group">
                        <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
                            <div class="govuk-checkboxes__item">
                                <input class="govuk-checkboxes__input" id="select_all_Folder_3A" name="transfer_Folder_3A" type="checkbox" value="Select all documents">
                                <label class="govuk-label govuk-checkboxes__label" for="select_all_Folder_3A">Select all</label>
                            </div>
                        </div>
                    </div>
                </th>
                <th scope="col" class="govuk-table__header"><button class="govuk-button" data-module="govuk-button">Folder/file name</button></th>
                <!-- <th scope="col" class="govuk-table__header"><button class="govuk-button" data-module="govuk-button">Type</button></th> -->
                <th scope="col" class="govuk-table__header"><button class="govuk-button" data-module="govuk-button">Last modified date</button></th>
                <th scope="col" class="govuk-table__header num"><button class="govuk-button" data-module="govuk-button">Size</button></th>
                <th scope="col" class="govuk-table__header"><button class="govuk-button" data-module="govuk-button"></button></th>
            </tr>
        </thead>

        <tbody class="govuk-table__body">

            <tr class="govuk-table__row" id="transfer_Folder_3A_hidden_row" style="display: none;">
                <td scope="row" class="govuk-table__cell" colspan="5">
                    <p>There are no documents currently in this folder</p>
                </td>
            </tr>

            <!-- SUB FOLDER 1 - FILES - START -->
            <tr class="govuk-table__row second_level_file_1">
                <td scope="row" class="govuk-table__cell">
                    <div class="govuk-form-group">
                        <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
                            <div class="govuk-checkboxes__item">
                                <input class="govuk-checkboxes__input" id="transfer_Folder_3A_1" name="transfer_Folder_3A" type="checkbox" value="MCLOVEMG3.pdf">
                                <label class="govuk-label govuk-checkboxes__label" for="transfer_Folder_3A_1">MCLOVEMG3.pdf</label>
                            </div>
                        </div>
                    </div>
                </td>
                <td class="govuk-table__cell">
                    <span class="icon-new file"></span><span class="file_name">MCLOVEMG3.pdf</span>
                </td>
                <!-- <td class="govuk-table__cell">PDF</td> -->
                <td class="govuk-table__cell">23/07/2024</td>
                <td class="govuk-table__cell">27 KB</td>
                <td class="govuk-table__cell"></td>
            </tr>
            <!-- SUB FOLDER 1 - FILES - END -->

        </tbody>
    </table>

</div>
<!-- ////////////////////////////////////////////// EGRESS - SECTION 3A - END ////////////////////////////////////////////// -->

<!-- ////////////////////////////////////////////// EGRESS - SECTION 3B - START ////////////////////////////////////////////// -->
<div id="egress_section_3B">

    <table class="govuk-table transfer-table sortable" id="">

        <thead class="govuk-table__head">
            <tr class="govuk-table__row">
                <th scope="col" class="govuk-table__header">
                    <div class="govuk-form-group">
                        <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
                            <div class="govuk-checkboxes__item">
                                <input class="govuk-checkboxes__input" id="select_all_Folder_3B" name="transfer_Folder_3B" type="checkbox" value="Select all documents">
                                <label class="govuk-label govuk-checkboxes__label" for="select_all_Folder_3B">Select all</label>
                            </div>
                        </div>
                    </div>
                </th>
                <th scope="col" class="govuk-table__header"><button class="govuk-button" data-module="govuk-button">Folder/file name</button></th>
                <!-- <th scope="col" class="govuk-table__header"><button class="govuk-button" data-module="govuk-button">Type</button></th> -->
                <th scope="col" class="govuk-table__header"><button class="govuk-button" data-module="govuk-button">Last modified date</button></th>
                <th scope="col" class="govuk-table__header num"><button class="govuk-button" data-module="govuk-button">Size</button></th>
                <th scope="col" class="govuk-table__header"><button class="govuk-button" data-module="govuk-button"></button></th>
            </tr>
        </thead>

        <tbody class="govuk-table__body">

            <tr class="govuk-table__row" id="transfer_Folder_3B_hidden_row" style="display: none;">
                <td scope="row" class="govuk-table__cell" colspan="5">
                    <p>There are no documents currently in this folder</p>
                </td>
            </tr>

            <!-- SUB FOLDER 2 - FILES - START -->
            <tr class="govuk-table__row second_level_file_2">
                <td scope="row" class="govuk-table__cell">
                    <div class="govuk-form-group">
                        <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
                            <div class="govuk-checkboxes__item">
                                <input class="govuk-checkboxes__input" id="transfer_Folder_3B_1" name="transfer_Folder_3B" type="checkbox" value="CM01.pdf">
                                <label class="govuk-label govuk-checkboxes__label" for="transfer_Folder_3B_1">CM01.pdf</label>
                            </div>
                        </div>
                    </div>
                </td>
                <td class="govuk-table__cell">
                    <span class="icon-new file"></span><span class="file_name">CM01.pdf</span>
                </td>
                <!-- <td class="govuk-table__cell">PDF</td> -->
                <td class="govuk-table__cell">11/05/2024</td>
                <td class="govuk-table__cell">20 MB</td>
                <td class="govuk-table__cell"></td>
            </tr>
            <tr class="govuk-table__row second_level_file_3">
                <td scope="row" class="govuk-table__cell">
                    <div class="govuk-form-group">
                        <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
                            <div class="govuk-checkboxes__item">
                                <input class="govuk-checkboxes__input" id="transfer_Folder_3B_2" name="transfer_Folder_3B" type="checkbox" value="CM01.pdf">
                                <label class="govuk-label govuk-checkboxes__label" for="transfer_Folder_3B_2">CM01.pdf</label>
                            </div>
                        </div>
                    </div>
                </td>
                <td class="govuk-table__cell">
                    <span class="icon-new file"></span><span class="file_name">CM01.pdf</span>
                </td>
                <!-- <td class="govuk-table__cell">PDF</td> -->
                <td class="govuk-table__cell">14/06/2024</td>
                <td class="govuk-table__cell">108 KB</td>
                <td class="govuk-table__cell"></td>
            </tr>
            <tr class="govuk-table__row second_level_file_4">
                <td scope="row" class="govuk-table__cell">
                    <div class="govuk-form-group">
                        <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
                            <div class="govuk-checkboxes__item">
                                <input class="govuk-checkboxes__input" id="transfer_Folder_3B_3" name="transfer_Folder_3B" type="checkbox" value="MG06_3June.pdf">
                                <label class="govuk-label govuk-checkboxes__label" for="transfer_Folder_3B_3">MG06_3June.pdf</label>
                            </div>
                        </div>
                    </div>
                </td>
                <td class="govuk-table__cell">
                    <span class="icon-new file"></span><span class="file_name">MG06_3June.pdf</span>
                </td>
                <!-- <td class="govuk-table__cell">PDF</td> -->
                <td class="govuk-table__cell">21/07/2024</td>
                <td class="govuk-table__cell">1 MB</td>
                <td class="govuk-table__cell"></td>
            </tr>
            <tr class="govuk-table__row second_level_file_5">
                <td scope="row" class="govuk-table__cell">
                    <div class="govuk-form-group">
                        <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
                            <div class="govuk-checkboxes__item">
                                <input class="govuk-checkboxes__input" id="transfer_Folder_3B_4" name="transfer_Folder_3B" type="checkbox" value="MG06_10june.pdf">
                                <label class="govuk-label govuk-checkboxes__label" for="transfer_Folder_3B_4">MG06_10june.pdf</label>
                            </div>
                        </div>
                    </div>
                </td>
                <td class="govuk-table__cell">
                    <span class="icon-new file"></span><span class="file_name">MG06_10june.pdf</span>
                </td>
                <!-- <td class="govuk-table__cell">PDF</td> -->
                <td class="govuk-table__cell">24/04/2024</td>
                <td class="govuk-table__cell">24 MB</td>
                <td class="govuk-table__cell"></td>
            </tr>
            <!-- SUB FOLDER 2 - FILES - END -->

        </tbody>
    </table>

</div>
<!-- ////////////////////////////////////////////// EGRESS - SECTION 3B - END ////////////////////////////////////////////// -->

<!-- ////////////////////////////////////////////// EGRESS - SECTION 3C - START ////////////////////////////////////////////// -->
<div id="egress_section_3C">

    <table class="govuk-table transfer-table sortable" id="">

        <thead class="govuk-table__head">
            <tr class="govuk-table__row">
                <th scope="col" class="govuk-table__header">
                    <div class="govuk-form-group">
                        <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
                            <div class="govuk-checkboxes__item">
                                <input class="govuk-checkboxes__input" id="select_all_Folder_3C" name="transfer_Folder_3C" type="checkbox" value="Select all documents">
                                <label class="govuk-label govuk-checkboxes__label" for="select_all_Folder_3C">Select all</label>
                            </div>
                        </div>
                    </div>
                </th>
                <th scope="col" class="govuk-table__header"><button class="govuk-button" data-module="govuk-button">Folder/file name</button></th>
                <!-- <th scope="col" class="govuk-table__header"><button class="govuk-button" data-module="govuk-button">Type</button></th> -->
                <th scope="col" class="govuk-table__header"><button class="govuk-button" data-module="govuk-button">Last modified date</button></th>
                <th scope="col" class="govuk-table__header num"><button class="govuk-button" data-module="govuk-button">Size</button></th>
                <th scope="col" class="govuk-table__header"><button class="govuk-button" data-module="govuk-button"></button></th>
            </tr>
        </thead>

        <tbody class="govuk-table__body">

            <tr class="govuk-table__row" id="transfer_Folder_3C_hidden_row" style="display: none;">
                <td scope="row" class="govuk-table__cell" colspan="5">
                    <p>There are no documents currently in this folder</p>
                </td>
            </tr>

            <!-- SUB FOLDER 3 - FILES - START -->
            <tr class="govuk-table__row second_level_file_6">
                <td scope="row" class="govuk-table__cell">
                    <div class="govuk-form-group">
                        <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
                            <div class="govuk-checkboxes__item">
                                <input class="govuk-checkboxes__input" id="transfer_Folder_3C_1" name="transfer_Folder_3C" type="checkbox" value="stmt_BLAYNEE_2034_1_JUNE_mg11.pdf">
                                <label class="govuk-label govuk-checkboxes__label" for="transfer_Folder_3C_1">stmt_BLAYNEE_2034_1_JUNE_mg11.pdf</label>
                            </div>
                        </div>
                    </div>
                </td>
                <td class="govuk-table__cell">
                    <span class="icon-new file"></span><span class="file_name">stmt_BLAYNEE_2034_1_JUNE_mg11.pdf</span>
                </td>
                <!-- <td class="govuk-table__cell">PDF</td> -->
                <td class="govuk-table__cell">22/08/2024</td>
                <td class="govuk-table__cell">50 KB</td>
                <td class="govuk-table__cell"></td>
            </tr>
            <tr class="govuk-table__row second_level_file_7">
                <td scope="row" class="govuk-table__cell">
                    <div class="govuk-form-group">
                        <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
                            <div class="govuk-checkboxes__item">
                                <input class="govuk-checkboxes__input" id="transfer_Folder_3C_2" name="transfer_Folder_3C" type="checkbox" value="stmt_JONES_1989_1_JUNE_mg11.pdf">
                                <label class="govuk-label govuk-checkboxes__label" for="transfer_Folder_3C_2">stmt_JONES_1989_1_JUNE_mg11.pdf</label>
                            </div>
                        </div>
                    </div>
                </td>
                <td class="govuk-table__cell">
                    <span class="icon-new file"></span><span class="file_name">stmt_JONES_1989_1_JUNE_mg11.pdf</span>
                </td>
                <!-- <td class="govuk-table__cell">PDF</td> -->
                <td class="govuk-table__cell">25/09/2024</td>
                <td class="govuk-table__cell">1 MB</td>
                <td class="govuk-table__cell"></td>
            </tr>
            <tr class="govuk-table__row second_level_file_8">
                <td scope="row" class="govuk-table__cell">
                    <div class="govuk-form-group">
                        <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
                            <div class="govuk-checkboxes__item">
                                <input class="govuk-checkboxes__input" id="transfer_Folder_3C_3" name="transfer_Folder_3C" type="checkbox" value="stmt_Lucy_Doyle_MG11.pdf">
                                <label class="govuk-label govuk-checkboxes__label" for="transfer_Folder_3C_3">stmt_Lucy_Doyle_MG11.pdf</label>
                            </div>
                        </div>
                    </div>
                </td>
                <td class="govuk-table__cell">
                    <span class="icon-new file"></span><span class="file_name">stmt_Lucy_Doyle_MG11.pdf</span>
                </td>
                <!-- <td class="govuk-table__cell">PDF</td> -->
                <td class="govuk-table__cell">15/08/2024</td>
                <td class="govuk-table__cell">207 KB</td>
                <td class="govuk-table__cell"></td>
            </tr>
            <tr class="govuk-table__row second_level_file_9">
                <td scope="row" class="govuk-table__cell">
                    <div class="govuk-form-group">
                        <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
                            <div class="govuk-checkboxes__item">
                                <input class="govuk-checkboxes__input" id="transfer_Folder_3C_4" name="transfer_Folder_3C" type="checkbox" value="stmt_Shelagh_McLove_MG11_hand.pdf">
                                <label class="govuk-label govuk-checkboxes__label" for="transfer_Folder_3C_4">stmt_Shelagh_McLove_MG11_hand.pdf</label>
                            </div>
                        </div>
                    </div>
                </td>
                <td class="govuk-table__cell">
                    <span class="icon-new file"></span><span class="file_name">stmt_Shelagh_McLove_MG11_hand.pdf</span>
                </td>
                <!-- <td class="govuk-table__cell">PDF</td> -->
                <td class="govuk-table__cell">14/10/2024</td>
                <td class="govuk-table__cell">68 KB</td>
                <td class="govuk-table__cell"></td>
            </tr>
            <tr class="govuk-table__row second_level_file_10">
                <td scope="row" class="govuk-table__cell">
                    <div class="govuk-form-group">
                        <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
                            <div class="govuk-checkboxes__item">
                                <input class="govuk-checkboxes__input" id="transfer_Folder_3C_5" name="transfer_Folder_3C" type="checkbox" value="Shelagh_McLove_VPS_mg11.pdf">
                                <label class="govuk-label govuk-checkboxes__label" for="transfer_Folder_3C_5">Shelagh_McLove_VPS_mg11.pdf</label>
                            </div>
                        </div>
                    </div>
                </td>
                <td class="govuk-table__cell">
                    <span class="icon-new file"></span><span class="file_name">Shelagh_McLove_VPS_mg11.pdf</span>
                </td>
                <!-- <td class="govuk-table__cell">PDF</td> -->
                <td class="govuk-table__cell">23/04/2024</td>
                <td class="govuk-table__cell">87 KB</td>
                <td class="govuk-table__cell"></td>
            </tr>
            <tr class="govuk-table__row second_level_file_11">
                <td scope="row" class="govuk-table__cell">
                    <div class="govuk-form-group">
                        <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
                            <div class="govuk-checkboxes__item">
                                <input class="govuk-checkboxes__input" id="transfer_Folder_3C_6" name="transfer_Folder_3C" type="checkbox" value="MG11_Shelagh_MCLOVE_retraction.pdf">
                                <label class="govuk-label govuk-checkboxes__label" for="transfer_Folder_3C_6">MG11_Shelagh_MCLOVE_retraction.pdf</label>
                            </div>
                        </div>
                    </div>
                </td>
                <td class="govuk-table__cell">
                    <span class="icon-new file"></span><span class="file_name">MG11_Shelagh_MCLOVE_retraction.pdf</span>
                </td>
                <!-- <td class="govuk-table__cell">PDF</td> -->
                <td class="govuk-table__cell">08/12/2024</td>
                <td class="govuk-table__cell">69 KB</td>
                <td class="govuk-table__cell"></td>
            </tr>
            <!-- SUB FOLDER 3 - FILES - END -->

        </tbody>
    </table>

</div>
<!-- ////////////////////////////////////////////// EGRESS - SECTION 3C - END ////////////////////////////////////////////// -->
