{% extends "layoutCPS-OFF-V11.html" %}

{% block pageTitle %}
Rename files or folders – {{ serviceName }} – Prototype
{% endblock %}

{% block header %}
{% include "../includes/banner-OFF-V6.html" %}
{% endblock %}


{% extends "layoutCPS-NEW-INDEX.html" %}

{% block beforeContent %}
<a href="javascript:history.back()" class="govuk-back-link">Back</a>
{% endblock %}


{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-l">Rename selected items</h1>

        <form method="post" action="/ur-may-2026/B-off-system-MVP/rename-multiple-save" novalidate>
            <p class="govuk-body govuk-!-margin-bottom-7">You are renaming {{ data.renameCount }} {% if data.renameCount == 1 %}item{% else %}items{% endif %}. Changes will apply when you save.</p>

            {% for item in selectedItems %}
            <div class="govuk-form-group">
                    {% if item.folder %}<span class="govuk-hint govuk-!-margin-bottom-1">Folder name: {{ item.name }}</span>{% else %}<span
                        class="govuk-hint govuk-!-margin-bottom-1">File name: {{ item.name }}</span> {% endif %}

                <label class="govuk-label govuk-label--s govuk-!-margin-top-0" for="new_name_{{ item.id }}">                    
                    Updated name
                </label>
                <input class="govuk-input govuk-input--width-20" id="new_name_{{ item.id }}"
                    name="new_name_{{ item.id }}" type="text" value="{{ item.name }}">
            </div>
            {% endfor %}

            <div class="govuk-button-group">
                <button class="govuk-button" data-module="govuk-button" type="submit">Save</button>
                <a class="govuk-link" href="03-case-overview">Cancel</a>
            </div>
        </form>

    </div>
</div>
{% endblock %}