{% extends "layoutCPS-OFF.html" %}
{% block header %}
    {% include "../includes/banner-OFF-V4.html" %}
{% endblock %}
{% block beforeContent %}
    {% include "../includes/off-system-MVP/modalConfirmation-Egress.html" %}
{% endblock %}
{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <a href="javascript:history.back()" class="govuk-back-link">Back</a>
    </div>
</div>

<div class="govuk-grid-row govuk-!-margin-top-2" id="homepage-journey">
    <div class="govuk-grid-column-two-thirds">
        <div class="wrapper main-cotent">
            <h1 class="govuk-heading-xl govuk-!-margin-bottom-7" style="">4 files failed to transfer</h1>
            <h2 class="govuk-heading-m govuk-!-margin-bottom-4" style="">Network error</h2>
            <!-- <div class="govuk-inset-text"> -->
                <p>The following files did not transfer across to the shared drive, due to a network error</p>
            <!-- </div> -->

            <form method="post" action="03-case-overview#failed_files_COMPLETED" id="submit_failed_files">  

                <!-- SECTION - 1 - START -->
                <div class="url-text file_structure">
                    <div><span class="icon-new folder small"></span> SHEAF Ben</div>
                </div>
                <div class="file_container govuk-!-margin-bottom-6">
                    <table class="govuk-table" id="">
                        <tbody class="govuk-table__body">

                            <tr class="govuk-table__row hidden_row">
                                <td scope="row" class="govuk-table__cell" width="70%;">
                                    <span class="icon-new file"></span> S285 - MG11 - Intel analyst 6744 SHEAF Ben 21.05.2025.PDF
                                </td>
                                <td class="govuk-table__cell" width="30%;"><strong class="govuk-tag govuk-tag--red" style="float: right;">Failed</strong></td>
                            </tr>

                            <tr class="govuk-table__row hidden_row">
                                <td scope="row" class="govuk-table__cell" width="70%;">
                                    <span class="icon-new file"></span> S84 - MG11 - Intel analyst 3256 SHEAF Ben 15.09.2024.PDF
                                </td>
                                <td class="govuk-table__cell" width="30%;"><strong class="govuk-tag govuk-tag--red" style="float: right;">Failed</strong></td>
                            </tr>

                            <tr class="govuk-table__row hidden_row">
                                <td scope="row" class="govuk-table__cell" width="70%;">
                                    <span class="icon-new file"></span> S68 - MG11 - Intel analyst 1234 SHEAF Ben 10.12.2025.PDF
                                </td>
                                <td class="govuk-table__cell" width="30%;"><strong class="govuk-tag govuk-tag--red" style="float: right;">Failed</strong></td>
                            </tr>

                        </tbody>
                    </table>
                </div>
                <!-- SECTION - 1 - END -->

                <!-- SECTION - 2 - START -->
                <div class="url-text file_structure">
                    <div><span class="icon-new folder small"></span> Video Surveillance</div>
                </div>

                <div class="file_container govuk-!-margin-bottom-6">
                    <table class="govuk-table" id="">
                        <tbody class="govuk-table__body">

                            <tr class="govuk-table__row hidden_row">
                                <td scope="row" class="govuk-table__cell" width="72.5%;">
                                    <span class="icon-new file"></span> S81 - Video of crime in action 11-06-2024.MP4
                                </td>
                                <td class="govuk-table__cell" width="30%;"><strong class="govuk-tag govuk-tag--red" style="float: right;">Failed</strong></td>
                            </tr>

                        </tbody>
                    </table>
                </div>
                <!-- SECTION - 2 - END -->

                <div class="govuk-form-group">
                    <fieldset class="govuk-fieldset">
                        <legend class="govuk-fieldset__legend govuk-fieldset__legend--s"><h1 class="govuk-fieldset__heading">What would you like to do?</h1></legend>
                        <div class="govuk-radios  govuk-radios--inline" data-module="govuk-radios">
                            <div class="govuk-radios__item">
                                <input class="govuk-radios__input" id="failed_file_transfer__Try_again" name="failed_file_transfer" type="radio" value="Try again">
                                <label class="govuk-label govuk-radios__label" for="failed_file_transfer__Try_again">Try again</label>
                            </div>
                            <div class="govuk-radios__item">
                                <input class="govuk-radios__input" id="failed_file_transfer__Ignore_files" name="failed_file_transfer" type="radio" value="Ignore files">
                                <label class="govuk-label govuk-radios__label" for="failed_file_transfer__Ignore_files">Ignore files</label>
                            </div>
                        </div>
                    </fieldset>
                </div>

                <input id="failed_file_transfer" name="failed_file_transfer" type="text" value="false" style="display: none;">
                <input id="long_file_path_COMPLETED" name="long_file_path_COMPLETED" type="text" value="false" style="display: none;">
                <input id="failed_files_COMPLETED" name="failed_files_COMPLETED" type="text" value="true" style="display: none;">
                <button id="" type="submit" aria-disabled="false" class="govuk-button govuk-!-margin-bottom-6" data-module="govuk-button">Continue</button>
                
            </form>

            <p><a href="">Contact the product team</a> if you need further help, <strong>quote error code: 128YHU00</strong></p>

        </div>
    </div>

</div>

{% endblock %}