{% extends "layoutCPS-NEW-INDEX.html" %}
{% block header %}
    {% include "../../includes/banner-OFF-V7.html" %}
{% endblock %}
{% block beforeContent %}
<a class="govuk-back-link" href="javascript:history.back()">Back</a>
{% endblock %}
{% block content %}

{% set addAnotherAliasValue = requestBody['add-another'] if requestBody and requestBody['add-another'] else '' %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    {% if errorList and errorList.length %}
    <div class="govuk-error-summary" data-module="govuk-error-summary">
      <div role="alert">
        <h2 class="govuk-error-summary__title">
          There is a problem
        </h2>
        <div class="govuk-error-summary__body">
          <ul class="govuk-list govuk-error-summary__list">
            {% for error in errorList %}
            <li>
              <a href="{{ error.href }}">{{ error.text }}</a>
              {% if error.skipHref and error.skipText %}
              <div class="govuk-!-margin-top-3">
                <a class="govuk-link" style="font-weight: normal;" href="{{ error.skipHref }}">{{ error.skipText }}</a>
              </div>
              {% endif %}
            </li>
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>
    {% endif %}

    <!-- <h1 class="govuk-heading-l">You have added {{ data['aliasCount']}} {% if data['aliasCount'] == 1 %} alias {% else %} aliases{% endif %} for {{data['suspect-person-first-name']}} {{data['suspect-person-last-name']}}</h1> -->
    <h1 class="govuk-heading-l">Aliases for <span class="uppercase">{{ data['suspect-person-last-name'] }}</span>, {{ data['suspect-person-first-name'] }}</h1>
    <div class="govuk-form-group">

      <dl class="govuk-summary-list hmrc-list-with-actions hmrc-list-with-actions--short">

        {% for id in data['aliasId'] %}        
          {% if data['aliasSuspectID'][id] == data['aliasTempSuspectId'] %}

            <div class="govuk-summary-list__row">            
                <dt class="govuk-summary-list__key govuk-!-font-weight-bold hmrc-summary-list__key">
                  <span class="uppercase">{{data['aliasLastName'][id]}}</span>{% if data['aliasFirstName'][id] %}, {{data['aliasFirstName'][id]}} {% endif %}
                </dt>

                <dd class="govuk-summary-list__actions hmrc-summary-list__actions">
                  <ul class="govuk-summary-list__actions-list">
                    <li class="govuk-summary-list__actions-list-item"><a class="govuk-link" href="#"><span aria-hidden="true">Remove</span><span class="govuk-visually-hidden">Remove {{ data['aliasFirstName'][id]}} {{data['aliasLastName'][id]}}</span></a></li>
                  </ul>
                </dd>
            </div>
          {% endif %}
        {% endfor %}
      </dl>

    </div>
    <form action="/version-16/B-off-system-MVP/create-case/03-suspect-details-alias-summary" method="post" novalidate>
      <div class="govuk-form-group{% if errors and errors.addAnother %} govuk-form-group--error{% endif %}">
        <fieldset class="govuk-fieldset" {% if errors and errors.addAnother %}aria-describedby="add-another-error"{% endif %}>
          <legend class="govuk-fieldset__legend govuk-fieldset__legend govuk-fieldset__legend--m">
            Do you need to add another alias for <span class="uppercase">{{data['suspect-person-last-name']}}</span>, {{data['suspect-person-first-name']}}?
          </legend>
          {% if errors and errors.addAnother %}
          <span id="add-another-error" class="govuk-error-message">
            <span class="govuk-visually-hidden">Error:</span> {{ errors.addAnother }}
          </span>
          {% endif %}
          <!-- <div id="add-another-hint" class="govuk-hint">
            You must tell us about all your directors.
          </div> -->
          <div class="govuk-radios govuk-radios--inline" data-module="govuk-radios">
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="add-another" name="add-another" type="radio" value="Yes" {% if addAnotherAliasValue == 'Yes' %}checked{% endif %} {% if errors and errors.addAnother %}aria-describedby="add-another-error"{% endif %}>
              <label class="govuk-label govuk-radios__label" for="add-another">
                Yes
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="add-another-2" name="add-another" type="radio" value="No" {% if addAnotherAliasValue == 'No' %}checked{% endif %} {% if errors and errors.addAnother %}aria-describedby="add-another-error"{% endif %}>
              <label class="govuk-label govuk-radios__label" for="add-another-2">
                No
              </label>
            </div>
          </div>
        </fieldset>
      </div>

      {% include "../../includes/buttons.html" %}
    </form>
  </div>
</div>

{% endblock %}
