{% extends "layoutCPS-OFF.html" %}
{% block header %}
    {% include "../../includes/banner-OFF-V7.html" %}
{% endblock %}
{% block beforeContent %}
<a class="govuk-back-link" href="javascript:history.back()">Back</a>
{% endblock %}
{% block content %}


<div class="govuk-grid-row" id="create-case-journey">
    <div class="govuk-grid-column-two-thirds">
        <div class="gov-pages">
            <form method="post" action="/ur-feb-2026-closed/B-off-system-MVP/create-case/04-remove-charge">  

                <h1 class="govuk-heading-l">
                    Are you sure you want to remove this charge?
                </h1>

                <p class="govuk-body">This will permanently remove all the details you've entered.</p>
                <p class="govuk-body">You will not be able to restore them.</p>

                <div class="govuk-button-group govuk-!-margin-top-6">
                    <button class="govuk-button" data-module="govuk-button" name="submit-button" value="remove">
                        Remove charge
                    </button>                    
                    <a class="govuk-link" href="04-charges-summary">Cancel</a>
                        Cancel
                    </button>
                </div>
                
            </form>
        </div>
    </div>
    <div class="govuk-grid-column-one-third">

    </div>
</div>

{% endblock %}