
{% set version = 'ur-dec-2025-closed' %}


<div class="holdingBlock">
     <strong class="govuk-tag govuk-tag--yellow govuk-!-margin-bottom-2">Research</strong>
     <h2 class="govuk-heading-m govuk-!-margin-bottom-0">Large and Complex Cases research</h2>
     <p class="govuk-body govuk-!-margin-bottom-5">11 December 2025 &ndash; 16 December 2025</p>
     <p class="govuk-body govuk-!-font-weight-bold">Research with caseworkers</p>
     <ul class="govuk-list  govuk-list--bullet">
          <li><a href="/ur-dec-2025-closed/B-off-system-MVP/03-case-overview">Manage materials research prototype</a></li> 
     </ul>
     
</div>

