{% extends "layoutCPS-OFF.html" %}
{% block header %}
    {% include "../includes/banner-OFF-V7.html" %}
{% endblock %}
{% block beforeContent %}

{% endblock %}
{% block content %}

<div class="govuk-width-container">
  <main class="govuk-main-wrapper govuk-main-wrapper--l" id="main-content" role="main">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <div class="govuk-panel govuk-panel--confirmation">
          <h1 class="govuk-panel__title">
            Case registered successfully
          </h1>
          <div class="govuk-panel__body">
            URN<br><strong>{{ data['URN1'] }}{{ data['URN2'] }}{{ data['URN3'] }}/{{ data['URN4'] }}</strong>
          </div>
        </div>
        <!-- <p class="govuk-body">We have sent you a confirmation email.</p> -->
        <h2 class="govuk-heading-m">Next steps</h2>
        <p class="govuk-body">

          You can continue to view or edit the case details.
        </p>
        <p class="govuk-body">
          For large and complex cases, you can now set up folders for materials.
        </p>

        <form action="/version12/create-case/09-confirmation" method="post" novalidate>

        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset" aria-describedby="add-materials-hint">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend govuk-fieldset__legend--m">
              Do you want to set up folders for materials?
            </legend>
            <!-- <div id="add-materials-hint" class="govuk-hint">
              You must tell us about all your directors.
            </div> -->
            <div class="govuk-radios govuk-radios--inline" data-module="govuk-radios">
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="add-materials" name="add-materials" type="radio" value="Yes">
                <label class="govuk-label govuk-radios__label" for="add-materials">
                  Yes
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="add-materials-2" name="add-materials" type="radio" value="No">
                <label class="govuk-label govuk-radios__label" for="add-materials-2">
                  No
                </label>
              </div>
            </div>
          </fieldset>
        </div>

          <button type="submit" class="govuk-button">Continue</button>
          <!-- <button type="button" onclick="location.href='../../../';" class="non-button margin-left" id="">Cancel</button> -->
        </form>

        <!-- <p class="govuk-body">
          <a href="#" class="govuk-link">What did you think of this service?</a> (takes 30 seconds)
        </p> -->
      </div>
    </div>
  </main>
</div>
{% endblock %}