{% extends "layoutCPS-OFF.html" %}
{% block header %}
    {% include "../../includes/banner-OFF-V7.html" %}
{% endblock %}
{% block beforeContent %}
<a class="govuk-back-link" href="javascript:history.back()">Back</a>
{% endblock %}
{% block content %}

<div class="govuk-grid-row" id="create-case-journey">

    <div class="govuk-grid-column-two-thirds">
        <div class="gov-pages">
            <form method="post" action="/version-11/B-off-system-MVP/create-case/03-suspect-details-religion">  

                <fieldset class="govuk-fieldset">

                <div class="govuk-form-group">
                <fieldset class="govuk-fieldset">
                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                    <h1 class="govuk-fieldset__heading">
                        What is <span class="uppercase">{{data['suspectLastName'][data['removeSuspectId']]}}</span>, {{data['suspectFirstName'][data['removeSuspectId']]}}'s religion?
                    </h1>
                    </legend>
                    <div class="govuk-radios" data-module="govuk-radios">
                    <div class="govuk-radios__item">
                        <input class="govuk-radios__input" id="religion-no-religion" name="religion" type="radio" value="No religion">
                        <label class="govuk-label govuk-radios__label" for="religion-no-religion">
                        No religion
                        </label>
                    </div>
                    <div class="govuk-radios__item">
                        <input class="govuk-radios__input" id="religion-buddhist" name="religion" type="radio" value="Buddhist">
                        <label class="govuk-label govuk-radios__label" for="religion-buddhist">
                        Buddhist
                        </label>
                    </div>
                    <div class="govuk-radios__item">
                        <input class="govuk-radios__input" id="religion-not-Christian" name="religion" type="radio" value="Christian">
                        <label class="govuk-label govuk-radios__label" for="religion-not-Christian">
                        Christian
                        </label>
                    </div>
                    <div class="govuk-radios__item">
                        <input class="govuk-radios__input" id="religion-hindu" name="religion" type="radio" value="Hindu">
                        <label class="govuk-label govuk-radios__label" for="religion-hindu">
                        Hindu
                        </label>
                    </div>
                    <div class="govuk-radios__item">
                        <input class="govuk-radios__input" id="religion-jewish" name="religion" type="radio" value="Jewish">
                        <label class="govuk-label govuk-radios__label" for="religion-jewish">
                        Jewish
                        </label>
                    </div>
                    <div class="govuk-radios__item">
                        <input class="govuk-radios__input" id="religion-Muslim" name="religion" type="radio" value="Muslim">
                        <label class="govuk-label govuk-radios__label" for="religion-Muslim">
                         Muslim
                        </label>
                    </div>
                    <div class="govuk-radios__item">
                        <input class="govuk-radios__input" id="religion-Sikh" name="religion" type="radio" value="Sikh">
                        <label class="govuk-label govuk-radios__label" for="religion-Sikh">
                        Sikh
                        </label>
                    </div>
                    <div class="govuk-radios__item">
                        <input class="govuk-radios__input" id="religion-other" name="religion" type="radio" value="Other religion">
                        <label class="govuk-label govuk-radios__label" for="religion-other">
                        Other religion
                        </label>
                    </div>

                </fieldset>
                </div>

                {% include "../../includes/buttons.html" %}

            </form>

        </div>
    </div>
    <div class="govuk-grid-column-one-third">

    </div>
</div>

{% endblock %}