{% extends "layoutCPS-NEW-INDEX.html" %}
{% block header %}
    {% include "../../includes/banner-OFF-V7.html" %}
{% endblock %}
{% block beforeContent %}

{% endblock %}
{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <a href="javascript:history.back()" class="govuk-back-link">Back</a>
    </div>
</div>

<div class="govuk-grid-row" id="create-case-journey">
    <div class="govuk-grid-column-two-thirds">
        <div class="wrapper gov-pages">

            <h1 class="govuk-heading-xl" style="">Add witnesses</h1>

            <form method="get" action="04B-witnesses" id="newCase_Form-D1">  

                <p> </p>

                <!-- WITNESS 1 -- START -->
                <div id="witnessDetails-1" class="">
                    <div class="govuk-form-group">
                        <fieldset class="govuk-fieldset" aria-describedby="newCase_Witness_1-hint">
                            <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
                                <h1 class="govuk-fieldset__heading">
                                    Witness 1
                                    <a class="govuk-button govuk-button--secondary govuk-!-margin-bottom-2 removeWitness" id="removeWintess1" onclick="removeWintess1()">Remove witness</a>
                                </h1>
                            </legend>
                            <!-- OPTION 1 - START -->
                            <div class="govuk-form-group">
                                <label class="govuk-label" for="newCase_Witness-FirstName">First name</label>
                                {% if data['newCase_Witness-FirstName'] %}
                                    <input class="govuk-input govuk-input--width-20" id="newCase_Witness-FirstName" name="newCase_Witness-FirstName" type="text" value="{{ data['newCase_Witness-FirstName'] }}">
                                {% else %}
                                    <input class="govuk-input govuk-input--width-20" id="newCase_Witness-FirstName" name="newCase_Witness-FirstName" type="text">
                                {% endif %}
                            </div>
                            <!-- OPTION 1 - END -->

                            <!-- OPTION 2 - START -->
                            <div class="govuk-form-group">
                                <label class="govuk-label" for="newCase_Witness-LastName">Last name</label>
                                {% if data['newCase_Witness-LastName'] %}
                                    <input class="govuk-input govuk-input--width-20" id="newCase_Witness-LastName" name="newCase_Witness-LastName" type="text" value="{{ data['newCase_Witness-LastName'] }}">
                                {% else %}
                                    <input class="govuk-input govuk-input--width-20" id="newCase_Witness-LastName" name="newCase_Witness-LastName" type="text">
                                {% endif %}
                            </div>
                            <!-- OPTION 2 - END -->

                            <!-- OPTION 3 - START -->
                            <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
                                <div class="govuk-checkboxes__item">
                                    <input class="govuk-checkboxes__input" id="newCase_Witness-Victim" name="newCase_Witness-Victim" type="checkbox" value="Victim">
                                    <label class="govuk-label govuk-checkboxes__label" for="newCase_Witness-Victim">Victim</label>
                                </div>
                                <div class="govuk-checkboxes__item">
                                    <input class="govuk-checkboxes__input" id="newCase_Witness-Vulnerable" name="newCase_Witness-Vulnerable" type="checkbox" value="Vulnerable">
                                    <label class="govuk-label govuk-checkboxes__label" for="newCase_Witness-Vulnerable">Vulnerable</label>
                                </div>
                                <div class="govuk-checkboxes__item">
                                    <input class="govuk-checkboxes__input" id="newCase_Witness-Intimidated" name="newCase_Witness-Intimidated" type="checkbox" value="Intimidated">
                                    <label class="govuk-label govuk-checkboxes__label" for="newCase_Witness-Intimidated">Intimidated</label>
                                </div>
                            </div>
                            <!-- OPTION 3 - END -->

                        </fieldset>
                    </div>                    

                    <a class="govuk-button govuk-button--secondary govuk-!-margin-bottom-2" id="addWitness1" onclick="addWitness1()">Add witness</a>
                    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
                </div>
                <!-- WITNESS 1 -- END -->

                <!-- WITNESS 2 -- START -->
                {% if data['newCase_Witness-LastName2'] %}
                    <div id="witnessDetails-2" class="witnessDetails active">
                {% else %}
                    <div id="witnessDetails-2" class="witnessDetails">
                {% endif %}
                    <div class="govuk-form-group">
                        <fieldset class="govuk-fieldset" aria-describedby="newCase_Witness-hint">
                            <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
                                <h1 class="govuk-fieldset__heading">
                                    Witness 2
                                    <a class="govuk-button govuk-button--secondary govuk-!-margin-bottom-2 removeWitness" id="removeWitness2" onclick="removeWitness2()">Remove witness</a>
                                </h1>
                            </legend>

                            <!-- OPTION 1 - START -->
                            <div class="govuk-form-group">
                                <label class="govuk-label" for="newCase_Witness-FirstName2">First name</label>
                                {% if data['newCase_Witness-FirstName2'] %}
                                    <input class="govuk-input govuk-input--width-20" id="newCase_Witness-FirstName2" name="newCase_Witness-FirstName2" type="text" value="{{ data['newCase_Witness-FirstName2'] }}">
                                {% else %}
                                    <input class="govuk-input govuk-input--width-20" id="newCase_Witness-FirstName2" name="newCase_Witness-FirstName2" type="text">
                                {% endif %}
                            </div>
                            <!-- OPTION 1 - END -->

                            <!-- OPTION 2 - START -->
                            <div class="govuk-form-group">
                                <label class="govuk-label" for="newCase_Witness-LastName2">Last name</label>
                                {% if data['newCase_Witness-LastName2'] %}
                                    <input class="govuk-input govuk-input--width-20" id="newCase_Witness-LastName2" name="newCase_Witness-LastName2" type="text" value="{{ data['newCase_Witness-LastName2'] }}">
                                {% else %}
                                    <input class="govuk-input govuk-input--width-20" id="newCase_Witness-LastName2" name="newCase_Witness-LastName2" type="text">
                                {% endif %}
                            </div>
                            <!-- OPTION 2 - END -->

                            <!-- OPTION 3 - START -->
                            <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
                                <div class="govuk-checkboxes__item">
                                    <input class="govuk-checkboxes__input" id="newCase_Witness-Victim2" name="newCase_Witness-Victim2" type="checkbox" value="Victim">
                                    <label class="govuk-label govuk-checkboxes__label" for="newCase_Witness-Victim2">Victim</label>
                                </div>
                                <div class="govuk-checkboxes__item">
                                    <input class="govuk-checkboxes__input" id="newCase_Witness-Vulnerable2" name="newCase_Witness-Vulnerable2" type="checkbox" value="Vulnerable">
                                    <label class="govuk-label govuk-checkboxes__label" for="newCase_Witness-Vulnerable2">Vulnerable</label>
                                </div>
                                <div class="govuk-checkboxes__item">
                                    <input class="govuk-checkboxes__input" id="newCase_Witness-Intimidated2" name="newCase_Witness-Intimidated2" type="checkbox" value="Intimidated">
                                    <label class="govuk-label govuk-checkboxes__label" for="newCase_Witness-Intimidated2">Intimidated</label>
                                </div>
                            </div>
                            <!-- OPTION 3 - END -->

                        </fieldset>
                    </div>                    

                    <a class="govuk-button govuk-button--secondary govuk-!-margin-bottom-2" id="addWitness2" onclick="addWitness2()">Add Witness</a>
                    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
                </div>
                <!-- WITNESS 2 -- END -->

                <!-- WITNESS 3 -- START -->
                {% if data['newCase_Witness-LastName3'] %}
                    <div id="witnessDetails-3" class="witnessDetails active">
                {% else %}
                    <div id="witnessDetails-3" class="witnessDetails">
                {% endif %}
                    <div class="govuk-form-group">
                        <fieldset class="govuk-fieldset" aria-describedby="newCase_Witness_3-hint">
                            <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
                                <h1 class="govuk-fieldset__heading">
                                    Witness 3
                                    <a class="govuk-button govuk-button--secondary govuk-!-margin-bottom-2 removeWitness" id="removeWitness3" onclick="removeWitness3()">Remove witness</a>
                                </h1>
                            </legend>

                            <!-- OPTION 1 - START -->
                            <div class="govuk-form-group">
                                <label class="govuk-label" for="newCase_Witness-FirstName3">First name</label>
                                {% if data['newCase_Witness-FirstName3'] %}
                                    <input class="govuk-input govuk-input--width-20" id="newCase_Witness-FirstName3" name="newCase_Witness-FirstName3" type="text" value="{{ data['newCase_Witness-FirstName3'] }}">
                                {% else %}
                                    <input class="govuk-input govuk-input--width-20" id="newCase_Witness-FirstName3" name="newCase_Witness-FirstName3" type="text">
                                {% endif %}
                            </div>
                            <!-- OPTION 1 - END -->

                            <!-- OPTION 2 - START -->
                            <div class="govuk-form-group">
                                <label class="govuk-label" for="newCase_Witness-LastName3">Last name</label>
                                {% if data['newCase_Witness-LastName3'] %}
                                    <input class="govuk-input govuk-input--width-20" id="newCase_Witness-LastName3" name="newCase_Witness-LastName3" type="text" value="{{ data['newCase_Witness-LastName3'] }}">
                                {% else %}
                                    <input class="govuk-input govuk-input--width-20" id="newCase_Witness-LastName3" name="newCase_Witness-LastName3" type="text">
                                {% endif %}
                            </div>
                            <!-- OPTION 2 - END -->

                            <!-- OPTION 3 - START -->
                            <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
                                <div class="govuk-checkboxes__item">
                                    <input class="govuk-checkboxes__input" id="newCase_Witness-Victim3" name="newCase_Witness-Victim3" type="checkbox" value="Victim">
                                    <label class="govuk-label govuk-checkboxes__label" for="newCase_Witness-Victim3">Victim</label>
                                </div>
                                <div class="govuk-checkboxes__item">
                                    <input class="govuk-checkboxes__input" id="newCase_Witness-Vulnerable3" name="newCase_Witness-Vulnerable3" type="checkbox" value="Vulnerable">
                                    <label class="govuk-label govuk-checkboxes__label" for="newCase_Witness-Vulnerable3">Vulnerable</label>
                                </div>
                                <div class="govuk-checkboxes__item">
                                    <input class="govuk-checkboxes__input" id="newCase_Witness-Intimidated3" name="newCase_Witness-Intimidated3" type="checkbox" value="Intimidated">
                                    <label class="govuk-label govuk-checkboxes__label" for="newCase_Witness-Intimidated3">Intimidated</label>
                                </div>
                            </div>
                            <!-- OPTION 3 - END -->

                        </fieldset>
                    </div>                    

                    <a class="govuk-button govuk-button--secondary govuk-!-margin-bottom-2" id="addWitness3" onclick="addWitness3()">Add witness</a>
                    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
                </div>
                <!-- WITNESS 3 -- END -->

                <!-- WITNESS 4 -- START -->
                {% if data['newCase_Witness-LastName4'] %}
                    <div id="witnessDetails-4" class="witnessDetails active">
                {% else %}
                    <div id="witnessDetails-4" class="witnessDetails">
                {% endif %}
                    <div class="govuk-form-group">
                        <fieldset class="govuk-fieldset" aria-describedby="newCase_Witness_4-hint">
                            <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
                                <h1 class="govuk-fieldset__heading">
                                    Witness 4
                                    <a class="govuk-button govuk-button--secondary govuk-!-margin-bottom-2 removeWitness" id="removeWitness4" onclick="removeWitness4()">Remove witness</a>
                                </h1>
                            </legend>

                            <!-- OPTION 1 - START -->
                            <div class="govuk-form-group">
                                <label class="govuk-label" for="newCase_Witness-FirstName4">First name</label>
                                {% if data['newCase_Witness-FirstName4'] %}
                                    <input class="govuk-input govuk-input--width-20" id="newCase_Witness-FirstName4" name="newCase_Witness-FirstName4" type="text" value="{{ data['newCase_Witness-FirstName4'] }}">
                                {% else %}
                                    <input class="govuk-input govuk-input--width-20" id="newCase_Witness-FirstName4" name="newCase_Witness-FirstName4" type="text">
                                {% endif %}
                            </div>
                            <!-- OPTION 1 - END -->

                            <!-- OPTION 2 - START -->
                            <div class="govuk-form-group">
                                <label class="govuk-label" for="newCase_Witness-LastName2">Last name</label>
                                {% if data['newCase_Witness-LastName4'] %}
                                    <input class="govuk-input govuk-input--width-20" id="newCase_Witness-LastName4" name="newCase_Witness-LastName4" type="text" value="{{ data['newCase_Witness-LastName4'] }}">
                                {% else %}
                                    <input class="govuk-input govuk-input--width-20" id="newCase_Witness-LastName4" name="newCase_Witness-LastName4" type="text">
                                {% endif %}
                            </div>
                            <!-- OPTION 2 - END -->

                            <!-- OPTION 3 - START -->
                            <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
                                <div class="govuk-checkboxes__item">
                                    <input class="govuk-checkboxes__input" id="newCase_Witness-Victim4" name="newCase_Witness-Victim4" type="checkbox" value="Victim">
                                    <label class="govuk-label govuk-checkboxes__label" for="newCase_Witness-Victim4">Victim</label>
                                </div>
                                <div class="govuk-checkboxes__item">
                                    <input class="govuk-checkboxes__input" id="newCase_Witness-Vulnerable4" name="newCase_Witness-Vulnerable4" type="checkbox" value="Vulnerable">
                                    <label class="govuk-label govuk-checkboxes__label" for="newCase_Witness-Vulnerable4">Vulnerable</label>
                                </div>
                                <div class="govuk-checkboxes__item">
                                    <input class="govuk-checkboxes__input" id="newCase_Witness-Intimidated4" name="newCase_Witness-Intimidated4" type="checkbox" value="Intimidated">
                                    <label class="govuk-label govuk-checkboxes__label" for="newCase_Witness-Intimidated4">Intimidated</label>
                                </div>
                            </div>
                            <!-- OPTION 3 - END -->

                        </fieldset>
                    </div>                    

                    <a class="govuk-button govuk-button--secondary govuk-!-margin-bottom-2" id="addWitness4" onclick="addWitness4()">Add witness</a>
                    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
                </div>
                <!-- WITNESS 4 -- END -->

                <!-- WITNESS 5 -- START -->
                {% if data['newCase_Witness-LastName5'] %}
                    <div id="witnessDetails-5" class="witnessDetails active">
                {% else %}
                    <div id="witnessDetails-5" class="witnessDetails">
                {% endif %}
                    <div class="govuk-form-group">
                        <fieldset class="govuk-fieldset" aria-describedby="newCase_Witness_5-hint">
                            <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
                                <h1 class="govuk-fieldset__heading">
                                    Witness 5
                                    <a class="govuk-button govuk-button--secondary govuk-!-margin-bottom-2 removeWitness" id="removeWitness5" onclick="removeWitness5()">Remove witness</a>
                                </h1>
                            </legend>

                            <!-- OPTION 1 - START -->
                            <div class="govuk-form-group">
                                <label class="govuk-label" for="newCase_Witness-FirstName5">First name</label>
                                {% if data['newCase_Witness-FirstName5'] %}
                                    <input class="govuk-input govuk-input--width-20" id="newCase_Witness-FirstName5" name="newCase_Witness-FirstName5" type="text" value="{{ data['newCase_Witness-FirstName5'] }}">
                                {% else %}
                                    <input class="govuk-input govuk-input--width-20" id="newCase_Witness-FirstName5" name="newCase_Witness-FirstName5" type="text">
                                {% endif %}
                            </div>
                            <!-- OPTION 1 - END -->

                            <!-- OPTION 2 - START -->
                            <div class="govuk-form-group">
                                <label class="govuk-label" for="newCase_Witness-LastName5">Last name</label>
                                {% if data['newCase_Witness-LastName5'] %}
                                    <input class="govuk-input govuk-input--width-20" id="newCase_Witness-LastName5" name="newCase_Witness-LastName5" type="text" value="{{ data['newCase_Witness-LastName5'] }}">
                                {% else %}
                                    <input class="govuk-input govuk-input--width-20" id="newCase_Witness-LastName5" name="newCase_Witness-LastName5" type="text">
                                {% endif %}
                            </div>
                            <!-- OPTION 2 - END -->

                            <!-- OPTION 3 - START -->
                            <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
                                <div class="govuk-checkboxes__item">
                                    <input class="govuk-checkboxes__input" id="newCase_Witness-Victim5" name="newCase_Witness-Victim5" type="checkbox" value="Victim">
                                    <label class="govuk-label govuk-checkboxes__label" for="newCase_Witness-Victim5">Victim</label>
                                </div>
                                <div class="govuk-checkboxes__item">
                                    <input class="govuk-checkboxes__input" id="newCase_Witness-Vulnerable5" name="newCase_Witness-Vulnerable5" type="checkbox" value="Vulnerable">
                                    <label class="govuk-label govuk-checkboxes__label" for="newCase_Witness-Vulnerable5">Vulnerable</label>
                                </div>
                                <div class="govuk-checkboxes__item">
                                    <input class="govuk-checkboxes__input" id="newCase_Witness-Intimidated5" name="newCase_Witness-Intimidated5" type="checkbox" value="Intimidated">
                                    <label class="govuk-label govuk-checkboxes__label" for="newCase_Witness-Intimidated5">Intimidated</label>
                                </div>
                            </div>
                            <!-- OPTION 3 - END -->

                        </fieldset>
                    </div>                    

                    <a class="govuk-button govuk-button--secondary govuk-!-margin-bottom-2" id="addWitness5" onclick="addWitness5()">Add witness</a>
                    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
                </div>
                <!-- WITNESS 5 -- END -->

                <input id="createCase_D1_Complete" name="createCase_D1_Complete" type="text" value="true" style="display: none;">
                <button type="submit" class="govuk-button" style="">Save and continue</button>
                <button type="button" onclick="location.href='02-case-details';" class="non-button margin-left" id="">Cancel</button>

            </form>

        </div>
    </div>
    <div class="govuk-grid-column-one-third">
        <div class="existing-contacts">
            <h2 class="govuk-heading-s" style="">Case witnesses</h2>
            <div class="contacts">
                <div id="new-contacts">
                    <p class="holder">Your list of witness will appear here</p>
                    {% if data['newCase_Witness-LastName'] %}
                        <p class="witnessDetails-1">
                            <span class="icon-new user"></span><span class="uppercase">{{ data['newCase_Witness-LastName'] }}</span>, {{ data['newCase_Witness-FirstName'] }}<br>
                            {% if data['newCase_Witness-Victim'] %}<strong class="govuk-tag govuk-tag--blue">Victim</strong>{% else %}{% endif %}
                            {% if data['newCase_Witness-Vulnerable'] %}<strong class="govuk-tag govuk-tag--blue">Vulnerable</strong>{% else %}{% endif %}
                            {% if data['newCase_Witness-Intimidated'] %}<strong class="govuk-tag govuk-tag--blue">Intimidated</strong>{% else %}{% endif %}
                        </p>
                    {% else %}

                    {% endif %}
                    {% if data['newCase_Witness-LastName2'] %}
                        <p class="witnessDetails-2">
                            <span class="icon-new user"></span><span class="uppercase">{{ data['newCase_Witness-LastName2'] }}</span>, {{ data['newCase_Witness-FirstName2'] }}<br>
                            {% if data['newCase_Witness-Victim2'] %}<strong class="govuk-tag govuk-tag--blue">Victim</strong>{% else %}{% endif %}
                            {% if data['newCase_Witness-Vulnerable2'] %}<strong class="govuk-tag govuk-tag--blue">Vulnerable</strong>{% else %}{% endif %}
                            {% if data['newCase_Witness-Intimidated2'] %}<strong class="govuk-tag govuk-tag--blue">Intimidated</strong>{% else %}{% endif %}
                        </p>
                    {% else %}

                    {% endif %}
                    {% if data['newCase_Witness-LastName3'] %}
                        <p class="witnessDetails-3">
                            <span class="icon-new user"></span><span class="uppercase">{{ data['newCase_Witness-LastName3'] }}</span>, {{ data['newCase_Witness-FirstName3'] }}<br>
                            {% if data['newCase_Witness-Victim3'] %}<strong class="govuk-tag govuk-tag--blue">Victim</strong>{% else %}{% endif %}
                            {% if data['newCase_Witness-Vulnerable3'] %}<strong class="govuk-tag govuk-tag--blue">Vulnerable</strong>{% else %}{% endif %}
                            {% if data['newCase_Witness-Intimidated3'] %}<strong class="govuk-tag govuk-tag--blue">Intimidated</strong>{% else %}{% endif %}
                        </p>
                    {% else %}

                    {% endif %}
                    {% if data['newCase_Witness-LastName4'] %}
                        <p class="witnessDetails-4">
                            <span class="icon-new user"></span><span class="uppercase">{{ data['newCase_Witness-LastName4'] }}</span>, {{ data['newCase_Witness-FirstName4'] }}<br>
                            {% if data['newCase_Witness-Victim4'] %}<strong class="govuk-tag govuk-tag--blue">Victim</strong>{% else %}{% endif %}
                            {% if data['newCase_Witness-Vulnerable4'] %}<strong class="govuk-tag govuk-tag--blue">Vulnerable</strong>{% else %}{% endif %}
                            {% if data['newCase_Witness-Intimidated4'] %}<strong class="govuk-tag govuk-tag--blue">Intimidated</strong>{% else %}{% endif %}
                        </p>
                    {% else %}

                    {% endif %}
                    {% if data['newCase_Witness-LastName5'] %}
                        <p class="witnessDetails-5">
                            <span class="icon-new user"></span><span class="uppercase">{{ data['newCase_Witness-LastName5'] }}</span>, {{ data['newCase_Witness-FirstName5'] }}<br>
                            {% if data['newCase_Witness-Victim5'] %}<strong class="govuk-tag govuk-tag--blue">Victim</strong>{% else %}{% endif %}
                            {% if data['newCase_Witness-Vulnerable5'] %}<strong class="govuk-tag govuk-tag--blue">Vulnerable</strong>{% else %}{% endif %}
                            {% if data['newCase_Witness-Intimidated5'] %}<strong class="govuk-tag govuk-tag--blue">Intimidated</strong>{% else %}{% endif %}
                        </p>
                    {% else %}

                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}