<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-quarter" id="materials_column_1">
    <div class="moj-filter-layout__filter">
      {% include "../materials/materials-filter.html" %}
    </div>
  </div>

  <div class="govuk-grid-column-three-quarters" id="materials_column_2">

    <!-- Materials List -->
    <div class="cps-materials-main">
      <div class="cps-materials-header">
        <div>
          <a href="#" class="govuk-link" id="toggle-filters">Hide filter</a>
          <span class="govuk-body govuk-!-margin-left-4">
            Showing <strong>{{ materials | length }}</strong> materials out of <strong>{{ materials | length }}</strong>
          </span>
        </div>
        <div class="cps-actions-dropdown">
          <button class="govuk-button govuk-button--secondary" data-module="govuk-button">
            Actions on selection
            <svg width="16" height="16" viewBox="0 0 16 16" fill="currentColor">
              <path d="M4 6L8 10L12 6H4Z"/>
            </svg>
          </button>
        </div>
      </div>

      <table class="govuk-table cps-materials-table">
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header cps-table-checkbox">
              <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
                <div class="govuk-checkboxes__item">
                  <input type="checkbox" id="select-all" class="govuk-checkboxes__input">
                  <label class="govuk-label govuk-checkboxes__label" for="select-all">
                    <span class="visuallyhidden">Select all materials</span>
                  </label>
                </div>
              </div>
            </th>
            <th scope="col" class="govuk-table__header"><a href="#" class="govuk-link">Material</a></th>
            <th scope="col" class="govuk-table__header"><a href="#" class="govuk-link">Type</a></th>
            <th scope="col" class="govuk-table__header"><a href="#" class="govuk-link">Category</a></th>
            <th scope="col" class="govuk-table__header"><a href="#" class="govuk-link">Date</a></th>
            <th scope="col" class="govuk-table__header"><a href="#" class="govuk-link">Status</a></th>
            <th scope="col" class="govuk-table__header"></th>
          </tr>
        </thead>

        <tbody class="govuk-table__body">
          {% for material in materials %}
          <tr class="govuk-table__row">
            <td class="govuk-table__cell cps-table-checkbox">
              <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input material-checkbox"
                         id="materials_document_{{ material.id }}"
                         name="materials_document"
                         type="checkbox"
                         value="{{ material.name }}">
                  <label class="govuk-label govuk-checkboxes__label"
                         for="materials_document_{{ material.id }}">
                    <span class="visuallyhidden">{{ material.name }}</span>
                  </label>
                </div>
              </div>
            </td>

            <td class="govuk-table__cell title_column">
              <form action="{{ material.docLink }}" method="post" novalidate>
              {% if material.new %}
                <strong class="govuk-tag govuk-tag--blue">New</strong>
              {% endif %}
                  <input type="hidden" name="add-charge-suspect-id" value="{{ material.id }}">
                  <button class="govuk-link govuk-link--no-visited-state suspect" type="submit">{{ material.name }}</button>
              </form>

              <!-- <div class="openMe">
                <a class="govuk-button show_material"
                   data-id="{{ material.id }}"
                   data-doc="{{ material.docLink }}">
                   {{ material.name }}
                </a>
              </div> -->
            </td>

            <td class="govuk-table__cell">{{ material.type }}</td>
            <td class="govuk-table__cell">{{ material.category }}</td>
            <td class="govuk-table__cell">{{ material.date }}</td>

            <td class="govuk-table__cell">
              <strong class="govuk-tag govuk-tag--{{ material.status | lower | replace(' ', '-') }}">
                {{ material.status }}
              </strong>
            </td>

            <td class="govuk-table__cell toggle-panel">
              <button type="button"
                      class="govuk-button govuk-button--secondary show_material_actions"
                      data-module="govuk-button"
                      data-id="{{ material.id }}"
                      data-doc="{{ material.docLink }}"
                      onclick="return openMaterial();">
                Preview
                <i class="fa-solid fa-chevron-down"></i>
              </button>
            </td>
          </tr>

          <!-- Hidden row for embedded preview -->
          <tr class="govuk-table__row hidden_row" data-row_id="{{ material.id }}" style="display: none;">
            <td colspan="7">
              <div class="document_holder">
                <embed src="{{ material.previewLink }}" type="application/pdf" width="100%" height="600px">
              </div>
            </td>
          </tr>          
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>