{% set version = 'version-5' %}

<div class="holdingBlock">
     <strong class="govuk-tag govuk-!-margin-bottom-2">BETA</strong>
     <h2 class="govuk-heading-m govuk-!-margin-bottom-0">Large and Complex Cases v5</h2>
     <p class="govuk-body govuk-!-margin-bottom-10">14th May 2025 - 27th May 2025</p>
     <ul class="govuk-list  govuk-list--bullet">
          <li>Use case mapping</li>
     </ul>
     <form method="get" action="/version-5/B-off-system-MVP/01-search" id="" class="govuk-!-margin-bottom-2" style="display: inline-block; clear: left;">  
          <input id="verion_MVP" name="verion_MVP" type="text" value="true" style="display: none;">
          <button type="submit" class="govuk-button govuk-!-margin-bottom-0" style="" onclick="">BETA - MVP</button>
     </form>
</div>
