
{% set version = 'version-11' %}

<div class="holdingBlock">
     <h2 class="govuk-heading-m govuk-!-margin-bottom-3">Quick links</h2>
     <ul class="govuk-list  govuk-list--bullet">
          <li><a href="/version-11/B-off-system-MVP/manage-materials">Manage materials</a></li>
          <li><a href="/version-11/B-off-system-MVP/create-case/03-add-suspect">Add a suspect</a></li>
          <li><a href="/version-11/B-off-system-MVP/create-case/01-register-case">Register a case</a></li>
     </ul>
     
     <!-- <h2 class="govuk-heading-m govuk-!-margin-bottom-3">Quick links</h2>
     <ul class="govuk-list  govuk-list--bullet">
          <li><a href="/version-10/B-off-system-MVP/create-case/03-add-suspect">Add a suspect</a></li>
          <li><a href="/version-10/B-off-system-MVP/create-case/08-check-answers">Check your answers</a></li>
     </ul> -->

</div>
