{% extends "layoutCPS-OFF.html" %}
{% block header %}
    {% include "../includes/banner-OFF-V4.html" %}
{% endblock %}
{% block beforeContent %}

{% endblock %}
{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <a href="javascript:history.back()" class="govuk-back-link">Back</a>
    </div>
</div>

<div class="govuk-grid-row govuk-!-margin-top-2 govuk-!-margin-bottom-4" id="homepage-journey">
    <div class="govuk-grid-column-two-thirds">
        <div class="wrapper main-cotent">

            <div class="govuk-form-group govuk-!-margin-bottom-4">
                <fieldset class="govuk-fieldset" aria-describedby="offCMS_Egress_files-hint">
                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
                        <h1 class="govuk-fieldset__heading  govuk-!-margin-bottom-2">Sorry, there was a problem connecting to the shared drive</h1>
                    </legend>

                    <p class="govuk-body">You can:</p>

                    <ul class="govuk-list govuk-list--bullet govuk-!-margin-bottom-6">
                        <li>check for spelling mistakes in the operation name</li>
                        <li>check the Case Management System to make sure the case exists and that you have access</li>
                        <li>contact the product team if you need further help</li>
                    </ul>

                    <p><a href="01-search">Search for another case</a>.</p>

                </fieldset>
            </div>

        </div>
    </div>

</div>

{% endblock %}