{% extends "layoutCPS-OFF.html" %}
{% block header %}
    {% include "../includes/banner-OFF-V4.html" %}
{% endblock %}
{% block beforeContent %}
    {% include "../includes/off-system-MVP/modalConfirmation-Egress.html" %}
{% endblock %}
{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <a href="javascript:history.back()" class="govuk-back-link">Back</a>
    </div>
</div>

<div class="govuk-grid-row govuk-!-margin-top-2" id="homepage-journey">
    <div class="govuk-grid-column-two-thirds">
        <div class="wrapper main-cotent">
            <h1 class="govuk-heading-xl govuk-!-margin-bottom-7" style="">Files failed to transfer</h1>
            <h2 class="govuk-heading-m govuk-!-margin-bottom-4" style="">Duplicate files</h2>
            <!-- <div class="govuk-inset-text"> -->
                <p>You have a number of duplicate documents already existing on the shared drive:</p>
            <!-- </div> -->

            <form method="post" action="03-case-overview#duplicate_files_COMPLETED" id="submit_failed_files">  

                <!-- SECTION - 1 - START -->
                <div class="url-text file_structure">
                    <div><span class="icon-new folder small"></span> 10. Police</div>
                </div>
                <div class="file_container govuk-!-margin-bottom-6">
                    <table class="govuk-table" id="">
                        <tbody class="govuk-table__body">

                            <tr class="govuk-table__row hidden_row">
                                <td scope="row" class="govuk-table__cell" width="70%;">
                                    <span class="icon-new file"></span> S285 - MG11 - Intel analyst 6744 ALLEN Jamie 21.05.2025.PDF
                                </td>
                                <td class="govuk-table__cell" width="30%;"><strong class="govuk-tag govuk-tag--blue" style="float: right;">Duplicate</strong></td>
                            </tr>

                            <tr class="govuk-table__row hidden_row">
                                <td scope="row" class="govuk-table__cell" width="70%;">
                                    <span class="icon-new file"></span> S84 - MG11 - Intel analyst 3256 ALLEN Jamie 15.09.2024.PDF
                                </td>
                                <td class="govuk-table__cell" width="30%;"><strong class="govuk-tag govuk-tag--blue" style="float: right;">Duplicate</strong></td>
                            </tr>

                            <tr class="govuk-table__row hidden_row">
                                <td scope="row" class="govuk-table__cell" width="70%;">
                                    <span class="icon-new file"></span> S68 - MG11 - Intel analyst 1234 ALLEN Jamie 10.12.2025.PDF
                                </td>
                                <td class="govuk-table__cell" width="30%;"><strong class="govuk-tag govuk-tag--blue" style="float: right;">Duplicate</strong></td>
                            </tr>

                            <tr class="govuk-table__row hidden_row">
                                <td scope="row" class="govuk-table__cell" width="72.5%;">
                                    <span class="icon-new file"></span> S81 - Video of crime in action 11-06-2024.MP4
                                </td>
                                <td class="govuk-table__cell" width="30%;"><strong class="govuk-tag govuk-tag--blue" style="float: right;">Duplicate</strong></td>
                            </tr>

                        </tbody>
                    </table>
                </div>
                <!-- SECTION - 1 - END -->

                <div class="govuk-form-group">
                    <fieldset class="govuk-fieldset">
                        <legend class="govuk-fieldset__legend govuk-fieldset__legend--s"><h1 class="govuk-fieldset__heading">What would you like to do?</h1></legend>
                        <div class="govuk-radios  govuk-radios--inline" data-module="govuk-radios">
                            <div class="govuk-radios__item">
                                <input class="govuk-radios__input" id="duplicate_files_transfer__Overwrite" name="duplicate_files_transfer" type="radio" value="Overwrite existing files">
                                <label class="govuk-label govuk-radios__label" for="duplicate_files_transfer__Overwrite">Overwrite existing files</label>
                            </div>
                            <div class="govuk-radios__item">
                                <input class="govuk-radios__input" id="duplicate_files_transfer__Ignore_files" name="duplicate_files_transfer" type="radio" value="Ignore files">
                                <label class="govuk-label govuk-radios__label" for="duplicate_files_transfer__Ignore_files">Ignore files</label>
                            </div>
                            <div class="govuk-radios__item">
                                <input class="govuk-radios__input" id="duplicate_files_transfer__Duplicate_files" name="duplicate_files_transfer" type="radio" value="Duplicate files">
                                <label class="govuk-label govuk-radios__label" for="duplicate_files_transfer__Duplicate_files">Duplicate files</label>
                            </div>
                        </div>
                    </fieldset>
                </div>

                <div class="govuk-warning-text  govuk-!-margin-bottom-6" id="duplicate_files_transfer__Warning">
                    <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
                    <strong class="govuk-warning-text__text">
                        <span class="govuk-visually-hidden">Warning</span>
                        We duplicate all files and prefix the new items with "_V2", so "duplicate_document.pdf" becomes "duplicate_document_V2.pdf"
                    </strong>
                </div>

                <!-- <input id="long_file_path_COMPLETED" name="long_file_path_COMPLETED" type="text" value="false" style="display: none;"> -->
                <input id="duplicate_files_COMPLETED" name="duplicate_files_COMPLETED" type="text" value="true" style="display: none;">
                <button id="" type="submit" aria-disabled="false" class="govuk-button govuk-!-margin-bottom-6" data-module="govuk-button">Continue</button>
                <!-- <a class="non-button" href="03-case-overview">Cancel</button> -->

            </form>

        </div>
    </div>

</div>

{% endblock %}