{% extends "layoutCPS-OFF-V11.html" %}

{% block pageTitle %}
Discard documents – {{ serviceName }} – Prototype
{% endblock %}

{% block header %}
{% include "../includes/banner-OFF-V6.html" %}
{% endblock %}


{% block beforeContent %}

{% endblock %}

{% block content %}
<div class="govuk-width-container">

     <div class="govuk-grid-row">
          <div class="govuk-grid-column-two-thirds">
               <a href="javascript:history.back()" class="govuk-back-link">Back</a>
          </div>
     </div>

     <div class="govuk-grid-row">
          <div class="govuk-grid-column-two-thirds">
               <form novalidate method="post" action="/manage-materials-beta-v1/B-off-system-MVP/delete-material">
                    <input type="hidden" name="material_selected" value="{{ data['material_selected'] }}">

                    <div class="govuk-form-group">
                         <fieldset class="govuk-fieldset" aria-describedby="changeCategory-hint">
                              <!-- <span class="govuk-caption-l">Delete material</span> -->
                              <h1 class="govuk-heading-l">Delete files or folders</h1>

                              <!-- <p class="govuk-body">Deleted material cannot be recovered.</p> -->

                              <p class="govuk-body">You cannot recover files or folders after you delete them.
                              Deleting a folder will also delete everything inside it.</p>
                              <p class="govuk-body">If the file or folder is shared, other users will no longer be able
                                   to access it.</p>
                              <p class="govuk-body">Are you sure you want to permanently delete these items?</p>

                         </fieldset>
                    </div>

                    <div class="govuk-button-group">
                         <input id="discarding_material_COMPLETED" name="discarding_material_COMPLETED" type="text"
                              value="true" style="display: none;">
                         <button class="govuk-button" data-module="govuk-button">Delete items</button>
                         <a class="govuk-link" href="03-case-overview">Cancel</a>
                    </div>
               </form>
          </div>
     </div>
</div>
{% endblock %}