{% extends "layoutCPS-NEW-INDEX.html" %}
{% block header %}
    {% include "../../includes/banner-OFF-V6.html" %}
{% endblock %}
{% block beforeContent %}
<a class="govuk-back-link" href="javascript:history.back()">Back</a>
{% endblock %}
{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <form action="/version-18/lcc/register-case/10-egress-setup" method="post" novalidate>

      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
            <h1 class="govuk-fieldset__heading">
              How do you want to manage Egress?
            </h1>
          </legend>

          <div class="govuk-radios" data-module="govuk-radios">
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="create-egress" name="egress-folder-options" type="radio" value="Create new Egress folders" {% if data['newEgressFolder'] == 1 %}checked{% endif %}>
              <label class="govuk-label govuk-radios__label" for="create-egress">
                Create a new case on Egress
              </label>
            </div>

            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="connect-egress" name="egress-folder-options" type="radio" value="Connect Egress folders" {% if data['existingEgressFolder'] == 1 %}checked{% endif %}>
              <label class="govuk-label govuk-radios__label" for="connect-egress">
                Connect  an existing Egress case
              </label>
            </div>

            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="skip-egress" name="egress-folder-options" type="radio" value="Do not set up Egress">
              <label class="govuk-label govuk-radios__label" for="skip-egress">
                Egress is not needed now
              </label>
            </div>
          </div>
        </fieldset>
      </div>

      <button type="submit" class="govuk-button">Continue</button>

    </form>
  </div>
</div>

{% endblock %}
