{% extends "layoutCPS-OFF.html" %}
{% block header %}
    {% include "../../includes/banner-OFF-V7.html" %}
{% endblock %}
{% block beforeContent %}

{% endblock %}
{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <a href="javascript:history.back()" class="govuk-back-link">Back</a>
    </div>
</div>

<div class="govuk-grid-row" id="create-case-journey">

    <div class="govuk-grid-column-two-thirds">
        <div class="gov-pages">
            <form method="post" action="/version-9/B-off-system-MVP/create-case/03-suspect-details-ethnicity">  

                <fieldset class="govuk-fieldset">

                <div class="govuk-form-group">
                <fieldset class="govuk-fieldset">
                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                    <h1 class="govuk-fieldset__heading">
                        What is {{data['suspect-person-first-name']}} {{data['suspect-person-last-name']}}'s ethnicity?
                    </h1>
                    </legend>
                    <div class="govuk-radios" data-module="govuk-radios">
                        <div class="govuk-radios__item">
                        <input class="govuk-radios__input" id="ethnicity-ns" name="ethnicity" type="radio" value="Not stated, NS">
                        <label class="govuk-label govuk-radios__label" for="ethnicity-ns">
                            Not stated, NS
                        </label>
                        </div>

                        <div class="govuk-radios__item">
                        <input class="govuk-radios__input" id="ethnicity-w1" name="ethnicity" type="radio" value="British, W1">
                        <label class="govuk-label govuk-radios__label" for="ethnicity-w1">
                            British, W1
                        </label>
                        </div>

                        <div class="govuk-radios__item">
                        <input class="govuk-radios__input" id="ethnicity-w2" name="ethnicity" type="radio" value="Irish, W2">
                        <label class="govuk-label govuk-radios__label" for="ethnicity-w2">
                            Irish, W2
                        </label>
                        </div>

                        <div class="govuk-radios__item">
                        <input class="govuk-radios__input" id="ethnicity-w3" name="ethnicity" type="radio" value="Gypsy or Irish Traveller, W3">
                        <label class="govuk-label govuk-radios__label" for="ethnicity-w3">
                            Gypsy or Irish Traveller, W3
                        </label>
                        </div>

                        <div class="govuk-radios__item">
                        <input class="govuk-radios__input" id="ethnicity-w9" name="ethnicity" type="radio" value="Any other white background, W9">
                        <label class="govuk-label govuk-radios__label" for="ethnicity-w9">
                            Any other White background, W9
                        </label>
                        </div>

                        <div class="govuk-radios__item">
                        <input class="govuk-radios__input" id="ethnicity-m1" name="ethnicity" type="radio" value="White and Black Caribbean, M1">
                        <label class="govuk-label govuk-radios__label" for="ethnicity-m1">
                            White and Black Caribbean, M1
                        </label>
                        </div>

                        <div class="govuk-radios__item">
                        <input class="govuk-radios__input" id="ethnicity-m2" name="ethnicity" type="radio" value="White and Black African, M2">
                        <label class="govuk-label govuk-radios__label" for="ethnicity-m2">
                            White and Black African, M2
                        </label>
                        </div>

                        <div class="govuk-radios__item">
                        <input class="govuk-radios__input" id="ethnicity-m3" name="ethnicity" type="radio" value="White and Asian, M3">
                        <label class="govuk-label govuk-radios__label" for="ethnicity-m3">
                            White and Asian, M3
                        </label>
                        </div>

                        <div class="govuk-radios__item">
                        <input class="govuk-radios__input" id="ethnicity-m9" name="ethnicity" type="radio" value="Any other mixed background, M9">
                        <label class="govuk-label govuk-radios__label" for="ethnicity-m9">
                            Any other Mixed background, M9
                        </label>
                        </div>

                        <div class="govuk-radios__item">
                        <input class="govuk-radios__input" id="ethnicity-a1" name="ethnicity" type="radio" value="India, A1">
                        <label class="govuk-label govuk-radios__label" for="ethnicity-a1">
                            Indian, A1
                        </label>
                        </div>

                        <div class="govuk-radios__item">
                        <input class="govuk-radios__input" id="ethnicity-a2" name="ethnicity" type="radio" value="Pakistani, A2">
                        <label class="govuk-label govuk-radios__label" for="ethnicity-a2">
                            Pakistani, A2
                        </label>
                        </div>

                        <div class="govuk-radios__item">
                        <input class="govuk-radios__input" id="ethnicity-a3" name="ethnicity" type="radio" value="Bangledeshi, A3">
                        <label class="govuk-label govuk-radios__label" for="ethnicity-a3">
                            Bangledeshi, A3
                        </label>
                        </div>

                        <div class="govuk-radios__item">
                        <input class="govuk-radios__input" id="ethnicity-a4" name="ethnicity" type="radio" value="Chinese, A4">
                        <label class="govuk-label govuk-radios__label" for="ethnicity-a4">
                            Chinese, A4
                        </label>
                        </div>

                        <div class="govuk-radios__item">
                        <input class="govuk-radios__input" id="ethnicity-a9" name="ethnicity" type="radio" value="Any other Asian background, A9">
                        <label class="govuk-label govuk-radios__label" for="ethnicity-a9">
                            Any other Asian background, A9
                        </label>
                        </div>

                        <div class="govuk-radios__item">
                        <input class="govuk-radios__input" id="ethnicity-b1" name="ethnicity" type="radio" value="Caribbean, B1">
                        <label class="govuk-label govuk-radios__label" for="ethnicity-b1">
                            Caribbean, B1
                        </label>
                        </div>

                        <div class="govuk-radios__item">
                        <input class="govuk-radios__input" id="ethnicity-b2" name="ethnicity" type="radio" value="African, B2">
                        <label class="govuk-label govuk-radios__label" for="ethnicity-b2">
                            African, B2
                        </label>
                        </div>

                        <div class="govuk-radios__item">
                        <input class="govuk-radios__input" id="ethnicity-b9" name="ethnicity" type="radio" value="Any other Black background, B9">
                        <label class="govuk-label govuk-radios__label" for="ethnicity-b9">
                            Any other Black, African or Caribbean background, B9
                        </label>
                        </div>

                        <div class="govuk-radios__item">
                        <input class="govuk-radios__input" id="ethnicity-o2" name="ethnicity" type="radio" value="Arab, O2">
                        <label class="govuk-label govuk-radios__label" for="ethnicity-o2">
                            Arab, O2
                        </label>
                        </div>

                        <div class="govuk-radios__item">
                        <input class="govuk-radios__input" id="ethnicity-o9" name="ethnicity" type="radio" value="Any other ethnic group, O9">
                        <label class="govuk-label govuk-radios__label" for="ethnicity-o9">
                            Any other ethnic group, O9
                        </label>
                        </div>
                </fieldset>
                </div>

                {% include "../../includes/buttons.html" %}

            </form>

        </div>
    </div>
    <div class="govuk-grid-column-one-third">

    </div>
</div>

{% endblock %}