{% extends "layoutCPS-OFF.html" %}
{% block header %}
    {% include "../../includes/banner-OFF-V7.html" %}
{% endblock %}
{% block beforeContent %}

{% endblock %}
{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <a href="javascript:history.back()" class="govuk-back-link">Back</a>
    </div>
</div>

<div class="govuk-grid-row" id="create-case-journey">

    <div class="govuk-grid-column-two-thirds">
        <div class="gov-pages">
            <form method="post" action="/version-9/B-off-system-MVP/create-case/03-suspect-details-offender-type">  

                <fieldset class="govuk-fieldset">

                <div class="govuk-form-group">
                <fieldset class="govuk-fieldset">
                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                    <h1 class="govuk-fieldset__heading">
                        What type of offender is {{data['suspect-person-first-name']}} {{data['suspect-person-last-name']}}?
                    </h1>
                    </legend>
                    <div class="govuk-radios" data-module="govuk-radios">
                    <div class="govuk-radios__item">
                        <input class="govuk-radios__input" id="offender-type-ppo" name="offender-type" type="radio" value="Prolific priority offender (PPO)">
                        <label class="govuk-label govuk-radios__label" for="offender-type-ppo">
                        Prolific priority offender (PPO)
                        </label>
                    </div>
                    <div class="govuk-radios__item">
                        <input class="govuk-radios__input" id="offender-type-pyo" name="offender-type" type="radio" value="Prolific youth offender (PYO)">
                        <label class="govuk-label govuk-radios__label" for="offender-type-pyo">
                        Prolific youth offender (PYO)
                        </label>
                    </div>
                    <div class="govuk-radios__item">
                        <input class="govuk-radios__input" id="offender-type-both" name="offender-type" type="radio" value="Both PPO and PYO">
                        <label class="govuk-label govuk-radios__label" for="offender-type-both">
                        Both prolific priority offender (PPO) and prolific youth offender (PYO)
                        </label>
                    </div>
                    <div class="govuk-radios__item">
                        <input class="govuk-radios__input" id="offender-type-yo" name="offender-type" type="radio" value="Youth offender (YO)">
                        <label class="govuk-label govuk-radios__label" for="offender-type-yo">
                        Youth offender (YO)
                        </label>
                    </div>


                </fieldset>
                </div>

                {% include "../../includes/buttons.html" %}

            </form>

        </div>
    </div>
    <div class="govuk-grid-column-one-third">

    </div>
</div>

{% endblock %}