{% extends "layoutCPS-NEW-INDEX.html" %}
{% block header %}
    {% include "../../includes/banner-OFF-V5.html" %}
{% endblock %}
{% block beforeContent %}

{% endblock %}
{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <a href="javascript:history.back()" class="govuk-back-link">Back</a>

        <div class="ea-title-wrapper">
            <h1 class="govuk-heading-l govuk-!-margin-top-4 govuk-!-margin-bottom-0" style=""><span class="uppercase">{{ data['newCase_Suspect-LastName2'] }}</span>, {{ data['newCase_Suspect-FirstName2'] }}</h1>
            <span class="govuk-caption-m">
                {{ data['newCase_URN-A'] }}
                {{ data['newCase_URN-B'] }}
                {{ data['newCase_URN-C'] }}
                /
                {{ data['newCase_URN-D'] }}
            </span>
            <p>Autosave is on. Last saved <span id="auto-save">10:24:53</span></p>
            <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible govuk-!-margin-top-0 govuk-!-margin-bottom-10">
        </div>

    </div>
</div>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <div class="wrapper gov-pages">

            <form method="get" action="03E_V2_B-suspect-charges" id="newCase_Form-C4_V2">  

                <!-- ERROR MESSAGE - START -->
                <div class="govuk-error-summary" data-module="govuk-error-summary" id="newChargeCode_ErrorPanel-A">
                    <div role="alert">
                        <h2 class="govuk-error-summary__title">There is a problem</h2>
                        <div class="govuk-error-summary__body">
                            <ul class="govuk-list govuk-error-summary__list">
                                <li class=""><a href="#newChargeCode">Enter a valid offence code</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- ERROR MESSAGE - END -->

                <!-- OPTION 1 - START -->
                <div class="govuk-form-group" id="newChargeCode_Error">
                    <h1 class="govuk-label-wrapper"><label class="govuk-label" for="newChargeCode_2">What is the offence code?</label></h1>
                    <p id="newChargeCode_Error-A" class="govuk-error-message"><span class="govuk-visually-hidden">Error:</span> Enter a valid offence code</p>
                    {% if data['newChargeCode_2'] %}
                        <input class="govuk-input govuk-input--width-10" id="newChargeCode_2" name="newChargeCode_2" type="text" value="{{ data['newChargeCode_2'] }}">
                    {% else %}
                        <input class="govuk-input govuk-input--width-10" id="newChargeCode_2" name="newChargeCode_2" type="text">
                    {% endif %}                    
                    <p class="floating-link"><a href="#" id="charge_code_V2">Look up code</a></p>
                </div>
                <!-- OPTION 1 - END -->

                <input id="chargeAdded" name="chargeAdded" type="text" value="true" style="display: none;">
                <button type="submit" class="govuk-button" style="">Continue</button>
                <button type="button" onclick="location.href='03B-suspects';" class="non-button margin-left" id="">Cancel</button>

            </form>

        </div>
    </div>
    <div class="govuk-grid-column-one-third">

    </div>
</div>

{% endblock %}