{% extends "layoutCPS-NEW-INDEX.html" %}
{% block header %}
    {% include "../../includes/banner-OFF-V7.html" %}
{% endblock %}
{% block beforeContent %}

{% endblock %}
{% block content %}

<script>
    function changeValue(value){
        document.getElementById("offence-code").value= "SX56085T";
        document.getElementById("charge-description").value= "Criminal damage to a property valued under £5,000";
    }
    
</script>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <a href="javascript:history.back()" class="govuk-back-link">Back</a>
    </div>
</div>

  <main class="govuk-main-wrapper " id="main-content" role="main">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-l govuk-!-margin-bottom-6">Suspect charges for {% if data['suspectLastName'][data['suspect-charges']] %} {{data['suspectFirstName'][data['suspect-charges']]}} {{data['suspectLastName'][data['suspect-charges']]}} {% else %} {{data['suspectCompanyName'][data['suspect-charges']]}} {% endif %}</h1>

            <form action="/version-9/B-off-system-MVP/create-case/04-add-charges" method="post" novalidate>

                <fieldset class="govuk-fieldset" aria-describedby="contact-hint">
                    <div class="govuk-form-group">
                        <label class="govuk-label govuk-!-font-weight-bold" for="width-10">
                            What is the offence code?
                        </label>
                        <input class="govuk-input govuk-input--width-10" id="offence-code" name="offence-code" type="text" value="{{ data['offence-code']}}">
                        <button type="button" onclick="changeValue()" class="non-button margin-left" id="">Look up code</button>
                    </div>


                    <div class="govuk-form-group">
                        <label class="govuk-label govuk-!-font-weight-bold" for="width-10">
                            Description
                        </label>
                        <textarea class="govuk-textarea" id="charge-description" name="charge-description" rows="5" aria-describedby="more-detail-hint"> {{ data['charge-description'] }}</textarea>
                    </div>

                    <div class="govuk-form-group">
                        <fieldset class="govuk-fieldset" role="group" aria-describedby="charge-date-from-hint">
                            <label class="govuk-label govuk-!-font-weight-bold" for="width-10">
                                When was the offence?
                            </label>
                            <div class="govuk-date-input" id="charge-date-from">
                                <div class="govuk-date-input__item">
                                    <div class="govuk-form-group">
                                    <label class="govuk-label govuk-date-input__label" for="charge-date-from-day">
                                        Day
                                    </label>
                                    <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="charge-date-from-day" name="charge-date-from-day" type="text" inputmode="numeric" value="{{ data['charge-date-from-day']}}">
                                    </div>
                                </div>
                                <div class="govuk-date-input__item">
                                    <div class="govuk-form-group">
                                    <label class="govuk-label govuk-date-input__label" for="charge-date-from-month">
                                        Month
                                    </label>
                                    <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="charge-date-from-month" name="charge-date-from-month" type="number" inputmode="numeric" value="{{ data['suspectMonthBirth'][data['editSuspect']]}}">
                                    </div>
                                </div>
                                <div class="govuk-date-input__item">
                                    <div class="govuk-form-group">
                                    <label class="govuk-label govuk-date-input__label" for="charge-date-from-year">
                                        Year
                                    </label>
                                    <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="charge-date-from-year" name="charge-date-from-year" type="number" inputmode="numeric" value="{{ data['suspectYearBirth'][data['editSuspect']]}}">
                                    </div>                                    
                                </div>   
                                 <!-- <button type="button" class="govuk-button datePicker" data-module="govuk-button" onclick="return datePicker();">Date picker</button> -->
                            </div>
                        </fieldset>
                    </div>


                    
                <!-- <div class="date_range_wrapper">
                    <div class="govuk-form-group" id="dateRange-Container">
                        <fieldset class="govuk-fieldset" role="group" aria-describedby="addCharge_Form-hint">
                            <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
                                <h2 class="govuk-fieldset__heading">
                                    When was the offence?
                                </h2>
                            </legend>
                            <p id="addCharge_Form_Date-Day-Error" class="govuk-error-message"><span class="govuk-visually-hidden">Error:</span> Enter the date of offence</p>
                            <div class="govuk-date-input" id="addCharge_Form_Date">
                                <div class="govuk-date-input__item">
                                    <div class="govuk-form-group">
                                        <label class="govuk-label govuk-date-input__label" for="addCharge_Form_Date-Day">Day</label>
                                        <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="chargeFromDay" name="chargeFromDay" type="text" inputmode="numeric" value="{{ data['chargeFromDay'] }}">
                                    </div>
                                </div>
                                <div class="govuk-date-input__item">
                                    <div class="govuk-form-group">
                                        <label class="govuk-label govuk-date-input__label" for="addCharge_Form_Date-Month">Month</label>
                                        <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="addCharge_Form_Date-Month" name="addCharge_Form_Date-Month" type="text" inputmode="numeric" value="{{ data['addCharge_Form_Date-Month'] }}">
                                    </div>
                                </div>
                                <div class="govuk-date-input__item">
                                    <div class="govuk-form-group">
                                        <label class="govuk-label govuk-date-input__label" for="addCharge_Form_Date-Year">Year</label>
                                        <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="addCharge_Form_Date-Year" name="addCharge_Form_Date-Year" type="text" inputmode="numeric" value="{{ data['addCharge_Form_Date-Year'] }}">
                                    </div>
                                </div>
                                <button type="button" class="govuk-button datePicker" data-module="govuk-button" onclick="return datePicker();">Date picker</button>
                                {% if data['addCharge_Form_Date-Day_2'] %}

                                {% else %}
                                    <button type="button" class="govuk-button govuk-button--secondary" data-module="govuk-button" id="dateRangeButton" onclick="return dateRange();">Date range</button>
                                {% endif %}  
                            </div>
                        </fieldset>
                    </div>
                </div>

 -->



                    
                    {% include "../../includes/buttons.html" %}
            </form>
        </div>
    <div class="govuk-grid-column-one-third">

    </div>
</div>

{% endblock %}