{% extends "layoutCPS-NEW-INDEX.html" %}
{% block header %}
    {% include "../../includes/banner-OFF-V7.html" %}
{% endblock %}
{% block beforeContent %}

{% endblock %}
{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <a href="javascript:history.back()" class="govuk-back-link">Back</a>
    </div>
</div>

<main class="govuk-main-wrapper " id="main-content" role="main">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">You have added {{ data['chargeCount']}} {% if data['chargeCount'] == 1 %} charge {% else %} charges{% endif %}</h1>
      <!-- <h1 class="govuk-heading-xl">You have added {{ data['chargeCount']}} {% if data['chargeCount'] == 1 %} charge {% else %} charges{% endif %} for {{data['suspect-person-first-name']}} {{data['suspect-person-last-name']}}</h1> -->
      <div class="govuk-form-group">

        {% set seen = [] %}
        {% for id in data['chargeId'] %}
          {% set sid = data['chargeSuspectId'][id] %}

          {% if not (sid in seen) %}
            <h2 class="govuk-heading-m  govuk-!-margin-bottom-2 govuk-!-margin-top-8">
              {% if data['suspectLastName'][sid] %}
                Charges for <span class="uppercase">{{data['suspectLastName'][sid]}}</span>, {{data['suspectFirstName'][sid]}} 
                {% if data['suspectOffenderType'][sid] == 'Both PPO and PYO' or data['suspectOffenderType'][sid] == 'Prolific youth offender (PYO)' or data['suspectOffenderType'][sid] == 'Youth offender (YO)' %}
                  &nbsp;&nbsp;<strong class="govuk-tag govuk-tag--light-blue">Youth</strong> 
                {% endif %}
              {% else %}
                Charges for {{ data['suspectCompanyName'][sid] }}
              {% endif %}
              
            </h2>

            {% for i in data['chargeId'] %}
              {% if data['chargeSuspectId'][i] == sid %}
                <dl class="govuk-summary-list hmrc-list-with-actions hmrc-list-with-actions--short govuk-!-margin-bottom-0">
                  <!-- First row -->
                  <div class="govuk-summary-list__row">
                    
                    <dt class="govuk-summary-list__key govuk-!-font-weight-bold hmrc-summary-list__key">
                      {{ data['chargeCode'][i] }}
                    </dt>
                    
                    <dd class="govuk-summary-list__value">
                      {{ data['chargeDescription'][i] }}
                    </dd>
                    
                    <dd class="govuk-summary-list__actions hmrc-summary-list__actions">
                      <ul class="govuk-summary-list__actions-list">
                        <li class="govuk-summary-list__actions-list-item"><a class="govuk-link" href="#"><span aria-hidden="true">Change</span><span class="govuk-visually-hidden">Change charge</span></a></li>
                        <li class="govuk-summary-list__actions-list-item"><a class="govuk-link" href="#"><span aria-hidden="true">Remove</span><span class="govuk-visually-hidden">Remove charge</span></a></li>
                      </ul>
                    </dd>
                  </div>
                </dl>

                <!-- Second row -->
                <details class="govuk-details suspect_details_panel govuk-!-margin-bottom-0 govuk-!-margin-top-1 govuk-!-margin-bottom-3">
                    <summary class="govuk-details__summary">
                        <span class="govuk-details__summary-text  govuk-!-margin-top-0">View charge details</span>
                    </summary>
                    <div class="govuk-details__text">
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">Date of offence</dt>
                            <dd class="govuk-summary-list__value">
                              {{data['chargeFromDay'][i]}} {{data['monthName'][data['chargeFromMonth'][i]]}} {{data['chargeFromYear'][i]}}
                              {% if data['chargeToDay'][i] %} to {{data['chargeToDay'][i]}} {{data['monthName'][data['chargeToMonth'][i]]}} {{data['chargeToYear'][id]}} {% endif %}
                            </dd>
                            <dd class="govuk-summary-list__actions"><a class="govuk-link" href="03E_V2_B-suspect-charges">Change<span class="govuk-visually-hidden"> Date of offence</span></a></dd>
                        </div>

                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">Comments</dt>
                            <dd class="govuk-summary-list__value">
                              {{ data['chargeComments'][i] }}
                            </dd>
                            <dd class="govuk-summary-list__actions"><a class="govuk-link" href="03E_V2_B-suspect-charges">Change<span class="govuk-visually-hidden"> comments</span></a></dd>
                        </div>

                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">Victim</dt>
                            <dd class="govuk-summary-list__value">
                              {{data['chargeVictimFirstName'][i]}} {{data['chargeVictimLastName'][i]}}
                              {% if data['chargeVictimVulnerable'][i] or data['chargeVictimIntimidated'][i] or data['chargeVictimWitness'][i] %}
                              <ul class="govuk-list govuk-list--bullet">
                                {% if data['chargeVictimVulnerable'][i] %}<li>Vulnerable</li>{% endif %}
                                {% if data['chargeVictimIntimidated'][i] %}<li>Intimidated</li>{% endif %}
                                {% if data['chargeVictimWitness'][i] %}<li>Witness</li>{% endif %}
                              </ul>
                              {% endif %}
                            </dd>
                            <dd class="govuk-summary-list__actions"><a class="govuk-link" href="03E_V2_B-suspect-charges">Change<span class="govuk-visually-hidden"> Victim</span></a></dd>
                        </div>

                          {% if data['suspectOffenderType'][sid] == 'Both PPO and PYO' or data['suspectOffenderType'][sid] == 'Prolific youth offender (PYO)' or data['suspectOffenderType'][sid] == 'Youth offender (YO)' %}
                          <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">Charged with an adult</dt>
                            <dd class="govuk-summary-list__value">
                              {% if data['chargedWithAdult'][i] == 'Charged with an adult' %} Yes {% else %} No {% endif %}
                            </dd>
                            <dd class="govuk-summary-list__actions"><a class="govuk-link" href="03E_V2_B-suspect-charges">Change<span class="govuk-visually-hidden"> comments</span></a>
                            </dd>
                          </div>
                          {% endif %}

                        </div>
                    </div>
                </details>
              {% endif %}
            {% endfor %}
            {% set seen = (seen.push(sid), seen) %}
          {% endif %}
        {% endfor %}
         
        
      </div>
      

      <form action="/version-9/B-off-system-MVP/create-case/04-charges-summary" method="post" novalidate>
        <div class="govuk-form-group govuk-!-margin-top-9">
          <fieldset class="govuk-fieldset" aria-describedby="add-another-hint">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend govuk-fieldset__legend--m">
              Do you need to add another charge?
            </legend>
            <!-- <div id="add-another-hint" class="govuk-hint">
              You must tell us about all your directors.
            </div> -->
            <div class="govuk-radios govuk-radios--inline" data-module="govuk-radios">
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="add-another" name="add-another" type="radio" value="Yes">
                <label class="govuk-label govuk-radios__label" for="add-another">
                  Yes
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="add-another-2" name="add-another" type="radio" value="No">
                <label class="govuk-label govuk-radios__label" for="add-another-2">
                  No
                </label>
              </div>
            </div>
          </fieldset>
        </div>

        {% include "../../includes/buttons.html" %}
      </form>
    </div>
  </div>
</main>

{% endblock %}