{% extends "layoutCPS-NEW-INDEX.html" %}
{% block header %}
    {% include "../../includes/banner-OFF-V7.html" %}
{% endblock %}
{% block beforeContent %}

{% endblock %}
{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <a href="javascript:history.back()" class="govuk-back-link">Back</a>
    </div>
</div>

<div class="govuk-grid-row" id="create-case-journey">
    <div class="govuk-grid-column-two-thirds">
        <div class="wrapper gov-pages">

            <h1 class="govuk-heading-xl" style="">Check your witness details</h1>

            <form method="get" action="05-monitoring-codes" id="newCase_Form-D2">  

                <p> </p>

                <h2 class="govuk-heading-m govuk-!-margin-bottom-2">Witnesses</h2>
                <dl class="govuk-summary-list govuk-!-margin-bottom-9">

                    <!-- WITNESS 1 -- START -->
                    {% if data['newCase_Witness-LastName'] %}
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                <span class="uppercase">{{ data['newCase_Witness-LastName'] }}</span>, {{ data['newCase_Witness-FirstName'] }}
                                {% if data['newCase_Witness-Victim'] or data['newCase_Witness-Vulnerable'] or data['newCase_Witness-Intimidated'] %}<br>{% else %}{% endif %}
                                {% if data['newCase_Witness-Victim'] %}<strong class="govuk-tag govuk-tag--blue">Victim</strong>{% else %}{% endif %}
                                {% if data['newCase_Witness-Vulnerable'] %}<strong class="govuk-tag govuk-tag--blue">Vulnerable</strong>{% else %}{% endif %}
                                {% if data['newCase_Witness-Intimidated'] %}<strong class="govuk-tag govuk-tag--blue">Intimidated</strong>{% else %}{% endif %}
                            </dt>
                            <dd class="govuk-summary-list__actions"><a class="govuk-link" href="04A-create-witness">Change<span class="govuk-visually-hidden"> name</span></a></dd>
                        </div>
                    {% else %}

                    {% endif %}
                    <!-- WITNESS 1 -- END -->

                    <!-- WITNESS 2 -- START -->
                    {% if data['newCase_Witness-LastName2'] %}
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                <span class="uppercase">{{ data['newCase_Witness-LastName2'] }}</span>, {{ data['newCase_Witness-FirstName2'] }}
                                {% if data['newCase_Witness-Victim2'] or data['newCase_Witness-Vulnerable2'] or data['newCase_Witness-Intimidated2'] %}<br>{% else %}{% endif %}
                                {% if data['newCase_Witness-Victim2'] %}<strong class="govuk-tag govuk-tag--blue">Victim</strong>{% else %}{% endif %}
                                {% if data['newCase_Witness-Vulnerable2'] %}<strong class="govuk-tag govuk-tag--blue">Vulnerable</strong>{% else %}{% endif %}
                                {% if data['newCase_Witness-Intimidated2'] %}<strong class="govuk-tag govuk-tag--blue">Intimidated</strong>{% else %}{% endif %}
                            </dt>
                            <dd class="govuk-summary-list__actions"><a class="govuk-link" href="04A-create-witness">Change<span class="govuk-visually-hidden"> name</span></a></dd>
                        </div>
                    {% else %}

                    {% endif %}
                    <!-- WITNESS 2 -- END -->

                    <!-- WITNESS 3 -- START -->
                    {% if data['newCase_Witness-LastName3'] %}
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                <span class="uppercase">{{ data['newCase_Witness-LastName3'] }}</span>, {{ data['newCase_Witness-FirstName3'] }}
                                {% if data['newCase_Witness-Victim3'] or data['newCase_Witness-Vulnerable3'] or data['newCase_Witness-Intimidated3'] %}<br>{% else %}{% endif %}
                                {% if data['newCase_Witness-Victim3'] %}<strong class="govuk-tag govuk-tag--blue">Victim</strong>{% else %}{% endif %}
                                {% if data['newCase_Witness-Vulnerable3'] %}<strong class="govuk-tag govuk-tag--blue">Vulnerable</strong>{% else %}{% endif %}
                                {% if data['newCase_Witness-Intimidated3'] %}<strong class="govuk-tag govuk-tag--blue">Intimidated</strong>{% else %}{% endif %}
                            </dt>
                            <dd class="govuk-summary-list__actions"><a class="govuk-link" href="04A-create-witness">Change<span class="govuk-visually-hidden"> name</span></a></dd>
                        </div>
                    {% else %}

                    {% endif %}
                    <!-- WITNESS 3 -- END -->

                    <!-- WITNESS 4 -- START -->
                    {% if data['newCase_Witness-LastName4'] %}
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                <span class="uppercase">{{ data['newCase_Witness-LastName4'] }}</span>, {{ data['newCase_Witness-FirstName4'] }}
                                {% if data['newCase_Witness-Victim4'] or data['newCase_Witness-Vulnerable4'] or data['newCase_Witness-Intimidated4'] %}<br>{% else %}{% endif %}
                                {% if data['newCase_Witness-Victim4'] %}<strong class="govuk-tag govuk-tag--blue">Victim</strong>{% else %}{% endif %}
                                {% if data['newCase_Witness-Vulnerable4'] %}<strong class="govuk-tag govuk-tag--blue">Vulnerable</strong>{% else %}{% endif %}
                                {% if data['newCase_Witness-Intimidated4'] %}<strong class="govuk-tag govuk-tag--blue">Intimidated</strong>{% else %}{% endif %}
                            </dt>
                            <dd class="govuk-summary-list__actions"><a class="govuk-link" href="04A-create-witness">Change<span class="govuk-visually-hidden"> name</span></a></dd>
                        </div>
                    {% else %}

                    {% endif %}
                    <!-- WITNESS 4 -- END -->

                    <!-- WITNESS 5 -- START -->
                    {% if data['newCase_Witness-LastName5'] %}
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                <span class="uppercase">{{ data['newCase_Witness-LastName5'] }}</span>, {{ data['newCase_Witness-FirstName5'] }}
                                {% if data['newCase_Witness-Victim5'] or data['newCase_Witness-Vulnerable5'] or data['newCase_Witness-Intimidated5'] %}<br>{% else %}{% endif %}
                                {% if data['newCase_Witness-Victim5'] %}<strong class="govuk-tag govuk-tag--blue">Victim</strong>{% else %}{% endif %}
                                {% if data['newCase_Witness-Vulnerable5'] %}<strong class="govuk-tag govuk-tag--blue">Vulnerable</strong>{% else %}{% endif %}
                                {% if data['newCase_Witness-Intimidated5'] %}<strong class="govuk-tag govuk-tag--blue">Intimidated</strong>{% else %}{% endif %}
                            </dt>
                            <dd class="govuk-summary-list__actions"><a class="govuk-link" href="04A-create-witness">Change<span class="govuk-visually-hidden"> name</span></a></dd>
                        </div>
                    {% else %}

                    {% endif %}
                    <!-- WITNESS 5 -- END -->

                </dl>

                <input id="createCase_D2_Complete" name="createCase_D2_Complete" type="text" value="true" style="display: none;">
                <button type="submit" class="govuk-button" style="">Save and continue</button>

            </form>

        </div>
    </div>
    <div class="govuk-grid-column-one-third">

    </div>
</div>

{% endblock %}