{% extends "layoutCPS-OFF.html" %}
{% block header %}
    {% include "../../includes/banner-OFF-V7.html" %}
{% endblock %}
{% block beforeContent %}

{% endblock %}
{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <a href="javascript:history.back()" class="govuk-back-link">Back</a>
    </div>
</div>

<div class="govuk-grid-row" id="create-case-journey">

    <div class="govuk-grid-column-two-thirds">
        <div class="gov-pages">

            <h1 class="govuk-heading-xl govuk-!-margin-top-4 govuk-!-margin-bottom-5" style="">Add monitoring codes</h1>

            <!-- <p class="govuk-hint govuk-!-margin-bottom-6">Adding this information is optional. You can continue without adding any details.</p> -->

            <form method="get" action="06-cps-staff" id="newCase_Form-E">  

                <fieldset class="govuk-fieldset">
                    <div id="changedName-hint" class="govuk-hint">
                        These are optional. You can continue without adding monitoring codes.
                    </div>

                    <!-- <div class="govuk-form-group">
                        <fieldset class="govuk-fieldset" aria-describedby="newCase_MonitoringCodes-hint">
                            <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes" id="newCase_MonitoringCodes_wrapper">
                                <div class="govuk-checkboxes__item">
                                    {% if data['newCase_MonitoringCodes'] == 'Asset recovery' %}
                                        <input class="govuk-checkboxes__input" id="newCase_MonitoringCodes_AssetRecovery" name="newCase_MonitoringCodes" type="checkbox" value="Asset recovery" checked>
                                    {% else %}
                                        <input class="govuk-checkboxes__input" id="newCase_MonitoringCodes_AssetRecovery" name="newCase_MonitoringCodes" type="checkbox" value="Asset recovery">
                                    {% endif %}
                                    <label class="govuk-label govuk-checkboxes__label" for="newCase_MonitoringCodes_AssetRecovery">Asset recovery</label>
                                </div>
                                <div class="govuk-checkboxes__item">
                                    {% if data['newCase_MonitoringCodes'] == 'Border security' %}
                                        <input class="govuk-checkboxes__input" id="newCase_MonitoringCodes_BorderSecurity" name="newCase_MonitoringCodes" type="checkbox" value="Border security" checked>
                                    {% else %}
                                        <input class="govuk-checkboxes__input" id="newCase_MonitoringCodes_BorderSecurity" name="newCase_MonitoringCodes" type="checkbox" value="Border security">
                                    {% endif %}
                                    <label class="govuk-label govuk-checkboxes__label" for="newCase_MonitoringCodes_BorderSecurity">Border security</label>
                                </div>
                                <div class="govuk-checkboxes__item">
                                    {% if data['newCase_MonitoringCodes'] == 'Child abuse' %}
                                        <input class="govuk-checkboxes__input" id="newCase_MonitoringCodes_ChildAbuse" name="newCase_MonitoringCodes" type="checkbox" value="Child abuse" checked>
                                    {% else %}
                                        <input class="govuk-checkboxes__input" id="newCase_MonitoringCodes_ChildAbuse" name="newCase_MonitoringCodes" type="checkbox" value="Child abuse">
                                    {% endif %}
                                    <label class="govuk-label govuk-checkboxes__label" for="newCase_MonitoringCodes_ChildAbuse">Child abuse</label>
                                </div>
                                <div class="govuk-checkboxes__item">
                                    {% if data['newCase_MonitoringCodes'] == 'Coronavirus offence' %}
                                        <input class="govuk-checkboxes__input" id="newCase_MonitoringCodes_CoronavirusOffence" name="newCase_MonitoringCodes" type="checkbox" value="Coronavirus offence" checked>
                                    {% else %}
                                        <input class="govuk-checkboxes__input" id="newCase_MonitoringCodes_CoronavirusOffence" name="newCase_MonitoringCodes" type="checkbox" value="Coronavirus offence">
                                    {% endif %}
                                    <label class="govuk-label govuk-checkboxes__label" for="newCase_MonitoringCodes_CoronavirusOffence">Coronavirus offence</label>
                                </div>
                                <div class="govuk-checkboxes__item">
                                    {% if data['newCase_MonitoringCodes'] == 'COVID bail' %}
                                        <input class="govuk-checkboxes__input" id="newCase_MonitoringCodes_COVIDBail" name="newCase_MonitoringCodes" type="checkbox" value="COVID bail" checked>
                                    {% else %}
                                        <input class="govuk-checkboxes__input" id="newCase_MonitoringCodes_COVIDBail" name="newCase_MonitoringCodes" type="checkbox" value="COVID bail">
                                    {% endif %}
                                    <label class="govuk-label govuk-checkboxes__label" for="newCase_MonitoringCodes_COVIDBail">COVID bail</label>
                                </div>
                                <div class="govuk-checkboxes__item">
                                    {% if data['newCase_MonitoringCodes'] == 'COVID CTL' %}
                                        <input class="govuk-checkboxes__input" id="newCase_MonitoringCodes_COVIDCTL" name="newCase_MonitoringCodes" type="checkbox" value="COVID CTL" checked>
                                    {% else %}
                                        <input class="govuk-checkboxes__input" id="newCase_MonitoringCodes_COVIDCTL" name="newCase_MonitoringCodes" type="checkbox" value="COVID CTL">
                                    {% endif %}
                                    <label class="govuk-label govuk-checkboxes__label" for="newCase_MonitoringCodes_COVIDCTL">COVID CTL</label>
                                </div>
                                <div class="govuk-checkboxes__item">
                                    {% if data['newCase_MonitoringCodes'] == 'Crime against an older person' %}
                                        <input class="govuk-checkboxes__input" id="newCase_MonitoringCodes_OlderPerson" name="newCase_MonitoringCodes" type="checkbox" value="Crime against an older person" checked>
                                    {% else %}
                                        <input class="govuk-checkboxes__input" id="newCase_MonitoringCodes_OlderPerson" name="newCase_MonitoringCodes" type="checkbox" value="Crime against an older person">
                                    {% endif %}
                                    <label class="govuk-label govuk-checkboxes__label" for="newCase_MonitoringCodes_OlderPerson">Crime against an older person</label>
                                </div>
                                <div class="govuk-checkboxes__item">
                                    {% if data['newCase_MonitoringCodes'] == 'Disability hate crime' %}
                                        <input class="govuk-checkboxes__input" id="newCase_MonitoringCodes_Disability" name="newCase_MonitoringCodes" type="checkbox" value="Disability hate crime" checked>
                                    {% else %}
                                        <input class="govuk-checkboxes__input" id="newCase_MonitoringCodes_Disability" name="newCase_MonitoringCodes" type="checkbox" value="Disability hate crime">
                                    {% endif %}
                                    <label class="govuk-label govuk-checkboxes__label" for="newCase_MonitoringCodes_Disability">Disability hate crime</label>
                                </div>
                                <div class="govuk-checkboxes__item">
                                    {% if data['newCase_MonitoringCodes'] == 'Domestic abuse' %}
                                        <input class="govuk-checkboxes__input" id="newCase_MonitoringCodes_DomesticAbuse" name="newCase_MonitoringCodes" type="checkbox" value="Domestic abuse" checked>
                                    {% else %}
                                        <input class="govuk-checkboxes__input" id="newCase_MonitoringCodes_DomesticAbuse" name="newCase_MonitoringCodes" type="checkbox" value="Domestic abuse">
                                    {% endif %}
                                    <label class="govuk-label govuk-checkboxes__label" for="newCase_MonitoringCodes_DomesticAbuse">Domestic abuse</label>
                                </div>
                                <div class="govuk-checkboxes__item">
                                    {% if data['newCase_MonitoringCodes'] == 'Extraordinary event (post 2019)' %}
                                        <input class="govuk-checkboxes__input" id="newCase_MonitoringCodes_Extraordinary" name="newCase_MonitoringCodes" type="checkbox" value="Extraordinary event (post 2019)" checked>
                                    {% else %}
                                        <input class="govuk-checkboxes__input" id="newCase_MonitoringCodes_Extraordinary" name="newCase_MonitoringCodes" type="checkbox" value="Extraordinary event (post 2019)">
                                    {% endif %}
                                    <label class="govuk-label govuk-checkboxes__label" for="newCase_MonitoringCodes_Extraordinary">Extraordinary event (post 2019)</label>
                                </div>
                                <div class="govuk-checkboxes__item">
                                    {% if data['newCase_MonitoringCodes'] == 'Fatality' %}
                                        <input class="govuk-checkboxes__input" id="newCase_MonitoringCodes_Fatality" name="newCase_MonitoringCodes" type="checkbox" value="Fatality" checked>
                                    {% else %}
                                        <input class="govuk-checkboxes__input" id="newCase_MonitoringCodes_Fatality" name="newCase_MonitoringCodes" type="checkbox" value="Fatality">
                                    {% endif %}
                                    <label class="govuk-label govuk-checkboxes__label" for="newCase_MonitoringCodes_Fatality">Fatality</label>
                                </div>
                                <div class="govuk-checkboxes__item">
                                    {% if data['newCase_MonitoringCodes'] == 'Forced marriage' %}
                                        <input class="govuk-checkboxes__input" id="newCase_MonitoringCodes_ForcedMarriage" name="newCase_MonitoringCodes" type="checkbox" value="Forced marriage" checked>
                                    {% else %}
                                        <input class="govuk-checkboxes__input" id="newCase_MonitoringCodes_ForcedMarriage" name="newCase_MonitoringCodes" type="checkbox" value="Forced marriage">
                                    {% endif %}
                                    <label class="govuk-label govuk-checkboxes__label" for="newCase_MonitoringCodes_ForcedMarriage">Forced marriage</label>
                                </div>
                                <div class="govuk-checkboxes__item">
                                    {% if data['newCase_MonitoringCodes'] == 'GAP or NGAP' %}
                                        <input class="govuk-checkboxes__input" id="newCase_MonitoringCodes_GAP" name="newCase_MonitoringCodes" type="checkbox" value="GAP or NGAP" checked>
                                    {% else %}
                                        <input class="govuk-checkboxes__input" id="newCase_MonitoringCodes_GAP" name="newCase_MonitoringCodes" type="checkbox" value="GAP or NGAP">
                                    {% endif %}
                                    <label class="govuk-label govuk-checkboxes__label" for="newCase_MonitoringCodes_GAP">GAP or NGAP</label>
                                </div>
                                <div class="govuk-checkboxes__item">
                                    {% if data['newCase_MonitoringCodes'] == 'Homophobic crime' %}
                                        <input class="govuk-checkboxes__input" id="newCase_MonitoringCodes_Homophobic" name="newCase_MonitoringCodes" type="checkbox" value="Homophobic crime" checked>
                                    {% else %}
                                        <input class="govuk-checkboxes__input" id="newCase_MonitoringCodes_Homophobic" name="newCase_MonitoringCodes" type="checkbox" value="Homophobic crime">
                                    {% endif %}
                                    <label class="govuk-label govuk-checkboxes__label" for="newCase_MonitoringCodes_Homophobic">Homophobic crime</label>
                                </div>
                                <div class="govuk-checkboxes__item">
                                    {% if data['newCase_MonitoringCodes'] == '‘Honour’ based abuse' %}
                                        <input class="govuk-checkboxes__input" id="newCase_MonitoringCodes_Honour" name="newCase_MonitoringCodes" type="checkbox" value="‘Honour’ based abuse" checked>
                                    {% else %}
                                        <input class="govuk-checkboxes__input" id="newCase_MonitoringCodes_Honour" name="newCase_MonitoringCodes" type="checkbox" value="‘Honour’ based abuse">
                                    {% endif %}
                                    <label class="govuk-label govuk-checkboxes__label" for="newCase_MonitoringCodes_Honour">‘Honour’ based abuse</label>
                                </div>
                                <div class="govuk-checkboxes__item">
                                    {% if data['newCase_MonitoringCodes'] == 'Human trafficking' %}
                                        <input class="govuk-checkboxes__input" id="newCase_MonitoringCodes_Human" name="newCase_MonitoringCodes" type="checkbox" value="Human trafficking" checked>
                                    {% else %}
                                        <input class="govuk-checkboxes__input" id="newCase_MonitoringCodes_Human" name="newCase_MonitoringCodes" type="checkbox" value="Human trafficking">
                                    {% endif %}
                                    <label class="govuk-label govuk-checkboxes__label" for="newCase_MonitoringCodes_Human">Human trafficking</label>
                                </div>
                                <div class="govuk-checkboxes__item">
                                    {% if data['newCase_MonitoringCodes'] == 'Identified victim' %}
                                        <input class="govuk-checkboxes__input" id="newCase_MonitoringCodes_Victim" name="newCase_MonitoringCodes" type="checkbox" value="Identified victim" checked>
                                    {% else %}
                                        <input class="govuk-checkboxes__input" id="newCase_MonitoringCodes_Victim" name="newCase_MonitoringCodes" type="checkbox" value="Identified victim">
                                    {% endif %}
                                    <label class="govuk-label govuk-checkboxes__label" for="newCase_MonitoringCodes_Victim">Identified victim</label>
                                </div>
                                <div class="govuk-checkboxes__item">
                                    {% if data['newCase_MonitoringCodes'] == 'Joint enterprise' %}
                                        <input class="govuk-checkboxes__input" id="newCase_MonitoringCodes_Joint" name="newCase_MonitoringCodes" type="checkbox" value="Joint enterprise" checked>
                                    {% else %}
                                        <input class="govuk-checkboxes__input" id="newCase_MonitoringCodes_Joint" name="newCase_MonitoringCodes" type="checkbox" value="Joint enterprise">
                                    {% endif %}
                                    <label class="govuk-label govuk-checkboxes__label" for="newCase_MonitoringCodes_Joint">Joint enterprise</label>
                                </div>
                                <div class="govuk-checkboxes__item">
                                    {% if data['newCase_MonitoringCodes'] == 'Major incident flag' %}
                                        <input class="govuk-checkboxes__input" id="newCase_MonitoringCodes_Major" name="newCase_MonitoringCodes" type="checkbox" value="Major incident flag" checked>
                                    {% else %}
                                        <input class="govuk-checkboxes__input" id="newCase_MonitoringCodes_Major" name="newCase_MonitoringCodes" type="checkbox" value="Major incident flag">
                                    {% endif %}
                                    <label class="govuk-label govuk-checkboxes__label" for="newCase_MonitoringCodes_Major">Major incident flag</label>
                                </div>
                                <div class="govuk-checkboxes__item">
                                    {% if data['newCase_MonitoringCodes'] == 'Media interest' %}
                                        <input class="govuk-checkboxes__input" id="newCase_MonitoringCodes_Media" name="newCase_MonitoringCodes" type="checkbox" value="Media interest" checked>
                                    {% else %}
                                        <input class="govuk-checkboxes__input" id="newCase_MonitoringCodes_Media" name="newCase_MonitoringCodes" type="checkbox" value="Media interest">
                                    {% endif %}
                                    <label class="govuk-label govuk-checkboxes__label" for="newCase_MonitoringCodes_Media">Media interest</label>
                                </div>
                                <div class="govuk-checkboxes__item">
                                    {% if data['newCase_MonitoringCodes'] == 'Mental health' %}
                                        <input class="govuk-checkboxes__input" id="newCase_MonitoringCodes_MentalHealth" name="newCase_MonitoringCodes" type="checkbox" value="Mental health" checked>
                                    {% else %}
                                        <input class="govuk-checkboxes__input" id="newCase_MonitoringCodes_MentalHealth" name="newCase_MonitoringCodes" type="checkbox" value="Mental health">
                                    {% endif %}
                                    <label class="govuk-label govuk-checkboxes__label" for="newCase_MonitoringCodes_MentalHealth">Mental health</label>
                                </div>
                                <div class="govuk-checkboxes__item">
                                    {% if data['newCase_MonitoringCodes'] == 'Nationality bar' %}
                                        <input class="govuk-checkboxes__input" id="newCase_MonitoringCodes_Nationality" name="newCase_MonitoringCodes" type="checkbox" value="Nationality bar" checked>
                                    {% else %}
                                        <input class="govuk-checkboxes__input" id="newCase_MonitoringCodes_Nationality" name="newCase_MonitoringCodes" type="checkbox" value="Nationality bar">
                                    {% endif %}
                                    <label class="govuk-label govuk-checkboxes__label" for="newCase_MonitoringCodes_Nationality">Nationality bar</label>
                                </div>
                                <div class="govuk-checkboxes__item">
                                    {% if data['newCase_MonitoringCodes'] == 'Police complaints' %}
                                        <input class="govuk-checkboxes__input" id="newCase_MonitoringCodes_Police" name="newCase_MonitoringCodes" type="checkbox" value="Police complaints" checked>
                                    {% else %}
                                        <input class="govuk-checkboxes__input" id="newCase_MonitoringCodes_Police" name="newCase_MonitoringCodes" type="checkbox" value="Police complaints">
                                    {% endif %}
                                    <label class="govuk-label govuk-checkboxes__label" for="newCase_MonitoringCodes_Police">Police complaints</label>
                                </div>
                                <div class="govuk-checkboxes__item">
                                    {% if data['newCase_MonitoringCodes'] == 'Pre-Charge decision' %}
                                        <input class="govuk-checkboxes__input" id="newCase_MonitoringCodes_PreCharge" name="newCase_MonitoringCodes" type="checkbox" value="Pre-Charge decision" checked>
                                    {% else %}
                                        <input class="govuk-checkboxes__input" id="newCase_MonitoringCodes_PreCharge" name="newCase_MonitoringCodes" type="checkbox" value="Pre-Charge decision">
                                    {% endif %}
                                    <label class="govuk-label govuk-checkboxes__label" for="newCase_MonitoringCodes_PreCharge">Pre-Charge decision</label>
                                </div>
                                <div class="govuk-checkboxes__item">
                                    {% if data['newCase_MonitoringCodes'] == 'Prohibited weapons' %}
                                        <input class="govuk-checkboxes__input" id="newCase_MonitoringCodes_Weapons" name="newCase_MonitoringCodes" type="checkbox" value="Prohibited weapons" checked>
                                    {% else %}
                                        <input class="govuk-checkboxes__input" id="newCase_MonitoringCodes_Weapons" name="newCase_MonitoringCodes" type="checkbox" value="Prohibited weapons">
                                    {% endif %}
                                    <label class="govuk-label govuk-checkboxes__label" for="newCase_MonitoringCodes_Weapons">Prohibited weapons</label>
                                </div>
                                <div class="govuk-checkboxes__item">
                                    {% if data['newCase_MonitoringCodes'] == 'Racist crime' %}
                                        <input class="govuk-checkboxes__input" id="newCase_MonitoringCodes_Racist" name="newCase_MonitoringCodes" type="checkbox" value="Racist crime" checked>
                                    {% else %}
                                        <input class="govuk-checkboxes__input" id="newCase_MonitoringCodes_Racist" name="newCase_MonitoringCodes" type="checkbox" value="Racist crime">
                                    {% endif %}
                                    <label class="govuk-label govuk-checkboxes__label" for="newCase_MonitoringCodes_Racist">Racist crime</label>
                                </div>
                                <div class="govuk-checkboxes__item">
                                    {% if data['newCase_MonitoringCodes'] == 'Rape' %}
                                        <input class="govuk-checkboxes__input" id="newCase_MonitoringCodes_Rape" name="newCase_MonitoringCodes" type="checkbox" value="Rape" checked>
                                    {% else %}
                                        <input class="govuk-checkboxes__input" id="newCase_MonitoringCodes_Rape" name="newCase_MonitoringCodes" type="checkbox" value="Rape">
                                    {% endif %}
                                    <label class="govuk-label govuk-checkboxes__label" for="newCase_MonitoringCodes_Rape">Rape</label>
                                </div>
                                <div class="govuk-checkboxes__item">
                                    {% if data['newCase_MonitoringCodes'] == 'Real time case conversations' %}
                                        <input class="govuk-checkboxes__input" id="newCase_MonitoringCodes_Real" name="newCase_MonitoringCodes" type="checkbox" value="Real time case conversations" checked>
                                    {% else %}
                                        <input class="govuk-checkboxes__input" id="newCase_MonitoringCodes_Real" name="newCase_MonitoringCodes" type="checkbox" value="Real time case conversations">
                                    {% endif %}
                                    <label class="govuk-label govuk-checkboxes__label" for="newCase_MonitoringCodes_Real">Real time case conversations</label>
                                </div>
                                <div class="govuk-checkboxes__item">
                                    {% if data['newCase_MonitoringCodes'] == 'Religious crime' %}
                                        <input class="govuk-checkboxes__input" id="newCase_MonitoringCodes_Religious" name="newCase_MonitoringCodes" type="checkbox" value="Religious crime" checked>
                                    {% else %}
                                        <input class="govuk-checkboxes__input" id="newCase_MonitoringCodes_Religious" name="newCase_MonitoringCodes" type="checkbox" value="Religious crime">
                                    {% endif %}
                                    <label class="govuk-label govuk-checkboxes__label" for="newCase_MonitoringCodes_Religious">Religious crime</label>
                                </div>
                                <div class="govuk-checkboxes__item">
                                    {% if data['newCase_MonitoringCodes'] == 'Transphobic crime' %}
                                        <input class="govuk-checkboxes__input" id="newCase_MonitoringCodes_Transphobic" name="newCase_MonitoringCodes" type="checkbox" value="Transphobic crime" checked>
                                    {% else %}
                                        <input class="govuk-checkboxes__input" id="newCase_MonitoringCodes_Transphobic" name="newCase_MonitoringCodes" type="checkbox" value="Transphobic crime">
                                    {% endif %}
                                    <label class="govuk-label govuk-checkboxes__label" for="newCase_MonitoringCodes_Transphobic">Transphobic crime</label>
                                </div>
                                <div class="govuk-checkboxes__item">
                                    {% if data['newCase_MonitoringCodes'] == 'Vulnerable or intimidated victim' %}
                                        <input class="govuk-checkboxes__input" id="newCase_MonitoringCodes_Vulnerable" name="newCase_MonitoringCodes" type="checkbox" value="Vulnerable or intimidated victim" checked>
                                    {% else %}
                                        <input class="govuk-checkboxes__input" id="newCase_MonitoringCodes_Vulnerable" name="newCase_MonitoringCodes" type="checkbox" value="Vulnerable or intimidated victim">
                                    {% endif %}
                                    <label class="govuk-label govuk-checkboxes__label" for="newCase_MonitoringCodes_Vulnerable">Vulnerable or intimidated victim</label>
                                </div>
                            </div>

                        </fieldset>
                    </div>                     -->
                    <!-- OPTION 3 - END -->

                    <div class="govuk-grid-row">
                    <!-- Column 1 -->
                    <div class="govuk-grid-column-one-half">
                        <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">

                        <!-- Asset recovery -->
                        <div class="govuk-checkboxes__item">
                            <input class="govuk-checkboxes__input" id="mc-AssetRecovery" name="newCase_MonitoringCodes" type="checkbox" value="Asset recovery" {% if data['newCase_MonitoringCodes'] == 'Asset recovery' %}checked{% endif %}>
                            <label class="govuk-label govuk-checkboxes__label" for="mc-AssetRecovery">Asset recovery</label>
                        </div>

                        <!-- Border security -->
                        <div class="govuk-checkboxes__item">
                            <input class="govuk-checkboxes__input" id="mc-BorderSecurity" name="newCase_MonitoringCodes" type="checkbox" value="Border security" {% if data['newCase_MonitoringCodes'] == 'Border security' %}checked{% endif %}>
                            <label class="govuk-label govuk-checkboxes__label" for="mc-BorderSecurity">Border security</label>
                        </div>

                        <!-- Child abuse -->
                        <div class="govuk-checkboxes__item">
                            <input class="govuk-checkboxes__input" id="mc-ChildAbuse" name="newCase_MonitoringCodes" type="checkbox" value="Child abuse" {% if data['newCase_MonitoringCodes'] == 'Child abuse' %}checked{% endif %}>
                            <label class="govuk-label govuk-checkboxes__label" for="mc-ChildAbuse">Child abuse</label>
                        </div>

                        <!-- Coronavirus offence -->
                        <div class="govuk-checkboxes__item">
                            <input class="govuk-checkboxes__input" id="mc-Coronavirus" name="newCase_MonitoringCodes" type="checkbox" value="Coronavirus offence" {% if data['newCase_MonitoringCodes'] == 'Coronavirus offence' %}checked{% endif %}>
                            <label class="govuk-label govuk-checkboxes__label" for="mc-Coronavirus">Coronavirus offence</label>
                        </div>

                        <!-- COVID bail -->
                        <div class="govuk-checkboxes__item">
                            <input class="govuk-checkboxes__input" id="mc-COVIDBail" name="newCase_MonitoringCodes" type="checkbox" value="COVID bail" {% if data['newCase_MonitoringCodes'] == 'COVID bail' %}checked{% endif %}>
                            <label class="govuk-label govuk-checkboxes__label" for="mc-COVIDBail">COVID bail</label>
                        </div>

                        <!-- COVID CTL -->
                        <div class="govuk-checkboxes__item">
                            <input class="govuk-checkboxes__input" id="mc-COVIDCTL" name="newCase_MonitoringCodes" type="checkbox" value="COVID CTL" {% if data['newCase_MonitoringCodes'] == 'COVID CTL' %}checked{% endif %}>
                            <label class="govuk-label govuk-checkboxes__label" for="mc-COVIDCTL">COVID CTL</label>
                        </div>

                        <!-- Crime against an older person -->
                        <div class="govuk-checkboxes__item">
                            <input class="govuk-checkboxes__input" id="mc-OlderPerson" name="newCase_MonitoringCodes" type="checkbox" value="Crime against an older person" {% if data['newCase_MonitoringCodes'] == 'Crime against an older person' %}checked{% endif %}>
                            <label class="govuk-label govuk-checkboxes__label" for="mc-OlderPerson">Crime against an older person</label>
                        </div>

                        <!-- Disability hate crime -->
                        <div class="govuk-checkboxes__item">
                            <input class="govuk-checkboxes__input" id="mc-Disability" name="newCase_MonitoringCodes" type="checkbox" value="Disability hate crime" {% if data['newCase_MonitoringCodes'] == 'Disability hate crime' %}checked{% endif %}>
                            <label class="govuk-label govuk-checkboxes__label" for="mc-Disability">Disability hate crime</label>
                        </div>

                        <!-- Domestic abuse -->
                        <div class="govuk-checkboxes__item">
                            <input class="govuk-checkboxes__input" id="mc-DomesticAbuse" name="newCase_MonitoringCodes" type="checkbox" value="Domestic abuse" {% if data['newCase_MonitoringCodes'] == 'Domestic abuse' %}checked{% endif %}>
                            <label class="govuk-label govuk-checkboxes__label" for="mc-DomesticAbuse">Domestic abuse</label>
                        </div>

                        <!-- Extraordinary event (post 2019) -->
                        <div class="govuk-checkboxes__item">
                            <input class="govuk-checkboxes__input" id="mc-Extraordinary" name="newCase_MonitoringCodes" type="checkbox" value="Extraordinary event (post 2019)" {% if data['newCase_MonitoringCodes'] == 'Extraordinary event (post 2019)' %}checked{% endif %}>
                            <label class="govuk-label govuk-checkboxes__label" for="mc-Extraordinary">Extraordinary event (post 2019)</label>
                        </div>

                        <!-- Fatality -->
                        <div class="govuk-checkboxes__item">
                            <input class="govuk-checkboxes__input" id="mc-Fatality" name="newCase_MonitoringCodes" type="checkbox" value="Fatality" {% if data['newCase_MonitoringCodes'] == 'Fatality' %}checked{% endif %}>
                            <label class="govuk-label govuk-checkboxes__label" for="mc-Fatality">Fatality</label>
                        </div>

                        <!-- Forced marriage -->
                        <div class="govuk-checkboxes__item">
                            <input class="govuk-checkboxes__input" id="mc-ForcedMarriage" name="newCase_MonitoringCodes" type="checkbox" value="Forced marriage" {% if data['newCase_MonitoringCodes'] == 'Forced marriage' %}checked{% endif %}>
                            <label class="govuk-label govuk-checkboxes__label" for="mc-ForcedMarriage">Forced marriage</label>
                        </div>

                        <!-- GAP or NGAP -->
                        <div class="govuk-checkboxes__item">
                            <input class="govuk-checkboxes__input" id="mc-GAP" name="newCase_MonitoringCodes" type="checkbox" value="GAP or NGAP" {% if data['newCase_MonitoringCodes'] == 'GAP or NGAP' %}checked{% endif %}>
                            <label class="govuk-label govuk-checkboxes__label" for="mc-GAP">GAP or NGAP</label>
                        </div>

                        <!-- Homophobic crime -->
                        <div class="govuk-checkboxes__item">
                            <input class="govuk-checkboxes__input" id="mc-Homophobic" name="newCase_MonitoringCodes" type="checkbox" value="Homophobic crime" {% if data['newCase_MonitoringCodes'] == 'Homophobic crime' %}checked{% endif %}>
                            <label class="govuk-label govuk-checkboxes__label" for="mc-Homophobic">Homophobic crime</label>
                        </div>

                        <!-- Honour based abuse -->
                        <div class="govuk-checkboxes__item">
                            <input class="govuk-checkboxes__input" id="mc-Honour" name="newCase_MonitoringCodes" type="checkbox" value="‘Honour’ based abuse" {% if data['newCase_MonitoringCodes'] == '‘Honour’ based abuse' %}checked{% endif %}>
                            <label class="govuk-label govuk-checkboxes__label" for="mc-Honour">‘Honour’ based abuse</label>
                        </div>

                        <!-- Human trafficking -->
                        <div class="govuk-checkboxes__item">
                            <input class="govuk-checkboxes__input" id="mc-Human" name="newCase_MonitoringCodes" type="checkbox" value="Human trafficking" {% if data['newCase_MonitoringCodes'] == 'Human trafficking' %}checked{% endif %}>
                            <label class="govuk-label govuk-checkboxes__label" for="mc-Human">Human trafficking</label>
                        </div>

                        </div>
                    </div>

                    <!-- Column 2 -->
                    <div class="govuk-grid-column-one-half">
                        <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">

                        <!-- Identified victim -->
                        <div class="govuk-checkboxes__item">
                            <input class="govuk-checkboxes__input" id="mc-Victim" name="newCase_MonitoringCodes" type="checkbox" value="Identified victim" {% if data['newCase_MonitoringCodes'] == 'Identified victim' %}checked{% endif %}>
                            <label class="govuk-label govuk-checkboxes__label" for="mc-Victim">Identified victim</label>
                        </div>

                        <!-- Joint enterprise -->
                        <div class="govuk-checkboxes__item">
                            <input class="govuk-checkboxes__input" id="mc-Joint" name="newCase_MonitoringCodes" type="checkbox" value="Joint enterprise" {% if data['newCase_MonitoringCodes'] == 'Joint enterprise' %}checked{% endif %}>
                            <label class="govuk-label govuk-checkboxes__label" for="mc-Joint">Joint enterprise</label>
                        </div>

                        <!-- Major incident flag -->
                        <div class="govuk-checkboxes__item">
                            <input class="govuk-checkboxes__input" id="mc-MajorIncident" name="newCase_MonitoringCodes" type="checkbox" value="Major incident flag" {% if data['newCase_MonitoringCodes'] == 'Major incident flag' %}checked{% endif %}>
                            <label class="govuk-label govuk-checkboxes__label" for="mc-MajorIncident">Major incident flag</label>
                        </div>

                        <!-- Media interest -->
                        <div class="govuk-checkboxes__item">
                            <input class="govuk-checkboxes__input" id="mc-Media" name="newCase_MonitoringCodes" type="checkbox" value="Media interest" {% if data['newCase_MonitoringCodes'] == 'Media interest' %}checked{% endif %}>
                            <label class="govuk-label govuk-checkboxes__label" for="mc-Media">Media interest</label>
                        </div>

                        <!-- Mental health -->
                        <div class="govuk-checkboxes__item">
                            <input class="govuk-checkboxes__input" id="mc-MentalHealth" name="newCase_MonitoringCodes" type="checkbox" value="Mental health" {% if data['newCase_MonitoringCodes'] == 'Mental health' %}checked{% endif %}>
                            <label class="govuk-label govuk-checkboxes__label" for="mc-MentalHealth">Mental health</label>
                        </div>

                        <!-- Nationality bar -->
                        <div class="govuk-checkboxes__item">
                            <input class="govuk-checkboxes__input" id="mc-Nationality" name="newCase_MonitoringCodes" type="checkbox" value="Nationality bar" {% if data['newCase_MonitoringCodes'] == 'Nationality bar' %}checked{% endif %}>
                            <label class="govuk-label govuk-checkboxes__label" for="mc-Nationality">Nationality bar</label>
                        </div>

                        <!-- Police complaints -->
                        <div class="govuk-checkboxes__item">
                            <input class="govuk-checkboxes__input" id="mc-PoliceComplaints" name="newCase_MonitoringCodes" type="checkbox" value="Police complaints" {% if data['newCase_MonitoringCodes'] == 'Police complaints' %}checked{% endif %}>
                            <label class="govuk-label govuk-checkboxes__label" for="mc-PoliceComplaints">Police complaints</label>
                        </div>

                        <!-- Pre-Charge decision -->
                        <div class="govuk-checkboxes__item">
                            <input class="govuk-checkboxes__input" id="mc-PreCharge" name="newCase_MonitoringCodes" type="checkbox" value="Pre-Charge decision" {% if data['newCase_MonitoringCodes'] == 'Pre-Charge decision' %}checked{% endif %}>
                            <label class="govuk-label govuk-checkboxes__label" for="mc-PreCharge">Pre-Charge decision</label>
                        </div>

                        <!-- Prohibited weapons -->
                        <div class="govuk-checkboxes__item">
                            <input class="govuk-checkboxes__input" id="mc-ProhibitedWeapons" name="newCase_MonitoringCodes" type="checkbox" value="Prohibited weapons" {% if data['newCase_MonitoringCodes'] == 'Prohibited weapons' %}checked{% endif %}>
                            <label class="govuk-label govuk-checkboxes__label" for="mc-ProhibitedWeapons">Prohibited weapons</label>
                        </div>

                        <!-- Racist crime -->
                        <div class="govuk-checkboxes__item">
                            <input class="govuk-checkboxes__input" id="mc-Racist" name="newCase_MonitoringCodes" type="checkbox" value="Racist crime" {% if data['newCase_MonitoringCodes'] == 'Racist crime' %}checked{% endif %}>
                            <label class="govuk-label govuk-checkboxes__label" for="mc-Racist">Racist crime</label>
                        </div>

                        <!-- Rape -->
                        <div class="govuk-checkboxes__item">
                            <input class="govuk-checkboxes__input" id="mc-Rape" name="newCase_MonitoringCodes" type="checkbox" value="Rape" {% if data['newCase_MonitoringCodes'] == 'Rape' %}checked{% endif %}>
                            <label class="govuk-label govuk-checkboxes__label" for="mc-Rape">Rape</label>
                        </div>

                        <!-- Real time case conversations -->
                        <div class="govuk-checkboxes__item">
                            <input class="govuk-checkboxes__input" id="mc-RealTime" name="newCase_MonitoringCodes" type="checkbox" value="Real time case conversations" {% if data['newCase_MonitoringCodes'] == 'Real time case conversations' %}checked{% endif %}>
                            <label class="govuk-label govuk-checkboxes__label" for="mc-RealTime">Real time case conversations</label>
                        </div>

                        <!-- Religious crime -->
                        <div class="govuk-checkboxes__item">
                            <input class="govuk-checkboxes__input" id="mc-Religious" name="newCase_MonitoringCodes" type="checkbox" value="Religious crime" {% if data['newCase_MonitoringCodes'] == 'Religious crime' %}checked{% endif %}>
                            <label class="govuk-label govuk-checkboxes__label" for="mc-Religious">Religious crime</label>
                        </div>

                        <!-- Transphobic crime -->
                        <div class="govuk-checkboxes__item">
                            <input class="govuk-checkboxes__input" id="mc-Transphobic" name="newCase_MonitoringCodes" type="checkbox" value="Transphobic crime" {% if data['newCase_MonitoringCodes'] == 'Transphobic crime' %}checked{% endif %}>
                            <label class="govuk-label govuk-checkboxes__label" for="mc-Transphobic">Transphobic crime</label>
                        </div>

                        <!-- Vulnerable or intimidated victim -->
                        <div class="govuk-checkboxes__item">
                            <input class="govuk-checkboxes__input" id="mc-Vulnerable" name="newCase_MonitoringCodes" type="checkbox" value="Vulnerable or intimidated victim" {% if data['newCase_MonitoringCodes'] == 'Vulnerable or intimidated victim' %}checked{% endif %}>
                            <label class="govuk-label govuk-checkboxes__label" for="mc-Vulnerable">Vulnerable or intimidated victim</label>
                        </div>
                        </div>
                    </div>
                    </div>

                </fieldset>


                <div class="govuk-!-margin-top-4">&nbsp;</div>

                <input id="createCase_E_Complete" name="createCase_E_Complete" type="text" value="true" style="display: none;">
                <button type="submit" class="govuk-button" style="">Continue</button>
                <button type="button" onclick="location.href='../../../';" class="non-button margin-left" id="">Cancel</button>


            </form>

        </div>
    </div>
    <div class="govuk-grid-column-one-third">

    </div>
</div>

{% endblock %}