{% extends "layoutCPS-OFF.html" %}
{% block header %}
    {% include "../../includes/banner-OFF-V7.html" %}
{% endblock %}
{% block beforeContent %}

{% endblock %}
{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <a href="javascript:history.back()" class="govuk-back-link">Back</a>
    </div>
</div>

<div class="govuk-grid-row" id="create-case-journey">

    <div class="govuk-grid-column-two-thirds">
        <div class="gov-pages">

            <h1 class="govuk-heading-xl govuk-!-margin-top-4 govuk-!-margin-bottom-4">Check your answers before creating the case</h1>

            <!-- //////////////////////////////////////////////////// SECTION 1 - START //////////////////////////////////////////////////// -->
            <h2 class="govuk-heading-m">Case details</h2>
            <dl class="govuk-summary-list govuk-!-margin-bottom-9">

                <!-- ITEM 1 - START -->
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">Area</dt>
                    <dd class="govuk-summary-list__value">{% if data['docType-Area'] %}{{ data['docType-Area'] }}{% else %} Not entered {% endif %}</dd>
                    <dd class="govuk-summary-list__actions"><a class="govuk-link" href="02-area">Change<span class="govuk-visually-hidden"> area</span></a></dd>
                </div>
                <!-- ITEM 1 - END -->

                <!-- ITEM 2 - START -->
                {% if data['newCase_URN-Compass_ID'] %}
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">URN</dt>
                        <dd class="govuk-summary-list__value">842620982/25</dd>
                        <dd class="govuk-summary-list__actions"><a class="govuk-link" href="03-case-details">Change<span class="govuk-visually-hidden"> URN</span></a></dd>
                    </div>
                {% else %}
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">URN</dt>
                        <dd class="govuk-summary-list__value">{{ data['URN1'] }}{{ data['URN2'] }}{{ data['URN3'] }}/{{ data['URN4'] }}</dd>
                        <dd class="govuk-summary-list__actions"><a class="govuk-link" href="03-case-details">Change<span class="govuk-visually-hidden"> URN</span></a></dd>
                    </div>
                {% endif %}        
                <!-- ITEM 2 - END -->

                <!-- ITEM 3 - START -->
                <!-- <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">Local Reference</dt>
                    <dd class="govuk-summary-list__value">{% if data['local-reference-1'] %}{{ data['local-reference-1'] }}-{{ data['local-reference-2'] }} {% else %} Not entered {% endif %}</dd>
                    <dd class="govuk-summary-list__actions"><a class="govuk-link" href="02A-case-details">Change<span class="govuk-visually-hidden"> Local Ref</span></a></dd>
                </div> -->
     
                <!-- ITEM 3 - END -->

                <!-- ITEM 5 - START -->
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">Registering Unit</dt>
                    <dd class="govuk-summary-list__value">{% if data['newCase_RegisteringUnit'] %}{{ data['newCase_RegisteringUnit'] }}{% else %} Not entered {% endif %}</dd>
                    <dd class="govuk-summary-list__actions"><a class="govuk-link" href="03-case-details">Change<span class="govuk-visually-hidden"> Registering Unit</span></a></dd>
                </div>
                <!-- ITEM 5 - END -->

                <!-- ITEM 6 - START -->
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">WCU</dt>
                    <dd class="govuk-summary-list__value">{% if data['newCase_WCU'] %}{{ data['newCase_WCU'] }}{% else %} Not entered {% endif %}</dd>
                    <dd class="govuk-summary-list__actions"><a class="govuk-link" href="03-case-details">Change<span class="govuk-visually-hidden"> WCU</span></a></dd>
                </div>
                <!-- ITEM 6 - END -->

                <!-- ITEM 7 - START -->                
                <!-- <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">Crest</dt>
                    <dd class="govuk-summary-list__value">{% if data['newCase_Crest'] %}{{ data['newCase_Crest'] }}{% else %} Not entered {% endif %}</dd>
                    <dd class="govuk-summary-list__actions"><a class="govuk-link" href="03-case-details">Change<span class="govuk-visually-hidden"> Crest</span></a></dd>
                </div> -->
                <!-- ITEM 7 - END -->

            <!-- </dl> -->
            <!-- //////////////////////////////////////////////////// SECTION 1 - END //////////////////////////////////////////////////// -->

            <!-- //////////////////////////////////////////////////// SECTION 2 - START //////////////////////////////////////////////////// -->
            <!-- <h2 class="govuk-heading-m">Case particulars</h2>
            <dl class="govuk-summary-list govuk-!-margin-bottom-9"> -->

                <!-- ITEM 1 - START -->
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">Operation name</dt>
                <dd class="govuk-summary-list__value">{% if data['operationNameYesNo'] == 'Yes' %}{{ data['operationName'] }}{% else %} Not entered {% endif %}</dd>
                <dd class="govuk-summary-list__actions"><a class="govuk-link" href="01-register-case">Change<span class="govuk-visually-hidden"> Operation name</span></a></dd>
            </div>
                <!-- ITEM 1 - END -->

                <!-- ITEM 2 - START -->
                <!-- <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">Suspects</dt>
                    <dd class="govuk-summary-list__value">{{ data['suspectDetailsYesNo'] }}</dd>
                    <dd class="govuk-summary-list__actions"><a class="govuk-link" href="01-register-case">Change<span class="govuk-visually-hidden"> Suspects</span></a></dd>
                </div> -->
                <!-- ITEM 2 - END -->

                <!-- ITEM 3 - START -->
                {% if data['firstHearingDetailsYesNo'] == 'Yes' %}
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">First hearing court location</dt>
                        <dd class="govuk-summary-list__value">{{ data['courtLocation'] }}</dd>
                        <dd class="govuk-summary-list__actions"><a class="govuk-link" href="01-register-case">Change<span class="govuk-visually-hidden"> First Hearing court location</span></a></dd>
                    </div>
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">First hearing date</dt>
                        <dd class="govuk-summary-list__value">{{ data['firstHearingDate'] }}</dd>
                        <dd class="govuk-summary-list__actions"><a class="govuk-link" href="01-register-case">Change<span class="govuk-visually-hidden"> First Hearing date</span></a></dd>
                    </div>
                {% else %}
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">First Hearing</dt>
                        <dd class="govuk-summary-list__value">Not entered</dd>
                        <dd class="govuk-summary-list__actions"><a class="govuk-link" href="01-register-case">Change<span class="govuk-visually-hidden"> First Hearing</span></a></dd>
                    </div>
                {% endif %}        
                <!-- ITEM 3 - END -->

            </dl>
            <!-- //////////////////////////////////////////////////// SECTION 2 - END //////////////////////////////////////////////////// -->

            <!-- //////////////////////////////////////////////////// SECTION 3 - START //////////////////////////////////////////////////// -->
            <h2 class="govuk-heading-m">Suspects</h2>
            <dl class="govuk-summary-list govuk-!-margin-bottom-0">
                <!-- ITEM 2 - START -->
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">Suspects</dt>
                    <dd class="govuk-summary-list__value">{{ data['suspectDetailsYesNo'] }}</dd>
                    <dd class="govuk-summary-list__actions"><a class="govuk-link" href="01-register-case">Change<span class="govuk-visually-hidden"> Suspects</span></a></dd>
                </div>
                <!-- ITEM 2 - END -->
            <!-- </dl>
             <dl class="govuk-summary-list hmrc-list-with-actions hmrc-list-with-actions--short">    -->
                {% for id in data['suspectId'] %}            
                    {% if (data['suspectType'][id] == 'Person') %}
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">Suspect {{ id +1 }}</dt>

                        <dd class="govuk-summary-list__value"><span class="icon-new user"></span> <span class="uppercase">{{data['suspectLastName'][id]}}</span>, {{data['suspectFirstName'][id]}} <span class="govuk-body">| born {{data['suspectDayBirth'][id]}} {{data['monthName'][data['suspectMonthBirth'][id]]}} {{data['suspectYearBirth'][id]}}</span></dd>

                        <dd class="govuk-summary-list__actions"><a class="govuk-link" href="04A-add-suspect.html?id={{data['suspectId'][id]}}">Change<span class="govuk-visually-hidden"> {{ data['suspectFirstName'][id]}} {{data['suspectLastName'][id]}}'s details</span></a></dd>
                    </div>

                <!-- <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key govuk-!-font-weight-bold hmrc-summary-list__key">

                    <span class="icon-new user"></span> <span class="uppercase">{{data['suspectLastName'][id]}}</span>, {{data['suspectFirstName'][id]}} <span class="govuk-body">| born {{data['suspectDOB'][id]}}</span>

                    </dt>
                    <dd class="govuk-summary-list__actions hmrc-summary-list__actions"> -->
                    <!-- <ul class="govuk-summary-list__actions-list">

                        <li class="govuk-summary-list__actions-list-item"><a class="govuk-link" href="04A-add-suspect.html?id={{data['suspectId'][id]}}"><span aria-hidden="true">Change</span><span class="govuk-visually-hidden">Change {{ data['suspectFirstName'][id]}} {{data['suspectLastName'][id]}}'s details</span></a></li>


                    </ul> -->
                    <!-- </dd> -->
                
                {% else %}
                <div class="govuk-summary-list__row">

                    <dt class="govuk-summary-list__key">Suspect {{ id +1 }}</dt>
                    <dd class="govuk-summary-list__value"><span class="icon-new company"></span> {{ data['suspectCompanyName'][id]}}</dd>
                    <dd class="govuk-summary-list__actions"><a class="govuk-link" href="04A-add-suspect.html?id={{data['suspectId'][id]}}">Change<span class="govuk-visually-hidden"> {{ data['suspectCompanyName'][id]}}'s details</span></a></dd>
                </div> 


                {% endif %}
                {% endfor %}
            </dl>

            <!-- //////////////////////////////////////////////////// SECTION 3 - END //////////////////////////////////////////////////// -->

            <!-- //////////////////////////////////////////////////// SECTION 5 - START //////////////////////////////////////////////////// -->
            <h2 class="govuk-heading-m govuk-!-margin-top-9">Case complexity, weight and monitoring codes</h2>
            <dl class="govuk-summary-list govuk-!-margin-bottom-9">

                <!-- ITEM 1 - START -->
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">Case complexity</dt>
                    <dd class="govuk-summary-list__value">{{ data['newCase_Complexity'] }}</dd>
                    <dd class="govuk-summary-list__actions"><a class="govuk-link" href="05-complexity-weight">Change<span class="govuk-visually-hidden"> Case complexity</span></a></dd>
                </div>
                <!-- ITEM 1 - END -->

                <!-- ITEM 2 - START -->
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">Case weight</dt>
                    {% if data['caseWeight'] == 'Not applicable' %}

                        <dd class="govuk-summary-list__value"><strong class="govuk-tag govuk-tag--grey">{{ data['caseWeight'] }}</strong></dd>
                    {% elseif data['caseWeight'] == 'Low' %}
                        <dd class="govuk-summary-list__value"><strong class="govuk-tag govuk-tag--light-blue">{{ data['caseWeight'] }}</strong></dd>
                    {% elseif data['caseWeight'] == 'Medium' %}
                        <dd class="govuk-summary-list__value"><strong class="govuk-tag govuk-tag--yellow">{{ data['caseWeight'] }}</strong></dd>
                    {% elseif data['caseWeight'] == 'High' %}
                        <dd class="govuk-summary-list__value"><strong class="govuk-tag govuk-tag--orange">{{ data['caseWeight'] }}</strong></dd>
                    {% elseif data['caseWeight'] == 'Exceptional' %}
                        <dd class="govuk-summary-list__value"><strong class="govuk-tag govuk-tag--red">{{ data['caseWeight'] }}</strong></dd>
                    {% endif %}        
                    <dd class="govuk-summary-list__actions"><a class="govuk-link" href="05-complexity-weight">Change<span class="govuk-visually-hidden"> Case weight</span></a></dd>
                </div>

                <!-- ITEM 2 - END -->

                <!-- ITEM 3 - START -->
                {% if data['newCase_MonitoringCodes_YesNo'] == 'No' %}
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">Monitoring codes</dt>
                        <dd class="govuk-summary-list__value">None</dd>
                        <dd class="govuk-summary-list__actions"><a class="govuk-link" href="05A-monitoring-codes">Change<span class="govuk-visually-hidden"> Monitoring codes</span></a></dd>
                    </div>
                {% else %}
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">Monitoring codes</dt>
                        <dd class="govuk-summary-list__value">
                            <ul class="govuk-list govuk-list--bullet">
                                {% if 'Asset recovery' in data['newCase_MonitoringCodes']  %}<li>Asset recovery</li>{% else %}{% endif %}
                                {% if 'Border security' in data['newCase_MonitoringCodes']  %}<li>Border security</li>{% else %}{% endif %}
                                {% if 'Child abuse' in data['newCase_MonitoringCodes']  %}<li>Child abuse</li>{% else %}{% endif %}
                                {% if 'Coronavirus offence' in data['newCase_MonitoringCodes']  %}<li>Coronavirus offence</li>{% else %}{% endif %}
                                {% if 'COVID bail' in data['newCase_MonitoringCodes']  %}<li>COVID bail</li>{% else %}{% endif %}
                                {% if 'COVID CTL' in data['newCase_MonitoringCodes']  %}<li>COVID CTL</li>{% else %}{% endif %}
                                {% if 'Crime against an older person' in data['newCase_MonitoringCodes']  %}<li>Crime against an older person</li>{% else %}{% endif %}
                                {% if 'Disability hate crime' in data['newCase_MonitoringCodes']  %}<li>Disability hate crime</li>{% else %}{% endif %}
                                {% if 'Domestic abuse' in data['newCase_MonitoringCodes']  %}<li>Domestic abuse</li>{% else %}{% endif %}
                                {% if 'Extraordinary event (post 2019)' in data['newCase_MonitoringCodes']  %}<li>Extraordinary event (post 2019)</li>{% else %}{% endif %}
                                {% if 'Fatality' in data['newCase_MonitoringCodes']  %}<li>Fatality</li>{% else %}{% endif %}
                                {% if 'Forced marriage' in data['newCase_MonitoringCodes']  %}<li>Forced marriage</li>{% else %}{% endif %}
                                {% if 'GAP or NGAP' in data['newCase_MonitoringCodes']  %}<li>GAP or NGAP</li>{% else %}{% endif %}
                                {% if 'Homophobic crime' in data['newCase_MonitoringCodes']  %}<li>Homophobic crime</li>{% else %}{% endif %}
                                {% if '‘Honour’ based abuse' in data['newCase_MonitoringCodes']  %}<li>‘Honour’ based abuse</li>{% else %}{% endif %}
                                {% if 'Human trafficking' in data['newCase_MonitoringCodes']  %}<li>Human trafficking</li>{% else %}{% endif %}
                                {% if 'Identified victim' in data['newCase_MonitoringCodes']  %}<li>Identified victim</li>{% else %}{% endif %}
                                {% if 'Joint enterprise' in data['newCase_MonitoringCodes']  %}<li>Joint enterprise</li>{% else %}{% endif %}
                                {% if 'Major incident flag' in data['newCase_MonitoringCodes']  %}<li>Major incident flag</li>{% else %}{% endif %}
                                {% if 'Media interest' in data['newCase_MonitoringCodes']  %}<li>Media interest</li>{% else %}{% endif %}
                                {% if 'Mental health' in data['newCase_MonitoringCodes']  %}<li>Mental health</li>{% else %}{% endif %}
                                {% if 'Nationality bar' in data['newCase_MonitoringCodes']  %}<li>Nationality bar</li>{% else %}{% endif %}
                                {% if 'Police complaints' in data['newCase_MonitoringCodes']  %}<li>Police complaints</li>{% else %}{% endif %}
                                {% if 'Pre-Charge decision' in data['newCase_MonitoringCodes']  %}<li>Pre-Charge decision</li>{% else %}{% endif %}
                                {% if 'Prohibited weapons' in data['newCase_MonitoringCodes']  %}<li>Prohibited weapons</li>{% else %}{% endif %}
                                {% if 'Racist crime' in data['newCase_MonitoringCodes']  %}<li>Racist crime</li>{% else %}{% endif %}
                                {% if 'Rape' in data['newCase_MonitoringCodes']  %}<li>Rape</li>{% else %}{% endif %}
                                {% if 'Real time case conversations' in data['newCase_MonitoringCodes']  %}<li>Real time case conversations</li>{% else %}{% endif %}
                                {% if 'Religious crime' in data['newCase_MonitoringCodes']  %}<li>Religious crime</li>{% else %}{% endif %}
                                {% if 'Transphobic crime' in data['newCase_MonitoringCodes']  %}<li>Transphobic crime</li>{% else %}{% endif %}
                                {% if 'Vulnerable or intimidated victim' in data['newCase_MonitoringCodes']  %}<li>Vulnerable or intimidated victim</li>{% else %}{% endif %}
                            </ul>
                        </dd>
                        <dd class="govuk-summary-list__actions"><a class="govuk-link" href="05A-monitoring-codes">Change<span class="govuk-visually-hidden"> Monitoring codes</span></a></dd>
                    </div>
                {% endif %}        
                <!-- ITEM 3 - END -->

            </dl>
            <!-- //////////////////////////////////////////////////// SECTION 5 - END //////////////////////////////////////////////////// -->

            <!-- //////////////////////////////////////////////////// SECTION 6 - START //////////////////////////////////////////////////// -->
            <h2 class="govuk-heading-m">Working on the case</h2>
            <dl class="govuk-summary-list govuk-!-margin-bottom-9">

                <!-- ITEM 1 - START -->
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">Prosecutor</dt>
                    <dd class="govuk-summary-list__value">{% if data['prosecutor'] %} {{data['prosecutor']}} {% else %} Not entered {% endif %}</dd>
                    <dd class="govuk-summary-list__actions"><a class="govuk-link" href="06-cps-staff">Change<span class="govuk-visually-hidden"> Prosecutor</span></a></dd>
                </div>
                <!-- ITEM 1 - END -->

                <!-- ITEM 2 - START -->
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">Caseworker</dt>
                    <dd class="govuk-summary-list__value">{% if data['caseworker'] %} {{ data['caseworker'] }} {% else %} Not entered {% endif %}</dd>
                    <dd class="govuk-summary-list__actions"><a class="govuk-link" href="06-cps-staff">Change<span class="govuk-visually-hidden"> Caseworker</span></a></dd>
                </div>
                <!-- ITEM 2 - END -->

                <!-- ITEM 3 - START -->
                {% if data['policeYesNo'] == 'Yes' %}
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">Police officer or investigator</dt>
                        <dd class="govuk-summary-list__value"><strong class="govuk-tag govuk-tag--blue">{{ data['policeRank'] }}</strong> - <span class="uppercase">{{ data['policeLastName'] }}</span>, {{ data['policeFirstName'] }}</dd>
                        <dd class="govuk-summary-list__actions"><a class="govuk-link" href="06-cps-staff">Change<span class="govuk-visually-hidden"> Police officer or investigator</span></a></dd>
                    </div>
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">Shoulder number</dt>
                        <dd class="govuk-summary-list__value">{{ data['policeShoulderNumber'] }}</dd>
                        <dd class="govuk-summary-list__actions"><a class="govuk-link" href="06-cps-staff">Change<span class="govuk-visually-hidden"> Shoulder no.</span></a></dd>
                    </div>
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">Police unit</dt>
                        <dd class="govuk-summary-list__value">{{ data['policeUnit'] }}</dd>
                        <dd class="govuk-summary-list__actions"><a class="govuk-link" href="06-cps-staff">Change<span class="govuk-visually-hidden"> Police unit</span></a></dd>
                    </div>
                {% elseif data['policeYesNo'] == 'No' %}
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">Police officer or investigator</dt>
                        <dd class="govuk-summary-list__value">Not entered</dd>
                        <dd class="govuk-summary-list__actions"><a class="govuk-link" href="06-cps-staff">Change<span class="govuk-visually-hidden"> Police officer or investigator</span></a></dd>
                    </div>
                {% else %}
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">Police officer or investigator</dt>
                        <dd class="govuk-summary-list__value">Not entered</dd>
                        <dd class="govuk-summary-list__actions"><a class="govuk-link" href="06-cps-staff">Change<span class="govuk-visually-hidden"> Police officer or investigator</span></a></dd>
                    </div>
                {% endif %}        
                <!-- ITEM 3 - END -->

            </dl>
            <!-- //////////////////////////////////////////////////// SECTION 6 - END //////////////////////////////////////////////////// -->

            <!-- //////////////////////////////////////////////////// SECTION 7 - START //////////////////////////////////////////////////// -->
            <!-- <h2 class="govuk-heading-m">Material locations</h2>
            <dl class="govuk-summary-list">
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">Egress template</dt>
                    <dd class="govuk-summary-list__value">{{data['egressTemplate']}}</dd>
                    <dd class="govuk-summary-list__actions"><a class="govuk-link" href="07A-create-egress-folder">Change<span class="govuk-visually-hidden"> Egress template</span></a></dd>
                </div>
            </dl>

            <dl class="govuk-summary-list no_list govuk-!-margin-bottom-9">
                {% if data['wantedEgressFolder'] == 'Egress folder' %}
                    <div class="govuk-summary-list__row no_border">
                        <dt class="govuk-summary-list__key">Egress location</dt>
                        <dd class="govuk-summary-list__actions"><a class="govuk-link" href="07-want-to-create-folders">Change<span class="govuk-visually-hidden"> Egress location</span></a></dd>
                    </div>
                    <div class="govuk-summary-list__row">
                        <dd class="govuk-summary-list__full_width"><span class="url-text small_text">https://cps.egresscloud.com/w/edit/66fd8bd1158de0c2ca41b172/</span></dd>
                    </div>
                {% else %}
                    <div class="govuk-summary-list__row no_border">
                        <dt class="govuk-summary-list__key">Egress location</dt>
                        <dd class="govuk-summary-list__actions"><a class="govuk-link" href="07-want-to-create-folders">Change<span class="govuk-visually-hidden"> Egress location</span></a></dd>
                    </div>
                    <div class="govuk-summary-list__row">
                        <dd class="govuk-summary-list__full_width"><span class="url-text small_text">Not created</span></dd>
                    </div>
                {% endif %}        

                {% if data['wantedDriveFolder'] == 'Shared drive folder' %}
                    <div class="govuk-summary-list__row no_border">
                        <dt class="govuk-summary-list__key">Shared drive location</dt>
                        <dd class="govuk-summary-list__actions"><a class="govuk-link" href="07-want-to-create-folders">Change<span class="govuk-visually-hidden"> Shared drive location</span></a></dd>
                    </div>
                    <div class="govuk-summary-list__row">
                        <dd class="govuk-summary-list__full_width"><span class="url-text small_text">\\ Public (P:) > RCTCaseData > SCCTD > CTD > Live Op > {{ data['newCase_OperationName'] }}</span></dd>
                    </div>
                {% else %}
                    <div class="govuk-summary-list__row no_border">
                        <dt class="govuk-summary-list__key">Shared drive location</dt>
                        <dd class="govuk-summary-list__actions"><a class="govuk-link" href="07-want-to-create-folders">Change<span class="govuk-visually-hidden"> Shared drive location</span></a></dd>
                    </div>
                    <div class="govuk-summary-list__row">
                        <dd class="govuk-summary-list__full_width"><span class="url-text small_text">Not created</span></dd>
                    </div>
                {% endif %}        

            </dl> -->
            <!-- //////////////////////////////////////////////////// SECTION 7 - END //////////////////////////////////////////////////// -->


            <form method="get" action="09-confirmation.html" id="newCase_Form-H">  

            <!-- <form method="get" action="../03-case-overview" id="newCase_Form-H">   -->
                <input id="createCase_H_Complete" name="createCase_H_Complete" type="text" value="true" style="display: none;">
                <button type="submit" class="govuk-button" >Accept and create</button>
                <button type="button" onclick="location.href='01-search';" class="non-button margin-left" id="">Cancel</button>
            </form>

        </div>
    </div>
    <div class="govuk-grid-column-one-third">

    </div>
</div>

{% endblock %}