{% extends "layout.html" %}
{% block pageTitle %}
    CPS  - Large and Complex Cases
{% endblock %}
{% block content %}

<script src="/public/javascripts/accordion.js"></script>

<div class="govuk-grid-row index-page">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">Prototype versions and links</h1>
        <h2 class="govuk-heading-m"></h2>

        <p><strong class="govuk-tag">Current version</strong></p>

        <!-- CHRIS NEW VERSION 8 - START -->
        {% include './version-8/_summary.html' %}
        <!-- CHRIS NEW VERSION 8 -END -->

        <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">

        <p><strong class="govuk-tag govuk-tag--green">Previous versions</strong></p>

        <h2 class="govuk-heading-m govuk-!-margin-top-3">
            Private Beta
            <span class="govuk-caption-m">1st September 2023 - Present</span>
        </h2>

        <div class="govuk-accordion" data-module="govuk-accordion" id="accordion-private-beta">

            <div class="govuk-accordion__section">
                <div class="govuk-accordion__section-header">
                    <h2 class="govuk-accordion__section-heading">
                        <span class="govuk-accordion__section-button" id="accordion-private-beta-heading-1">Older design iterations</span>
                    </h2>
                </div>
                <div id="accordion-private-beta-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-private-beta-heading-1">

                    <!-- CHRIS NEW VERSION 7 - START -->
                    {% include './version-7/_summary.html' %}
                    <!-- CHRIS NEW VERSION 7 -END -->

                    <!-- CHRIS NEW VERSION 6 - START -->
                    {% include './version-6/_summary.html' %}
                    <!-- CHRIS NEW VERSION 6 -END -->

                    <!-- CHRIS NEW VERSION 5 - START -->
                    {% include './version-5/_summary.html' %}
                    <!-- CHRIS NEW VERSION 5 -END -->

                    <!-- CHRIS NEW VERSION 4 - START -->
                    {% include './version-4/_summary.html' %}
                    <!-- CHRIS NEW VERSION 4 -END -->

                    <!-- CHRIS NEW VERSION 3 - START -->
                    {% include './version-3/_summary.html' %}
                    <!-- CHRIS NEW VERSION 3 -END -->

                    <!-- CHRIS NEW VERSION 2 - START -->
                    {% include './version-2/_summary.html' %}
                    <!-- CHRIS NEW VERSION 2 -END -->

                    <!-- CHRIS NEW VERSION 1 - START -->
                    {% include './version-1/_summary.html' %}
                    <!-- CHRIS NEW VERSION 1 -END -->

                    <!-- CHRIS OLD VERSION 0 - START -->
                    {% include './version-0/_summary.html' %}
                    <!-- CHRIS OLD VERSION 0 -END -->

                </div>
            </div>

        </div>

    </div>
</div>

{% endblock %}