{% extends "layout.html" %}
{% block pageTitle %}
CPS - Large and Complex Cases
{% endblock %}
{% block content %}

<script src="/public/javascripts/accordion.js"></script>

<div class="govuk-grid-row index-page">

    <h1 class="govuk-heading-xl">Prototype versions and links</h1>
    <h2 class="govuk-heading-m"></h2>

    <div class="govuk-grid-column-one-third">
        <!-- Monica Beta v1 - START -->
        {% include './manage-materials-beta-v1/_summary.html' %}
        <!-- Monica Beta v1 - END -->
    </div>
    <div class="govuk-grid-column-one-third">
        <!-- Monica NEW VERSION 14 - START -->
        {% include './version-14/_summary.html' %}
        <!-- Monica NEW VERSION 13 - END -->
    </div>
    <div class="govuk-grid-column-one-third">
        <!-- Monica NEW VERSION 12 - START -->
        {% include './ur-apr-2026-closed/_summary.html' %}
        <!-- Monica NEW VERSION 12 -END -->
    </div>

    <div class="govuk-grid-column-full">

        <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">
    </div>

    <div class="govuk-grid-column-two-thirds">

        <p><strong class="govuk-tag govuk-tag--green">Previous versions</strong></p>

        <h2 class="govuk-heading-m govuk-!-margin-top-2">
            Alpha
            <span class="govuk-caption-m">30 July 2025 &ndash; present</span>
        </h2>

        <!-- <div class="govuk-accordion" data-module="govuk-accordion" id="accordion-private-beta"> -->

        <!-- <div class="govuk-accordion__section"> -->
        <!-- <div class="govuk-accordion__section-header">
                    <h2 class="govuk-accordion__section-heading">
                        <span class="govuk-accordion__section-button" id="accordion-private-beta-heading-1">Older design iterations</span>
                    </h2>
                </div> -->
        <!-- <div id="accordion-private-beta-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-private-beta-heading-1"> -->

        <!-- Monica UR VERSION - START -->
        {% include './ur-mar-2026-closed/_summary.html' %}
        <!-- Monica UR VERSION - END -->

        <!-- Monica NEW VERSION 12 - START -->
        {% include './version-13/_summary.html' %}
        <!-- Monica NEW VERSION 12 -END -->

        <!-- Monica UR February 2026 - START -->
        {% include './ur-feb-2026-closed/_summary.html' %}
        <!-- Monica UR February 2026 -END -->

        <!-- Monica NEW VERSION 12 - START -->
        {% include './version-12/_summary.html' %}
        <!-- Monica NEW VERSION 12 -END -->

        <!-- Monica UR December 2025 - START -->
        {% include './ur-dec-2025-closed/_summary.html' %}
        <!-- Monica UR December 2025 -END -->

        <!-- Monica NEW VERSION 11 - START -->
        {% include './version-11/_summary.html' %}
        <!-- Monica NEW VERSION 11 -END -->

        <!-- Monica NEW VERSION 10 - START -->
        {% include './version-10/_summary.html' %}
        <!-- Monica NEW VERSION 10 -END -->

        <!-- Monica NEW VERSION 9 - START -->
        {% include './version-9/_summary.html' %}
        <!-- Monica NEW VERSION 9 -END -->

        <h2 class="govuk-heading-m govuk-!-margin-top-2">
            Private Beta
            <span class="govuk-caption-m">1st September 2023 &ndash; 29 July 2025</span>
        </h2>

        <!-- CHRIS NEW VERSION 8 - START -->
        {% include './version-8/_summary.html' %}
        <!-- CHRIS NEW VERSION 8 -END -->

        <!-- CHRIS NEW VERSION 7 - START -->
        {% include './version-7/_summary.html' %}
        <!-- CHRIS NEW VERSION 7 -END -->

        <!-- CHRIS NEW VERSION 6 - START -->
        {% include './version-6/_summary.html' %}
        <!-- CHRIS NEW VERSION 6 -END -->

        <!-- CHRIS NEW VERSION 5 - START -->
        {% include './version-5/_summary.html' %}
        <!-- CHRIS NEW VERSION 5 -END -->

        <!-- CHRIS NEW VERSION 4 - START -->
        {% include './version-4/_summary.html' %}
        <!-- CHRIS NEW VERSION 4 -END -->

        <!-- CHRIS NEW VERSION 3 - START -->
        {% include './version-3/_summary.html' %}
        <!-- CHRIS NEW VERSION 3 -END -->

        <!-- CHRIS NEW VERSION 2 - START -->
        {% include './version-2/_summary.html' %}
        <!-- CHRIS NEW VERSION 2 -END -->

        <!-- CHRIS NEW VERSION 1 - START -->
        {% include './version-1/_summary.html' %}
        <!-- CHRIS NEW VERSION 1 -END -->

        <!-- CHRIS OLD VERSION 0 - START -->
        {% include './version-0/_summary.html' %}
        <!-- CHRIS OLD VERSION 0 -END -->

        <!-- </div> -->
        <!-- </div> -->

        <!-- </div> -->

    </div>
</div>

{% endblock %}