{% extends "layoutCPS-OFF.html" %}
{% block header %}
{% include "../../includes/banner-OFF-V7.html" %}
{% endblock %}
{% block beforeContent %}
<a class="govuk-back-link" href="javascript:history.back()">Back</a>
{% endblock %}
{% block content %}


<div class="govuk-grid-row" id="create-case-journey">
    <div class="govuk-grid-column-two-thirds">
        <div class="gov-pages">
            <div class="holdingBlock">

                <h1 class="govuk-heading-xl govuk-!-margin-bottom-9 govuk-!-margin-top-9">
                    Case details placeholder page
                    
                </h1>
            </div>


        </div>
    </div>
</div>

{% endblock %}