
{% set version = 'ur-dec-2025' %}


<div class="holdingBlock">
     <strong class="govuk-tag govuk-!-margin-bottom-2">BETA</strong>
     <h2 class="govuk-heading-m govuk-!-margin-bottom-0">Large and Complex Cases v11</h2>
     <p class="govuk-body govuk-!-margin-bottom-10">28 October 2025 - </p>
     <ul class="govuk-list  govuk-list--bullet">
          <li>Manage materials</li>
          <li>Register a case</li>
     </ul>
     
     <h2 class="govuk-heading-m govuk-!-margin-bottom-3">Quick links</h2>
     <ul class="govuk-list  govuk-list--bullet">
          <li><a href="/ur-dec-2025/B-off-system-MVP/03-case-overview">Manage materials</a> &nbsp;<strong class="govuk-tag govuk-tag--orange">Work in progress</strong></li>
          <li><a href="/ur-dec-2025/B-off-system-MVP/create-case/01-register-case">Register a case</a></li>
          <li><a href="/ur-dec-2025/B-off-system-MVP/create-case/03-add-suspect">Add a suspect</a></li>
     </ul>

</div>

