<!-- ///////////////////////////////// TAB 2 - CONTENT - START ///////////////////////////////// -->
<div class="govuk-grid-row">
    <!-- <h1 class="govuk-heading-m govuk-!-margin-left-3 govuk-!-margin-bottom-5 govuk-!-margin-top-0">Viewing shared drive &nbsp;| &nbsp;<span class="gocuk-heading-m"><a class="govuk-link">View egress drive</a></span></h1> -->
    <h1 class="govuk-heading-l govuk-!-margin-left-3 govuk-!-margin-top-0">Manage materials on the shared drive</h1>
    <!-- <p class="govuk-body govuk-!-margin-left-3"><a class="govuk-link">View egress</a></p> -->
    <p class="govuk-body govuk-!-margin-left-3 govuk-!-margin-top-0 govuk-!-margin-bottom-8">You can add, rename or remove materials and folders. You can also <a class="govuk-link">manage materials and folders on Egress</a>.</p>
</div>
<div class="govuk-grid-row">

    <div class="govuk-grid-column-one-quarter" id="materials_column_1">
        <div class="moj-filter-layout__filter">
            {% include "../materials/materials-filter.html" %}
        </div>
    </div>

    <div class="govuk-grid-column-three-quarters" id="materials_column_2">

        <div class="govuk-grid-row">
            <div class="govuk-grid-column-one-half">
                <div class="info_wrapper" style="display:flex; align-items:center; gap:1rem;">
                    <button id="toggle_filter_Materials" type="button" class="govuk-button govuk-button--secondary">
                        Show filter
                    </button>
                    <div class="actions_holder">
                        <div class="moj-button-menu">
                            <button type="button" class="govuk-button govuk-button--secondary" data-module="govuk-button"
                                id="show_Materials_Actions">
                                Actions on selection <svg width="11" height="5" viewBox="0 0 11 5" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M5.5 0L11 5L0 5L5.5 0Z" fill="currentColor"></path>
                                </svg>
                            </button>
                            <div class="hidden_buttons" id="materials_Actions">
                                <!-- Rename should only be available for single selections, not multiple -->
                                <button type="button" class="govuk-button govuk-button--disabled reclassify_Document_Multiple_Docs rename-Document" data-module="govuk-button" onclick="return openRenameModal();" data-rename="1">Rename</button>
                                
                                <form method="post" action="B-discard_material">
                                    <input id="material_selected" name="material_selected" type="text" value="MCLOVE MG3" style="display: none;">
                                    <button class="govuk-button govuk-button--disabled reclassify_Document_Multiple_Docs" data-module="govuk-button" type="submit">Discard</button>
                                </form>

                                <button class="govuk-button mark_as_Read govuk-button--disabled reclassify_Document_Multiple_Docs" data-module="govuk-button" type="button">Mark as read</button>

                                <button type="button"
                                        class="govuk-button govuk-button--disabled reclassify_Document_Multiple_Docs"
                                data-module="govuk-button" disabled>Mark as unused</button>
                            </div>
                        </div>
                    </div>
                    <button id="newFolder" type="button" class="govuk-button govuk-button--secondary">
                        New folder
                    </button>

                </div>
            </div>
        </div>
        
        <div class="govuk-grid-row">
            <nav class="govuk-breadcrumbs govuk-!-margin-top-0 govuk-!-margin-bottom-4 govuk-!-margin-left-3" aria-label="Breadcrumb">
            <ol class="govuk-breadcrumbs__list">
                <li class="govuk-breadcrumbs__list-item">
                <form method="post" action="/version-11/B-off-system-MVP/shared-drive" style="display:inline;">
                    <input type="hidden" name="level" value="1">
                    <button type="submit" class="govuk-breadcrumbs__link breadcrumb-button">
                    Shared drive
                    </button>
                </form>
                </li>

                {% if data['level'] == '2' %}
                <li class="govuk-breadcrumbs__list-item">
                <a class="govuk-breadcrumbs__link govuk-link--no-visited-state" href="#">
                    {{ data['folderName'] }}
                </a>
                </li>
                {% endif %}
            </ol>
            </nav>
        </div>


        <table class="govuk-table sortable" id="materials_table">
            <thead class="govuk-table__head">
                <tr class="govuk-table__row">
                    <th scope="col" class="govuk-table__header">
                        <div class="govuk-checkboxes govuk-checkboxes--small MT-15" data-module="govuk-checkboxes">
                            <div class="govuk-checkboxes__item">
                                <input class="govuk-checkboxes__input" id="materials_documents_ALL"
                                    name="materials_document" type="checkbox" value="Select all">
                                <label class="govuk-label govuk-checkboxes__label"
                                    for="materials_documents_ALL"></label>
                            </div>
                        </div>
                    </th>
                    <th scope="col" class="govuk-table__header"><button class="govuk-button"
                            data-module="govuk-button">Material</button></th>
                    <th scope="col" class="govuk-table__header"><button class="govuk-button"
                            data-module="govuk-button">Type</button></th>
                    <th scope="col" class="govuk-table__header"><button class="govuk-button"
                            data-module="govuk-button">Category</button></th>
                    <th scope="col" class="govuk-table__header"><button class="govuk-button"
                            data-module="govuk-button">Date</button></th>
                    <th scope="col" class="govuk-table__header"><button class="govuk-button"
                            data-module="govuk-button">Status</button></th>
                    <th scope="col" class="govuk-table__header"></th>
                </tr>
            </thead>
            <tbody class="govuk-table__body">
                
                {% for material in materials %}
                    {% if
                    (not data['filterNew'] or material.new == true or material.new == 'true')
                    and (
                        not (data['filterStatusUsed'] or data['filterStatusUnused'] or data['filterStatusNone'])
                        or material.status in [
                        data['filterStatusUsed'],
                        data['filterStatusUnused'],
                        data['filterStatusNone']
                        ]
                    )
                    and (
                        not (
                        data['filterCategoryReview'] or
                        data['filterCategoryCaseOverview'] or
                        data['filterCategoryStatements'] or
                        data['filterCategoryExhibits'] or
                        data['filterCategoryForensics'] or
                        data['filterCategoryUnusedMaterial'] or
                        data['filterCategoryDefendant'] or
                        data['filterCategoryCourtPreparation']
                        )
                        or material.category in [
                        data['filterCategoryReview'],
                        data['filterCategoryCaseOverview'],
                        data['filterCategoryStatements'],
                        data['filterCategoryExhibits'],
                        data['filterCategoryForensics'],
                        data['filterCategoryUnusedMaterial'],
                        data['filterCategoryDefendant'],
                        data['filterCategoryCourtPreparation']
                        ]
                    )
                    %}                    
                        <!-- ||||||||||||||| Materials ||||||||||||||| -->
                        {% if data['discarding_material_COMPLETED'] == 'true' and data['material_selected'] == '{{material.name}}' %}

                        {% else %}
                        {% if material.level == data['level'] %}
                            <tr class="govuk-table__row">
                                <td class="govuk-table__cell">
                                    <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
                                        <div class="govuk-checkboxes__item">
                                            <input class="govuk-checkboxes__input" id="{{material.id}}"
                                                name="materials_document" type="checkbox" value="{{material.name}}">
                                            <label class="govuk-label govuk-checkboxes__label" for="materials_document_{{material.id}}"><span
                                                    class="visuallyhidden">{{material.name}}</span></label>
                                        </div>
                                    </div>
                                </td>
                                <form action="/version-11/B-off-system-MVP/case-overview" method="post">
                                <td class="govuk-table__cell title_column">
                                    {% if material.new == true %}
                                    <strong class="govuk-tag govuk-tag--blue">New</strong>
                                    {% endif %}
                                    <div class="openMe">
                                    {% if material.folder == true %}
                                        <span class="icon-new folder"></span>
                                    {% endif %}
                                    <input type="hidden" name="folderName" value="{{ material.name }}">
                                    <input type="hidden" name="level" value="2">
                                    <button type="submit" name="materialId" value="{{ material.id }}" class="govuk-link govuk-link--no-visited-state govuk-!-font-weight-regular govuk-button--link">
                                        {{ material.name }}
                                    </button>
                                    </div>
                                </td>
                                </form>
                                <td class="govuk-table__cell">{{material.type}}</td>
                                <td class="govuk-table__cell">{{material.category}}</td>
                                <td class="govuk-table__cell">{{material.date}}</td>
                                <td class="govuk-table__cell">
                                {% if material.status == 'None' %}
                                    <strong class="govuk-tag govuk-tag--grey">
                                {% elseif material.status == 'Used' %}
                                    <strong class="govuk-tag govuk-tag--blue">
                                {% else %}
                                    <strong class="govuk-tag govuk-tag--yellow">
                                {% endif %}
                                        {{material.status}}
                                    </strong>
                                </td>
                                
                                <td class="govuk-table__cell toggle-panel">
                                    {% if material.folder != true %}
                                        <button type="button" class="govuk-button show_material_actions show-case"
                                        onclick="return openMaterial(event);"
                                        data-id="{{material.id}}"
                                        data-doc="{{material.previewLink}}">
                                        Preview <i class="fa-solid fa-chevron-down"></i>
                                        </button>                        
                                    {% endif %}
                                </td>
                                
                            </tr>
                            <tr class="govuk-table__row hidden_row" data-row_id="{{material.id}}">
                                <td colspan="7">
                                    <div class="document_holder" id=""><embed src="{{material.previewLink}}"></div>
                                </td>
                            </tr>
                        {% endif %}
                        {% endif %}
                    {% endif %}
                {% endfor %}
                <!-- ||||||||||||||| ROW 1 - END ||||||||||||||| -->

            </tbody>
        </table>

        <p class="no_results"><strong>No results</strong> found in materials</p>
    </div>

</div>
<!-- ///////////////////////////////// TAB 2 - CONTENT - END ///////////////////////////////// -->