{% extends "layoutCPS-OFF.html" %}
{% block header %}
    {% include "../../includes/banner-OFF-V7.html" %}
{% endblock %}
{% block beforeContent %}

{% endblock %}
{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <a href="javascript:history.back()" class="govuk-back-link">Back</a>
    </div>
</div>

<div class="govuk-grid-row" id="create-case-journey">

    <div class="govuk-grid-column-two-thirds">
        <div class="gov-pages">

            <h1 class="govuk-heading-xl govuk-!-margin-top-4 govuk-!-margin-bottom-2" style="">Add case complexity, weight and monitoring codes</h1>

            <p class="govuk-hint govuk-!-margin-bottom-6">Adding this information is optional. You can continue without adding any details.</p>

            <form method="get" action="06-cps-staff" id="newCase_Form-E">  

                <fieldset class="govuk-fieldset">

                    <!-- OPTION 1 - START -->
                    <div class="govuk-form-group">
                        <label class="govuk-label" for="newCase_Complexity">Case complexity</label>
                        <select class="govuk-select" id="newCase_Complexity" name="newCase_Complexity">
                            {% if data['newCase_Complexity'] == 'Basic' %}
                                <option value="Basic" selected>Basic</option>
                            {% else %}
                                <option value="Basic">Basic</option>
                            {% endif %}
                            {% if data['newCase_Police_Rank'] == 'Basic +' %}
                                <option value="Basic +" selected>Basic +</option>
                            {% else %}
                                <option value="Basic +">Basic +</option>
                            {% endif %}
                            {% if data['newCase_Police_Rank'] == 'Standard' %}
                                <option value="Standard" selected>Standard</option>
                            {% else %}
                                <option value="Standard">Standard</option>
                            {% endif %}
                            {% if data['newCase_Police_Rank'] == 'High' %}
                                <option value="High" selected>High</option>
                            {% else %}
                                <option value="High">High</option>
                            {% endif %}
                            {% if data['newCase_Police_Rank'] == 'Complex' %}
                                <option value="Complex" selected>Complex</option>
                            {% else %}
                                <option value="Complex">Complex</option>
                            {% endif %}
                        </select>
                    </div>  
                    <!-- OPTION 1 - END -->

                    <!-- OPTION 2 - START -->
                    <div class="govuk-form-group">
                        <fieldset class="govuk-fieldset" aria-describedby="newCase_CaseWeight-hint">
                            <legend class="govuk-fieldset__legend">
                                <h1 class="govuk-fieldset__heading">Do you want to add case weight?</h1>
                            </legend>
                            <div class="govuk-radios  govuk-radios--inline" data-module="govuk-radios">
                                <div class="govuk-radios__item">
                                    {% if data['newCase_CaseWeight_YesNo'] == 'Yes' %}
                                        <input class="govuk-radios__input" id="newCase_CaseWeight_Yes" name="newCase_CaseWeight_YesNo" type="radio" value="Yes" data-aria-controls="conditional-newCase_CaseWeight" checked>
                                    {% else %}
                                        <input class="govuk-radios__input" id="newCase_CaseWeight_Yes" name="newCase_CaseWeight_YesNo" type="radio" value="Yes" data-aria-controls="conditional-newCase_CaseWeight">
                                    {% endif %}  
                                    <label class="govuk-label govuk-radios__label" for="newCase_CaseWeight_Yes">Yes</label>
                                </div>
                                <div class="govuk-radios__item">
                                    {% if data['newCase_CaseWeight_YesNo'] == 'No' %}
                                        <input class="govuk-radios__input" id="newCase_CaseWeight_No" name="newCase_CaseWeight_YesNo" type="radio" value="No" checked>
                                    {% else %}
                                        <input class="govuk-radios__input" id="newCase_CaseWeight_No" name="newCase_CaseWeight_YesNo" type="radio" value="No">
                                    {% endif %}  
                                    <label class="govuk-label govuk-radios__label" for="newCase_CaseWeight_No">No</label>
                                </div>
                                <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-newCase_CaseWeight">
                                    <div class="govuk-form-group">
                                        <fieldset class="govuk-fieldset" aria-describedby="newCase_CaseWeight-hint">
                                            <div class="govuk-radios  govuk-radios--inline" data-module="govuk-radios">
                                                <div class="govuk-radios__item">
                                                    {% if data['newCase_CaseWeight'] == 'Not applicable' %}
                                                        <input class="govuk-radios__input" id="newCase_OperationName_NA" name="newCase_CaseWeight" type="radio" value="Not applicable" checked>
                                                    {% else %}
                                                        <input class="govuk-radios__input" id="newCase_OperationName_NA" name="newCase_CaseWeight" type="radio" value="Not applicable">
                                                    {% endif %}
                                                    <label class="govuk-label govuk-radios__label" for="newCase_OperationName_NA">Not applicable</label>
                                                </div>
                                                <div class="govuk-radios__item">
                                                    {% if data['newCase_CaseWeight'] == 'Low' %}
                                                        <input class="govuk-radios__input" id="newCase_OperationName_Low" name="newCase_CaseWeight" type="radio" value="Low" checked>
                                                    {% else %}
                                                        <input class="govuk-radios__input" id="newCase_OperationName_Low" name="newCase_CaseWeight" type="radio" value="Low">
                                                    {% endif %}
                                                    <label class="govuk-label govuk-radios__label" for="newCase_OperationName_Low">Low</label>
                                                </div>
                                                <div class="govuk-radios__item">
                                                    {% if data['newCase_CaseWeight'] == 'Medium' %}
                                                        <input class="govuk-radios__input" id="newCase_OperationName_Medium" name="newCase_CaseWeight" type="radio" value="Medium" checked>
                                                    {% else %}
                                                        <input class="govuk-radios__input" id="newCase_OperationName_Medium" name="newCase_CaseWeight" type="radio" value="Medium">
                                                    {% endif %}
                                                    <label class="govuk-label govuk-radios__label" for="newCase_OperationName_Medium">Medium</label>
                                                </div>
                                                <div class="govuk-radios__item">
                                                    {% if data['newCase_CaseWeight'] == 'High' %}
                                                        <input class="govuk-radios__input" id="newCase_OperationName_High" name="newCase_CaseWeight" type="radio" value="High" checked>
                                                    {% else %}
                                                        <input class="govuk-radios__input" id="newCase_OperationName_High" name="newCase_CaseWeight" type="radio" value="High">
                                                    {% endif %}
                                                    <label class="govuk-label govuk-radios__label" for="newCase_OperationName_High">High</label>
                                                </div>
                                                <div class="govuk-radios__item">
                                                    {% if data['newCase_CaseWeight'] == 'Exceptional' %}
                                                        <input class="govuk-radios__input" id="newCase_OperationName_Exceptional" name="newCase_CaseWeight" type="radio" value="Exceptional" checked>
                                                    {% else %}
                                                        <input class="govuk-radios__input" id="newCase_OperationName_Exceptional" name="newCase_CaseWeight" type="radio" value="Exceptional">
                                                    {% endif %}
                                                    <label class="govuk-label govuk-radios__label" for="newCase_OperationName_Exceptional">Exceptional</label>
                                                </div>
                                            </div>
                                        </fieldset>
                                    </div>                    
                                </div>
                            </div>
                        </fieldset>
                    </div>                    
                    <!-- OPTION 2 - END -->

                    <!-- OPTION 3 - START -->
                    <div class="govuk-form-group">
                        <fieldset class="govuk-fieldset" aria-describedby="newCase_MonitoringCodes-hint">
                            <legend class="govuk-fieldset__legend">
                                <h1 class="govuk-fieldset__heading">Do you want to add monitoring codes?</h1>
                            </legend>
                            <div class="govuk-radios  govuk-radios--inline" data-module="govuk-radios">
                                <div class="govuk-radios__item">
                                    {% if data['newCase_MonitoringCodes_YesNo'] == 'Yes' %}
                                        <input class="govuk-radios__input" id="newCase_MonitoringCodes_Yes" name="newCase_MonitoringCodes_YesNo" type="radio" value="Yes" data-aria-controls="conditional-newCase_MonitoringCodes" checked>
                                    {% else %}
                                        <input class="govuk-radios__input" id="newCase_MonitoringCodes_Yes" name="newCase_MonitoringCodes_YesNo" type="radio" value="Yes" data-aria-controls="conditional-newCase_MonitoringCodes">
                                    {% endif %}  
                                    <label class="govuk-label govuk-radios__label" for="newCase_MonitoringCodes_Yes">Yes</label>
                                </div>
                                <div class="govuk-radios__item">
                                    {% if data['newCase_MonitoringCodes_YesNo'] == 'No' %}
                                        <input class="govuk-radios__input" id="newCase_MonitoringCodes_No" name="newCase_MonitoringCodes_YesNo" type="radio" value="No" checked>
                                    {% else %}
                                        <input class="govuk-radios__input" id="newCase_MonitoringCodes_No" name="newCase_MonitoringCodes_YesNo" type="radio" value="No">
                                    {% endif %}  
                                    <label class="govuk-label govuk-radios__label" for="newCase_MonitoringCodes_No">No</label>
                                </div>
                                <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-newCase_MonitoringCodes">

                                    <div class="govuk-form-group">
                                        <fieldset class="govuk-fieldset" aria-describedby="newCase_MonitoringCodes-hint">
                                            <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes" id="newCase_MonitoringCodes_wrapper">
                                                <div class="govuk-checkboxes__item">
                                                    {% if data['newCase_MonitoringCodes'] == 'Asset recovery' %}
                                                        <input class="govuk-checkboxes__input" id="newCase_MonitoringCodes_AssetRecovery" name="newCase_MonitoringCodes" type="checkbox" value="Asset recovery" checked>
                                                    {% else %}
                                                        <input class="govuk-checkboxes__input" id="newCase_MonitoringCodes_AssetRecovery" name="newCase_MonitoringCodes" type="checkbox" value="Asset recovery">
                                                    {% endif %}
                                                    <label class="govuk-label govuk-checkboxes__label" for="newCase_MonitoringCodes_AssetRecovery">Asset recovery</label>
                                                </div>
                                                <div class="govuk-checkboxes__item">
                                                    {% if data['newCase_MonitoringCodes'] == 'Border security' %}
                                                        <input class="govuk-checkboxes__input" id="newCase_MonitoringCodes_BorderSecurity" name="newCase_MonitoringCodes" type="checkbox" value="Border security" checked>
                                                    {% else %}
                                                        <input class="govuk-checkboxes__input" id="newCase_MonitoringCodes_BorderSecurity" name="newCase_MonitoringCodes" type="checkbox" value="Border security">
                                                    {% endif %}
                                                    <label class="govuk-label govuk-checkboxes__label" for="newCase_MonitoringCodes_BorderSecurity">Border security</label>
                                                </div>
                                                <div class="govuk-checkboxes__item">
                                                    {% if data['newCase_MonitoringCodes'] == 'Child abuse' %}
                                                        <input class="govuk-checkboxes__input" id="newCase_MonitoringCodes_ChildAbuse" name="newCase_MonitoringCodes" type="checkbox" value="Child abuse" checked>
                                                    {% else %}
                                                        <input class="govuk-checkboxes__input" id="newCase_MonitoringCodes_ChildAbuse" name="newCase_MonitoringCodes" type="checkbox" value="Child abuse">
                                                    {% endif %}
                                                    <label class="govuk-label govuk-checkboxes__label" for="newCase_MonitoringCodes_ChildAbuse">Child abuse</label>
                                                </div>
                                                <div class="govuk-checkboxes__item">
                                                    {% if data['newCase_MonitoringCodes'] == 'Coronavirus offence' %}
                                                        <input class="govuk-checkboxes__input" id="newCase_MonitoringCodes_CoronavirusOffence" name="newCase_MonitoringCodes" type="checkbox" value="Coronavirus offence" checked>
                                                    {% else %}
                                                        <input class="govuk-checkboxes__input" id="newCase_MonitoringCodes_CoronavirusOffence" name="newCase_MonitoringCodes" type="checkbox" value="Coronavirus offence">
                                                    {% endif %}
                                                    <label class="govuk-label govuk-checkboxes__label" for="newCase_MonitoringCodes_CoronavirusOffence">Coronavirus offence</label>
                                                </div>
                                                <div class="govuk-checkboxes__item">
                                                    {% if data['newCase_MonitoringCodes'] == 'COVID bail' %}
                                                        <input class="govuk-checkboxes__input" id="newCase_MonitoringCodes_COVIDBail" name="newCase_MonitoringCodes" type="checkbox" value="COVID bail" checked>
                                                    {% else %}
                                                        <input class="govuk-checkboxes__input" id="newCase_MonitoringCodes_COVIDBail" name="newCase_MonitoringCodes" type="checkbox" value="COVID bail">
                                                    {% endif %}
                                                    <label class="govuk-label govuk-checkboxes__label" for="newCase_MonitoringCodes_COVIDBail">COVID bail</label>
                                                </div>
                                                <div class="govuk-checkboxes__item">
                                                    {% if data['newCase_MonitoringCodes'] == 'COVID CTL' %}
                                                        <input class="govuk-checkboxes__input" id="newCase_MonitoringCodes_COVIDCTL" name="newCase_MonitoringCodes" type="checkbox" value="COVID CTL" checked>
                                                    {% else %}
                                                        <input class="govuk-checkboxes__input" id="newCase_MonitoringCodes_COVIDCTL" name="newCase_MonitoringCodes" type="checkbox" value="COVID CTL">
                                                    {% endif %}
                                                    <label class="govuk-label govuk-checkboxes__label" for="newCase_MonitoringCodes_COVIDCTL">COVID CTL</label>
                                                </div>
                                                <div class="govuk-checkboxes__item">
                                                    {% if data['newCase_MonitoringCodes'] == 'Crime against an older person' %}
                                                        <input class="govuk-checkboxes__input" id="newCase_MonitoringCodes_OlderPerson" name="newCase_MonitoringCodes" type="checkbox" value="Crime against an older person" checked>
                                                    {% else %}
                                                        <input class="govuk-checkboxes__input" id="newCase_MonitoringCodes_OlderPerson" name="newCase_MonitoringCodes" type="checkbox" value="Crime against an older person">
                                                    {% endif %}
                                                    <label class="govuk-label govuk-checkboxes__label" for="newCase_MonitoringCodes_OlderPerson">Crime against an older person</label>
                                                </div>
                                                <div class="govuk-checkboxes__item">
                                                    {% if data['newCase_MonitoringCodes'] == 'Disability hate crime' %}
                                                        <input class="govuk-checkboxes__input" id="newCase_MonitoringCodes_Disability" name="newCase_MonitoringCodes" type="checkbox" value="Disability hate crime" checked>
                                                    {% else %}
                                                        <input class="govuk-checkboxes__input" id="newCase_MonitoringCodes_Disability" name="newCase_MonitoringCodes" type="checkbox" value="Disability hate crime">
                                                    {% endif %}
                                                    <label class="govuk-label govuk-checkboxes__label" for="newCase_MonitoringCodes_Disability">Disability hate crime</label>
                                                </div>
                                                <div class="govuk-checkboxes__item">
                                                    {% if data['newCase_MonitoringCodes'] == 'Domestic abuse' %}
                                                        <input class="govuk-checkboxes__input" id="newCase_MonitoringCodes_DomesticAbuse" name="newCase_MonitoringCodes" type="checkbox" value="Domestic abuse" checked>
                                                    {% else %}
                                                        <input class="govuk-checkboxes__input" id="newCase_MonitoringCodes_DomesticAbuse" name="newCase_MonitoringCodes" type="checkbox" value="Domestic abuse">
                                                    {% endif %}
                                                    <label class="govuk-label govuk-checkboxes__label" for="newCase_MonitoringCodes_DomesticAbuse">Domestic abuse</label>
                                                </div>
                                                <div class="govuk-checkboxes__item">
                                                    {% if data['newCase_MonitoringCodes'] == 'Extraordinary event (post 2019)' %}
                                                        <input class="govuk-checkboxes__input" id="newCase_MonitoringCodes_Extraordinary" name="newCase_MonitoringCodes" type="checkbox" value="Extraordinary event (post 2019)" checked>
                                                    {% else %}
                                                        <input class="govuk-checkboxes__input" id="newCase_MonitoringCodes_Extraordinary" name="newCase_MonitoringCodes" type="checkbox" value="Extraordinary event (post 2019)">
                                                    {% endif %}
                                                    <label class="govuk-label govuk-checkboxes__label" for="newCase_MonitoringCodes_Extraordinary">Extraordinary event (post 2019)</label>
                                                </div>
                                                <div class="govuk-checkboxes__item">
                                                    {% if data['newCase_MonitoringCodes'] == 'Fatality' %}
                                                        <input class="govuk-checkboxes__input" id="newCase_MonitoringCodes_Fatality" name="newCase_MonitoringCodes" type="checkbox" value="Fatality" checked>
                                                    {% else %}
                                                        <input class="govuk-checkboxes__input" id="newCase_MonitoringCodes_Fatality" name="newCase_MonitoringCodes" type="checkbox" value="Fatality">
                                                    {% endif %}
                                                    <label class="govuk-label govuk-checkboxes__label" for="newCase_MonitoringCodes_Fatality">Fatality</label>
                                                </div>
                                                <div class="govuk-checkboxes__item">
                                                    {% if data['newCase_MonitoringCodes'] == 'Forced marriage' %}
                                                        <input class="govuk-checkboxes__input" id="newCase_MonitoringCodes_ForcedMarriage" name="newCase_MonitoringCodes" type="checkbox" value="Forced marriage" checked>
                                                    {% else %}
                                                        <input class="govuk-checkboxes__input" id="newCase_MonitoringCodes_ForcedMarriage" name="newCase_MonitoringCodes" type="checkbox" value="Forced marriage">
                                                    {% endif %}
                                                    <label class="govuk-label govuk-checkboxes__label" for="newCase_MonitoringCodes_ForcedMarriage">Forced marriage</label>
                                                </div>
                                                <div class="govuk-checkboxes__item">
                                                    {% if data['newCase_MonitoringCodes'] == 'GAP or NGAP' %}
                                                        <input class="govuk-checkboxes__input" id="newCase_MonitoringCodes_GAP" name="newCase_MonitoringCodes" type="checkbox" value="GAP or NGAP" checked>
                                                    {% else %}
                                                        <input class="govuk-checkboxes__input" id="newCase_MonitoringCodes_GAP" name="newCase_MonitoringCodes" type="checkbox" value="GAP or NGAP">
                                                    {% endif %}
                                                    <label class="govuk-label govuk-checkboxes__label" for="newCase_MonitoringCodes_GAP">GAP or NGAP</label>
                                                </div>
                                                <div class="govuk-checkboxes__item">
                                                    {% if data['newCase_MonitoringCodes'] == 'Homophobic crime' %}
                                                        <input class="govuk-checkboxes__input" id="newCase_MonitoringCodes_Homophobic" name="newCase_MonitoringCodes" type="checkbox" value="Homophobic crime" checked>
                                                    {% else %}
                                                        <input class="govuk-checkboxes__input" id="newCase_MonitoringCodes_Homophobic" name="newCase_MonitoringCodes" type="checkbox" value="Homophobic crime">
                                                    {% endif %}
                                                    <label class="govuk-label govuk-checkboxes__label" for="newCase_MonitoringCodes_Homophobic">Homophobic crime</label>
                                                </div>
                                                <div class="govuk-checkboxes__item">
                                                    {% if data['newCase_MonitoringCodes'] == '‘Honour’ based abuse' %}
                                                        <input class="govuk-checkboxes__input" id="newCase_MonitoringCodes_Honour" name="newCase_MonitoringCodes" type="checkbox" value="‘Honour’ based abuse" checked>
                                                    {% else %}
                                                        <input class="govuk-checkboxes__input" id="newCase_MonitoringCodes_Honour" name="newCase_MonitoringCodes" type="checkbox" value="‘Honour’ based abuse">
                                                    {% endif %}
                                                    <label class="govuk-label govuk-checkboxes__label" for="newCase_MonitoringCodes_Honour">‘Honour’ based abuse</label>
                                                </div>
                                                <div class="govuk-checkboxes__item">
                                                    {% if data['newCase_MonitoringCodes'] == 'Human trafficking' %}
                                                        <input class="govuk-checkboxes__input" id="newCase_MonitoringCodes_Human" name="newCase_MonitoringCodes" type="checkbox" value="Human trafficking" checked>
                                                    {% else %}
                                                        <input class="govuk-checkboxes__input" id="newCase_MonitoringCodes_Human" name="newCase_MonitoringCodes" type="checkbox" value="Human trafficking">
                                                  {% endif %}
                                                    <label class="govuk-label govuk-checkboxes__label" for="newCase_MonitoringCodes_Human">Human trafficking</label>
                                                </div>
                                                <div class="govuk-checkboxes__item">
                                                    {% if data['newCase_MonitoringCodes'] == 'Identified victim' %}
                                                        <input class="govuk-checkboxes__input" id="newCase_MonitoringCodes_Victim" name="newCase_MonitoringCodes" type="checkbox" value="Identified victim" checked>
                                                    {% else %}
                                                        <input class="govuk-checkboxes__input" id="newCase_MonitoringCodes_Victim" name="newCase_MonitoringCodes" type="checkbox" value="Identified victim">
                                                    {% endif %}
                                                    <label class="govuk-label govuk-checkboxes__label" for="newCase_MonitoringCodes_Victim">Identified victim</label>
                                                </div>
                                                <div class="govuk-checkboxes__item">
                                                    {% if data['newCase_MonitoringCodes'] == 'Joint enterprise' %}
                                                        <input class="govuk-checkboxes__input" id="newCase_MonitoringCodes_Joint" name="newCase_MonitoringCodes" type="checkbox" value="Joint enterprise" checked>
                                                    {% else %}
                                                        <input class="govuk-checkboxes__input" id="newCase_MonitoringCodes_Joint" name="newCase_MonitoringCodes" type="checkbox" value="Joint enterprise">
                                                    {% endif %}
                                                    <label class="govuk-label govuk-checkboxes__label" for="newCase_MonitoringCodes_Joint">Joint enterprise</label>
                                                </div>
                                                <div class="govuk-checkboxes__item">
                                                    {% if data['newCase_MonitoringCodes'] == 'Major incident flag' %}
                                                        <input class="govuk-checkboxes__input" id="newCase_MonitoringCodes_Major" name="newCase_MonitoringCodes" type="checkbox" value="Major incident flag" checked>
                                                    {% else %}
                                                        <input class="govuk-checkboxes__input" id="newCase_MonitoringCodes_Major" name="newCase_MonitoringCodes" type="checkbox" value="Major incident flag">
                                                    {% endif %}
                                                    <label class="govuk-label govuk-checkboxes__label" for="newCase_MonitoringCodes_Major">Major incident flag</label>
                                                </div>
                                                <div class="govuk-checkboxes__item">
                                                    {% if data['newCase_MonitoringCodes'] == 'Media interest' %}
                                                        <input class="govuk-checkboxes__input" id="newCase_MonitoringCodes_Media" name="newCase_MonitoringCodes" type="checkbox" value="Media interest" checked>
                                                    {% else %}
                                                        <input class="govuk-checkboxes__input" id="newCase_MonitoringCodes_Media" name="newCase_MonitoringCodes" type="checkbox" value="Media interest">
                                                    {% endif %}
                                                    <label class="govuk-label govuk-checkboxes__label" for="newCase_MonitoringCodes_Media">Media interest</label>
                                                </div>
                                                <div class="govuk-checkboxes__item">
                                                    {% if data['newCase_MonitoringCodes'] == 'Mental health' %}
                                                        <input class="govuk-checkboxes__input" id="newCase_MonitoringCodes_MentalHealth" name="newCase_MonitoringCodes" type="checkbox" value="Mental health" checked>
                                                    {% else %}
                                                        <input class="govuk-checkboxes__input" id="newCase_MonitoringCodes_MentalHealth" name="newCase_MonitoringCodes" type="checkbox" value="Mental health">
                                                    {% endif %}
                                                    <label class="govuk-label govuk-checkboxes__label" for="newCase_MonitoringCodes_MentalHealth">Mental health</label>
                                                </div>
                                                <div class="govuk-checkboxes__item">
                                                    {% if data['newCase_MonitoringCodes'] == 'Nationality bar' %}
                                                        <input class="govuk-checkboxes__input" id="newCase_MonitoringCodes_Nationality" name="newCase_MonitoringCodes" type="checkbox" value="Nationality bar" checked>
                                                    {% else %}
                                                        <input class="govuk-checkboxes__input" id="newCase_MonitoringCodes_Nationality" name="newCase_MonitoringCodes" type="checkbox" value="Nationality bar">
                                                    {% endif %}
                                                    <label class="govuk-label govuk-checkboxes__label" for="newCase_MonitoringCodes_Nationality">Nationality bar</label>
                                                </div>
                                                <div class="govuk-checkboxes__item">
                                                    {% if data['newCase_MonitoringCodes'] == 'Police complaints' %}
                                                        <input class="govuk-checkboxes__input" id="newCase_MonitoringCodes_Police" name="newCase_MonitoringCodes" type="checkbox" value="Police complaints" checked>
                                                    {% else %}
                                                        <input class="govuk-checkboxes__input" id="newCase_MonitoringCodes_Police" name="newCase_MonitoringCodes" type="checkbox" value="Police complaints">
                                                    {% endif %}
                                                    <label class="govuk-label govuk-checkboxes__label" for="newCase_MonitoringCodes_Police">Police complaints</label>
                                                </div>
                                                <div class="govuk-checkboxes__item">
                                                    {% if data['newCase_MonitoringCodes'] == 'Pre-Charge decision' %}
                                                        <input class="govuk-checkboxes__input" id="newCase_MonitoringCodes_PreCharge" name="newCase_MonitoringCodes" type="checkbox" value="Pre-Charge decision" checked>
                                                    {% else %}
                                                        <input class="govuk-checkboxes__input" id="newCase_MonitoringCodes_PreCharge" name="newCase_MonitoringCodes" type="checkbox" value="Pre-Charge decision">
                                                    {% endif %}
                                                    <label class="govuk-label govuk-checkboxes__label" for="newCase_MonitoringCodes_PreCharge">Pre-Charge decision</label>
                                                </div>
                                                <div class="govuk-checkboxes__item">
                                                    {% if data['newCase_MonitoringCodes'] == 'Prohibited weapons' %}
                                                        <input class="govuk-checkboxes__input" id="newCase_MonitoringCodes_Weapons" name="newCase_MonitoringCodes" type="checkbox" value="Prohibited weapons" checked>
                                                    {% else %}
                                                        <input class="govuk-checkboxes__input" id="newCase_MonitoringCodes_Weapons" name="newCase_MonitoringCodes" type="checkbox" value="Prohibited weapons">
                                                    {% endif %}
                                                    <label class="govuk-label govuk-checkboxes__label" for="newCase_MonitoringCodes_Weapons">Prohibited weapons</label>
                                                </div>
                                                <div class="govuk-checkboxes__item">
                                                    {% if data['newCase_MonitoringCodes'] == 'Racist crime' %}
                                                        <input class="govuk-checkboxes__input" id="newCase_MonitoringCodes_Racist" name="newCase_MonitoringCodes" type="checkbox" value="Racist crime" checked>
                                                    {% else %}
                                                        <input class="govuk-checkboxes__input" id="newCase_MonitoringCodes_Racist" name="newCase_MonitoringCodes" type="checkbox" value="Racist crime">
                                                    {% endif %}
                                                    <label class="govuk-label govuk-checkboxes__label" for="newCase_MonitoringCodes_Racist">Racist crime</label>
                                                </div>
                                                <div class="govuk-checkboxes__item">
                                                    {% if data['newCase_MonitoringCodes'] == 'Rape' %}
                                                        <input class="govuk-checkboxes__input" id="newCase_MonitoringCodes_Rape" name="newCase_MonitoringCodes" type="checkbox" value="Rape" checked>
                                                    {% else %}
                                                        <input class="govuk-checkboxes__input" id="newCase_MonitoringCodes_Rape" name="newCase_MonitoringCodes" type="checkbox" value="Rape">
                                                    {% endif %}
                                                    <label class="govuk-label govuk-checkboxes__label" for="newCase_MonitoringCodes_Rape">Rape</label>
                                                </div>
                                                <div class="govuk-checkboxes__item">
                                                    {% if data['newCase_MonitoringCodes'] == 'Real time case conversations' %}
                                                        <input class="govuk-checkboxes__input" id="newCase_MonitoringCodes_Real" name="newCase_MonitoringCodes" type="checkbox" value="Real time case conversations" checked>
                                                    {% else %}
                                                        <input class="govuk-checkboxes__input" id="newCase_MonitoringCodes_Real" name="newCase_MonitoringCodes" type="checkbox" value="Real time case conversations">
                                                    {% endif %}
                                                    <label class="govuk-label govuk-checkboxes__label" for="newCase_MonitoringCodes_Real">Real time case conversations</label>
                                                </div>
                                                <div class="govuk-checkboxes__item">
                                                    {% if data['newCase_MonitoringCodes'] == 'Religious crime' %}
                                                        <input class="govuk-checkboxes__input" id="newCase_MonitoringCodes_Religious" name="newCase_MonitoringCodes" type="checkbox" value="Religious crime" checked>
                                                    {% else %}
                                                        <input class="govuk-checkboxes__input" id="newCase_MonitoringCodes_Religious" name="newCase_MonitoringCodes" type="checkbox" value="Religious crime">
                                                    {% endif %}
                                                    <label class="govuk-label govuk-checkboxes__label" for="newCase_MonitoringCodes_Religious">Religious crime</label>
                                                </div>
                                                <div class="govuk-checkboxes__item">
                                                    {% if data['newCase_MonitoringCodes'] == 'Transphobic crime' %}
                                                        <input class="govuk-checkboxes__input" id="newCase_MonitoringCodes_Transphobic" name="newCase_MonitoringCodes" type="checkbox" value="Transphobic crime" checked>
                                                    {% else %}
                                                        <input class="govuk-checkboxes__input" id="newCase_MonitoringCodes_Transphobic" name="newCase_MonitoringCodes" type="checkbox" value="Transphobic crime">
                                                    {% endif %}
                                                    <label class="govuk-label govuk-checkboxes__label" for="newCase_MonitoringCodes_Transphobic">Transphobic crime</label>
                                                </div>
                                                <div class="govuk-checkboxes__item">
                                                    {% if data['newCase_MonitoringCodes'] == 'Vulnerable or intimidated victim' %}
                                                        <input class="govuk-checkboxes__input" id="newCase_MonitoringCodes_Vulnerable" name="newCase_MonitoringCodes" type="checkbox" value="Vulnerable or intimidated victim" checked>
                                                    {% else %}
                                                        <input class="govuk-checkboxes__input" id="newCase_MonitoringCodes_Vulnerable" name="newCase_MonitoringCodes" type="checkbox" value="Vulnerable or intimidated victim">
                                                    {% endif %}
                                                    <label class="govuk-label govuk-checkboxes__label" for="newCase_MonitoringCodes_Vulnerable">Vulnerable or intimidated victim</label>
                                                </div>
                                            </div>

                                        </fieldset>
                                    </div>                    

                                </div>
                            </div>
                        </fieldset>
                    </div>                    
                    <!-- OPTION 3                                    - END -->

                </fieldset>

                <input id="createCase_E_Complete" name="createCase_E_Complete" type="text" value="true" style="display: none;">
                <button type="submit" class="govuk-button" style="">Continue</button>
                <button type="button" onclick="location.href='01-search';" class="non-button margin-left" id="">Cancel</button>

            </form>

        </div>
    </div>
    <div class="govuk-grid-column-one-third">

    </div>
</div>

{% endblock %}